Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

ci: enable github actions
  .github/workflows/ubuntu.yml
Owners: none

[Encode] Enable report key and add one more platform for NullHw
  media_driver/agnostic/common/os/mos_os_mock_adaptor.cpp
  media_driver/agnostic/common/os/mos_os_mock_adaptor.h
  media_driver/linux/common/os/mos_os_mock_adaptor_specific.cpp
  media_driver/linux/common/os/mos_os_mock_adaptor_specific.h
Owners: none

[VP] Fix chromakey issue for CCS WL
  media_driver/agnostic/common/hw/mhw_mi.h
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.cpp
Owners: none

[Decode] Correct compute walker params
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp1_packet_g12.cpp
Owners: none

[Encode] Add codec mode check on MHW level for weighted pred
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[VP] APO vebox multipipe enable
  media_driver/agnostic/common/hw/mhw_sfc.h
  media_driver/agnostic/common/hw/mhw_vebox.h
  media_driver/agnostic/gen12/hw/mhw_sfc_g12_X.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_packet_pipe.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/scalability/vp_scalability_option.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/scalability/vp_scalability_option.h
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.cpp
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.h
Owners: none

[Encode] Fixed VP9 444 frame header
  media_driver/linux/common/codec/ddi/media_libvpx_vp9.cpp
Owners: none

[VP] add sfc2pass perf mode
  media_driver/agnostic/common/vp/hal/vphal_render_sfc_base.h
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
Owners: none

[MOS] check the cmd buffer remaining
  media_driver/agnostic/common/os/mos_os.h
  media_driver/linux/common/os/mos_os_specific.c
Owners: none

[Decode] Reusing retired temporal buffer other than empty buffer to improve the robustness with error stream.
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_reference_associated_buffer.h
Owners: none

[Media Common] Integrate gmm new API for external surface creation
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/linux/common/os/mos_os_specific.h
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Bump up media version to 21.1.0
  CMakeLists.txt
  README.md
Owners: none

[MOS] Reenable the async mos
  media_driver/media_driver_next/agnostic/common/os/mos_cmdbufmgr_next.cpp
  media_driver/media_driver_next/agnostic/common/os/mos_commandbuffer_next.h
Owners: none

[Decode] Correcting bit depth for decode basic feature
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_basic_feature.cpp
Owners: none

[CP] Enable Secure Av1 FilmGrain
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_grv_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp2_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_surf_init_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_surf_init_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/media_srcs.cmake
Owners: none

[Decode] Add decode caps for LST
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Add some fix for encode
  media_driver/media_driver_next/agnostic/common/codec/hal/enc/hevc/features/encode_hevc_header_packer.cpp
Owners: none

[Encode] Fix MemNinja log issues
  media_driver/media_driver_next/agnostic/common/os/mos_util_debug_next.cpp
Owners: none

[CP] Fix VAConfigAttribEncryption caps reporting
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Interface] Enable unified deissue dump interface
  media_driver/agnostic/common/codec/hal/codechal_debug.cpp
  media_driver/agnostic/common/codec/hal/codechal_debug.h
  media_driver/agnostic/common/codec/hal/codechal_debug_config_manager.cpp
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/shared/media_debug_config_manager.cpp
  media_driver/agnostic/common/shared/media_debug_config_manager.h
  media_driver/agnostic/common/shared/media_debug_interface.cpp
  media_driver/agnostic/common/shared/media_debug_interface.h
  media_driver/agnostic/common/shared/media_debug_utils.h
  media_driver/agnostic/common/shared/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_debug_config_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_debug_config_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_debug_interface.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_debug_interface.h
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_dumper.h
Owners: none

[Encode] Add VBVBufferFullness check for HEVC VDEnc BRC
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Add P frame flag
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox.h
Owners: none

[Decode] Fix SFC histogram issue on APO path
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_sfc_histogram_postsubpipeline.cpp
Owners: none

[Decode] AV1d driver latency optimization
  media_driver/agnostic/gen12/codec/shared/codec_def_decode_av1.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_tile_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_tile_packet.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
Owners: none

[Decode] Separate VAContextParameterUpdateBufferType from default branch
  media_driver/linux/common/codec/ddi/media_ddi_decode_base.cpp
Owners: none

[Decode] Refine decode reference associated buffer management to avoid potential shared buffer overwritten
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_temporal_buffers.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_temporal_buffers.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_reference_associated_buffer.h
Owners: none

[Decode] Hard code GPU node to MOS_GPU_NODE_VIDEO for multiple pipe decode.
  media_driver/media_driver_next/agnostic/common/shared/mediacontext/media_context.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacontext/media_context.h
Owners: none

[Encode] Fix CSC SFC width/height programming
  media_driver/agnostic/common/codec/hal/codechal_encode_csc_ds.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_sfc_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Logs for report Tile mode internally allocated
  media_driver/agnostic/common/os/mos_util_user_feature_keys.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
Owners: none

Revert "[CP] Enable Secure Av1 FilmGrain"
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_grv_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp2_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_surf_init_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_surf_init_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/media_srcs.cmake
Owners: none

[VP] Add different 2-pass scaling parameter support for upscaling and downscaling
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_caps.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/vp_platform_interface.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/vp_platform_interface.h
  media_driver/media_driver_next/agnostic/gen12_tgllp/vp/hal/platform_interface/vp_platform_interface_g12_tgllp.cpp
  media_driver/media_driver_next/agnostic/gen12_tgllp/vp/hal/platform_interface/vp_platform_interface_g12_tgllp.h
Owners: none

Revert "[VP] Common: VPP Policy update and Render CMD packet refine"
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/hw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_kernelset.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_packet_pipe.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
  media_driver/media_driver_next/agnostic/gen12_tgllp/vp/hal/platform_interface/vp_platform_interface_g12_tgllp.cpp
Owners: none

Revert "[Decode] AV1d driver latency optimization"
  media_driver/agnostic/gen12/codec/shared/codec_def_decode_av1.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_tile_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_tile_packet.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
Owners: none

[Decode] Correcting SFD line buffer size for decode scalability case.
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
Owners: none

[VP] Correct the first pass`s out surface
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
Owners: none

[Decode] ADL_S open source patch
  README.md
  docs/media_features.md
  media_driver/cmake/linux/media_gen_flags_linux.cmake
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
  media_driver/linux/gen12/ddi/media_sysinfo_g12.cpp
  media_driver/media_interface/media_interfaces_m12_adls/media_interfaces_g12_adls.cpp
  media_driver/media_interface/media_interfaces_m12_adls/media_interfaces_g12_adls.h
  media_driver/media_interface/media_interfaces_m12_adls/media_srcs.cmake
  media_driver/media_interface/media_srcs.cmake
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Fix media driver crash by return error code instead of assert
  media_driver/linux/common/ddi/media_libva_putsurface_linux.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Refine feature parameter for scaling csc mirror and rotate
  media_driver/agnostic/gen11/hw/mhw_sfc_g11_X.cpp
  media_driver/agnostic/gen12/hw/mhw_sfc_g12_X.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
Owners: none

Revert "[Encode] Add codec mode check on MHW level for weighted pred"
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[Decode] optimize command buffer size for OCA
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
Owners: none
