Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

Revert "[MOS] Remove the IPC in CreateAssociationNode"
  media_common/linux/common/os/mos_os_specific.h
  media_driver/agnostic/common/os/mos_context.h
  media_driver/linux/common/os/mos_context_specific.cpp
  media_driver/linux/common/os/mos_context_specific.h
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/linux/common/os/mos_os_specific.c
Owners: none

[Media Common] Bump up version to 22.2.0
  CMakeLists.txt
Owners: none

[Media Common] Resolve build issues for Alchemist open source free-kernel build
  media_driver/agnostic/Xe_M/Xe_HPM/codec/hal/codechal_kernel_olp_mdf_xe_hpm.cpp
  media_driver/agnostic/Xe_M/Xe_HPM/vp/hal/vphal_render_vebox_xe_hpm.cpp
  media_driver/agnostic/Xe_M/Xe_HPM/vp/hal/vphal_renderer_xe_hpm.cpp
  media_driver/agnostic/Xe_M/Xe_XPM/codec/hal/codechal_kernel_olp_mdf_xe_xpm.cpp
  media_driver/agnostic/Xe_M/Xe_XPM/vp/hal/vphal_renderer_xe_xpm.cpp
  media_driver/agnostic/Xe_M/Xe_XPM_plus/vp/hal/vphal_renderer_xe_xpm_plus.cpp
  media_driver/media_interface/media_interfaces_dg2/media_interfaces_dg2.cpp
  media_driver/media_interface/media_interfaces_pvc/media_interfaces_pvc.cpp
  media_driver/media_interface/media_interfaces_xehp_sdv/media_interfaces_xehp_sdv.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_HPM/vp/hal/platform_interface/vp_platform_interface_xe_hpm.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_plus/shared/mediacopy/media_render_copy_xe_xpm_plus.cpp
Owners: none

[VP] update Render eu kernel which based on compiler using Write Combine feature for Word-level Write
  media_driver/agnostic/Xe_M/Xe_XPM_plus/vp/hal/vphal_renderer_xe_xpm_plus.cpp
  media_driver/agnostic/Xe_M/Xe_XPM_plus/vp/kernel/cmfcpatch/igvpkrn_xe_xpm_plus_cmfcpatch.c
Owners: none

[Encode] Clean up VME initialization code
  media_driver/media_interface/media_interfaces_dg2/media_interfaces_dg2.cpp
  media_driver/media_interface/media_interfaces_dg2/media_interfaces_dg2.h
  media_driver/media_interface/media_interfaces_pvc/media_interfaces_pvc.cpp
  media_driver/media_interface/media_interfaces_pvc/media_interfaces_pvc.h
Owners: none

[Encode] BRC ROI fix and perf improvement
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode][VP9]: Golden frame interval fix
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.cpp
Owners: none

[Encode] Enable more flexiable adaptive GOP decision and update kernel
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix iscaling issue
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_fc_filter.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_fc_kernel.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_fc_types.h
Owners: none

[Encode] Remove legacy mi Interface in av1
  media_common/agnostic/common/shared/null_hardware.h
  media_driver/agnostic/common/shared/null_hardware.cpp
  media_softlet/agnostic/common/hw/mhw_utilities_next.cpp
  media_softlet/agnostic/common/hw/mhw_utilities_next.h
  media_softlet/agnostic/common/shared/packet/media_packet.cpp
  media_softlet/agnostic/common/shared/packet/media_packet.h
Owners: none

[Media Common] Linux media initialize refactor
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] GLK enable VP8
  media_driver/linux/gen9/ddi/media_sku_wa_g9.cpp
  media_driver/media_interface/media_interfaces_m9_glk/media_interfaces_g9_glk.cpp
  media_driver/media_interface/media_interfaces_m9_glk/media_interfaces_g9_glk.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Cases not enter APO clean up: DI+Render case
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_fc_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_fc_filter.h
  media_softlet/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_scaling_filter.h
Owners: none

[Encode] Update logic for Slice Size report
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_avc_g11.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

Return zero subpicture formats
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Report HEVC features and block sizes for gen11
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
  media_driver/linux/gen11/ddi/media_libva_caps_g11.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] SetTileModebyForce
  media_driver/linux/common/os/media_srcs.cmake
  media_driver/linux/common/os/mos_graphicsresource_specific.cpp
  media_driver/linux/common/os/mos_graphicsresource_specific_ext.cpp
  media_softlet/linux/common/os/media_srcs.cmake
  media_softlet/linux/common/os/mos_graphicsresource_specific_next.cpp
  media_softlet/linux/common/os/mos_graphicsresource_specific_next_ext.cpp
Owners: none

[Media Common] Reduce library dependency
  cmrtlib/linux/hardware/drm_device.h
  media_driver/linux/common/os/i915/include/xf86drm.h
  media_driver/linux/common/os/media_srcs.cmake
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/media_top_cmake.cmake
Owners: none

Revert "[MOS] Remove the IPC in CreateAssociationNode"
  media_common/linux/common/os/mos_os_specific.h
  media_driver/agnostic/common/os/mos_context.h
  media_driver/linux/common/os/mos_context_specific.cpp
  media_driver/linux/common/os/mos_context_specific.h
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/linux/common/os/mos_os_specific.c
Owners: none

[Encode] GLK enable VP8
  media_driver/linux/gen9/ddi/media_sku_wa_g9.cpp
  media_driver/media_interface/media_interfaces_m9_glk/media_interfaces_g9_glk.cpp
  media_driver/media_interface/media_interfaces_m9_glk/media_interfaces_g9_glk.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Resolve build issues for Alchemist open source free-kernel build
  media_driver/agnostic/Xe_M/Xe_HPM/codec/hal/codechal_kernel_olp_mdf_xe_hpm.cpp
  media_driver/agnostic/Xe_M/Xe_HPM/vp/hal/vphal_render_vebox_xe_hpm.cpp
  media_driver/agnostic/Xe_M/Xe_HPM/vp/hal/vphal_renderer_xe_hpm.cpp
  media_driver/agnostic/Xe_M/Xe_XPM/codec/hal/codechal_kernel_olp_mdf_xe_xpm.cpp
  media_driver/agnostic/Xe_M/Xe_XPM/vp/hal/vphal_renderer_xe_xpm.cpp
  media_driver/agnostic/Xe_M/Xe_XPM_plus/vp/hal/vphal_renderer_xe_xpm_plus.cpp
  media_driver/media_interface/media_interfaces_dg2/media_interfaces_dg2.cpp
  media_driver/media_interface/media_interfaces_pvc/media_interfaces_pvc.cpp
  media_driver/media_interface/media_interfaces_xehp_sdv/media_interfaces_xehp_sdv.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_HPM/vp/hal/platform_interface/vp_platform_interface_xe_hpm.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_plus/shared/mediacopy/media_render_copy_xe_xpm_plus.cpp
Owners: none

Bump up version to 22.1.1
  CMakeLists.txt
Owners: none

Revert "[VP] Cases not enter APO clean up: DI+Render case"
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_fc_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_fc_filter.h
  media_softlet/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_scaling_filter.h
Owners: none

Revert "[Encode] Clean up VME initialization code"
  media_driver/media_interface/media_interfaces_dg2/media_interfaces_dg2.cpp
  media_driver/media_interface/media_interfaces_dg2/media_interfaces_dg2.h
  media_driver/media_interface/media_interfaces_pvc/media_interfaces_pvc.cpp
  media_driver/media_interface/media_interfaces_pvc/media_interfaces_pvc.h
Owners: none

[Encode] Refactor for the fix of CP regression
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_base/hw/mhw_mi_xe_xpm_base_impl.h
Owners: none

[Media Common] disable ult on deissue and release build linux
  media_driver/media_top_cmake.cmake
Owners: none

Enable HDR Tone Mapping on all Gen9.5 KBL/CFL
  media_driver/linux/gen9/ddi/media_sku_wa_g9.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Enable correct behaviours
  media_common/agnostic/common/codec/shared/codec_def_common_encode.h
Owners: none

[Media Common] Fix the access violation
  media_driver/linux/common/media_interfaces/media_interfaces.cpp
Owners: none

[Script] [Smart Validation] devult should depends on generate_classtrace
  media_driver/linux/ult/ult_app/CMakeLists.txt
Owners: none

[VP] force procamp on reder when ve + render in APO
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_csc_filter.h
  media_softlet/agnostic/common/vp/hal/features/vp_fc_filter.cpp
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline.h
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[Encode] modify vdenc cmd parameters
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
Owners: none

[Media_Common] Create Surface as uncompress by default
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/linux/Xe_M/ddi/media_sku_wa_xe.cpp
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix TDR issue
  media_driver/agnostic/Xe_M/Xe_XPM/vp/hal/vphal_render_vebox_xe_xpm.cpp
  media_softlet/agnostic/common/vp/hal/shared/scalability/vp_scalability_multipipe.cpp
Owners: none

[VP] enable DV 1k1DLut optimization
  media_driver/agnostic/common/hw/mhw_vebox.h
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.h
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_softlet/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
Owners: none

[Decode] Move HUC files
  media_softlet/agnostic/common/codec/hal/dec/avc/pipeline/decode_avc_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/mpeg2/pipeline/decode_mpeg2_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/hucItf/decode_huc_packet_creator.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/hucItf/decode_huc_packet_creator.h
  media_softlet/agnostic/common/codec/hal/dec/shared/hucItf/huc_streamout_interface.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/hucItf/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/shared/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/vp9/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/vp9/packet/decode_huc_prob_update_packet.cpp
  media_softlet/agnostic/common/codec/hal/dec/vp9/packet/decode_huc_prob_update_packet.h
  media_softlet/agnostic/common/codec/hal/dec/vp9/packet/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/vp9/pipeline/decode_vp9_buffer_update.h
Owners: none

[Encode] Fix encode kw issues
  media_driver/agnostic/common/codec/hal/codechal_kernel_hme.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] tcbrc perf opt- streamIn
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[VP] Cases not enter APO clean up: DI+Render case
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_fc_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_fc_filter.h
  media_softlet/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_scaling_filter.h
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[Upstream] Upstream RPLS
  media_driver/linux/gen12/ddi/media_sysinfo_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com
