Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

correct HEVC frame type capability of TGL HEVC support I B lowdelay B
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

correct attribute of HEVC SCC encode surfaces
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Allocate temp surface as system memory in GetImage
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Modify scalability policy
  media_driver/agnostic/gen11/codec/hal/codechal_encode_hevc_g11.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_hevc_g11.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_vp9_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[CP] add trace event in VA
  media_driver/agnostic/common/os/mos_os_trace_event.h
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Update resource usage type logic for PAT cache policy
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/agnostic/common/os/mos_os.h
  media_driver/agnostic/common/os/mos_os_hw.h
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/agnostic/common/os/mos_graphicsresource_next.h
  media_driver/media_driver_next/agnostic/common/shared/bufferMgr/media_allocator.cpp
  media_driver/media_driver_next/agnostic/common/shared/bufferMgr/media_allocator.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[VP] Add interface to check whether parameters valid
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_render.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
Owners: none

[VP] New mi hwcmds and interface
  media_driver/agnostic/common/hw/mhw_mi_generic.h
  media_driver/agnostic/gen10/hw/mhw_mi_g10_X.cpp
  media_driver/agnostic/gen10/hw/mhw_mi_g10_X.h
  media_driver/agnostic/gen11/hw/mhw_mi_g11_X.cpp
  media_driver/agnostic/gen11/hw/mhw_mi_g11_X.h
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.cpp
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.h
  media_driver/agnostic/gen8/hw/mhw_mi_g8_X.cpp
  media_driver/agnostic/gen8/hw/mhw_mi_g8_X.h
  media_driver/agnostic/gen9/hw/mhw_mi_g9_X.cpp
  media_driver/agnostic/gen9/hw/mhw_mi_g9_X.h
Owners: none

[Encode] Modify BRC params for Flat Gop
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Fix av1 decode corruption issue on gen12
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_interface.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_tile_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.cpp
Owners: none

[CP] Refactor--remove encType in secure decoder class
  media_driver/agnostic/common/codec/hal/codechal_decode_scalability.cpp
  media_driver/agnostic/common/codec/hal/codechal_secure_decode_interface.h
  media_driver/agnostic/common/codec/hal/codechal_setting.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_scalability_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vp9_g12.cpp
Owners: none

[Media Interface] Apo DDI refactor switch
  media_driver/media_driver_next/agnostic/common/os/mos_utilities_next.h
Owners: none

[Decode] Refacotring of moving the definition of HCP_RT_PHASE_INDICATOR to MHW
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_scalability_g12.h
Owners: none

[Decode] Fix av1 decode regression issue
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] New state_heap hwcmds and interface
  media_driver/agnostic/common/hw/mhw_state_heap_generic.h
  media_driver/agnostic/gen10/hw/mhw_state_heap_g10.c
  media_driver/agnostic/gen10/hw/mhw_state_heap_g10.h
  media_driver/agnostic/gen11/hw/mhw_state_heap_g11.c
  media_driver/agnostic/gen11/hw/mhw_state_heap_g11.h
  media_driver/agnostic/gen12/hw/mhw_state_heap_g12.c
  media_driver/agnostic/gen12/hw/mhw_state_heap_g12.h
  media_driver/agnostic/gen8/hw/mhw_state_heap_g8.c
  media_driver/agnostic/gen8/hw/mhw_state_heap_g8.h
  media_driver/agnostic/gen9/hw/mhw_state_heap_g9.c
  media_driver/agnostic/gen9/hw/mhw_state_heap_g9.h
Owners: none

[Media Common] Fix BLT page fault issue
  media_driver/agnostic/common/hw/mhw_blt.cpp
  media_driver/agnostic/common/hw/mhw_blt.h
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_blt.cpp
Owners: none

media_libva_caps: support VA_RT_FORMAT_RGBP for VPP on GEN9
  media_driver/linux/common/ddi/media_libva_caps.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Add trace for encode
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

unify libva dependencies to 2.8.0
  cmrtlib/linux/CMakeLists.txt
  media_driver/cmake/linux/media_include_paths_linux.cmake
  media_driver/linux/ult/CMakeLists.txt
Owners: none

[vpp] add Format_AYUV to IS_YUV_FORMAT(format)
  media_driver/agnostic/common/os/mos_resource_defs.h
Owners: none

[Encode] Optimize Threadspace Management in HEVC Encode
  media_driver/agnostic/gen12/codec/hal/codechal_encode_csc_ds_mdf_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_brc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_mbenc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_sw_scoreboard_mdf_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_wp_mdf_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_kernel_hme_mdf_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_kernel_intra_dist_mdf_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Revert Zero 4x/16x/32x MV and 4xDist surfaces after allocation
  media_driver/agnostic/gen12/codec/hal/codechal_kernel_hme_mdf_g12.cpp
Owners: none

[Decode] Decode cache policy update
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_temporal_buffers.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_internal_target.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/decode_input_bitstream.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_basic_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
Owners: none

[Encode] Fix kw issues
  media_driver/agnostic/gen12/codec/hal/codechal_encode_csc_ds_mdf_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Modify QpAjustment params
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Add support for non-uniform CDEF strengths
  media_driver/agnostic/gen12/codec/shared/codec_def_common_av1.h
Owners: none

Revert "[Encode] Optimize Threadspace Management in HEVC Encode"
  media_driver/agnostic/gen12/codec/hal/codechal_encode_csc_ds_mdf_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_brc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_mbenc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_sw_scoreboard_mdf_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_wp_mdf_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_kernel_hme_mdf_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_kernel_intra_dist_mdf_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Encode] Modify BRC params for Flat Gop"
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix APO issue and fix regression part 1
  media_driver/agnostic/common/vp/hal/vphal_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
Owners: none

[Encode] Re-Optimize Threadspace Management in HEVC Encode
  media_driver/agnostic/gen12/codec/hal/codechal_encode_csc_ds_mdf_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_brc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_mbenc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_sw_scoreboard_mdf_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_wp_mdf_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_kernel_hme_mdf_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_kernel_intra_dist_mdf_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Fix command buffer/patch list size not big enough issue for AV1 frame based decoding case
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_g12_X.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.cpp
  media_driver/media_driver_next/agnostic/common/shared/scalability/media_scalability.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
Owners: none

[Decode] Buffer name missing during resize leading to assert on release-internal
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_internal_target.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline_adapter.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_adapter_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_adapter_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
Owners: none

Revert "[VP] New state_heap hwcmds and interface"
  media_driver/agnostic/common/hw/mhw_state_heap_generic.h
  media_driver/agnostic/gen10/hw/mhw_state_heap_g10.c
  media_driver/agnostic/gen10/hw/mhw_state_heap_g10.h
  media_driver/agnostic/gen11/hw/mhw_state_heap_g11.c
  media_driver/agnostic/gen11/hw/mhw_state_heap_g11.h
  media_driver/agnostic/gen12/hw/mhw_state_heap_g12.c
  media_driver/agnostic/gen12/hw/mhw_state_heap_g12.h
  media_driver/agnostic/gen8/hw/mhw_state_heap_g8.c
  media_driver/agnostic/gen8/hw/mhw_state_heap_g8.h
  media_driver/agnostic/gen9/hw/mhw_state_heap_g9.c
  media_driver/agnostic/gen9/hw/mhw_state_heap_g9.h
Owners: none

[TGL] Disable E2E Compression for HW revisions 0 to 2
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "add Format_AYUV to IS_YUV_FORMAT(format)"
  media_driver/agnostic/common/os/mos_resource_defs.h
Owners: none

Implemented the context priority setting in mos.
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/agnostic/common/os/mos_os.h
  media_driver/linux/common/os/mos_context_specific.cpp
  media_driver/linux/common/os/mos_context_specific.h
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.h
Owners: none

Implemented the media Gpu context priority setting.
  media_driver/linux/common/codec/ddi/media_ddi_decode_base.cpp
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/codec/ddi/media_libva_decoder.h
  media_driver/linux/common/codec/ddi/media_libva_encoder.cpp
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Fix AV1 film grain output surface initialization
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.cpp
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.h
Owners: none

Update surface info of m_filmGrainProcParams->m_inputSurface
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
Owners: none

[Upstream] RKL open source
  README.md
  docs/media_features.md
  media_driver/cmake/linux/media_gen_flags_linux.cmake
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
  media_driver/linux/gen12/ddi/media_sysinfo_g12.cpp
  media_driver/media_interface/media_interfaces_m12_rkl/media_interfaces_g12_rkl.cpp
  media_driver/media_interface/media_interfaces_m12_rkl/media_interfaces_g12_rkl.h
  media_driver/media_interface/media_interfaces_m12_rkl/media_srcs.cmake
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
