Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[VP] Code prepare for sfc service 4
  media_driver/agnostic/common/hw/mhw_sfc.cpp
  media_driver/agnostic/common/hw/mhw_sfc.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_sfc_common.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.cpp
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.h
Owners: none

[Encode] Update versions and MD5 of kernels
  media_driver/agnostic/gen11/codec/kernel/igcodeckrn_g11.c
  media_driver/agnostic/gen11/codec/kernel/igcodeckrn_g11_info.csv
Owners: none

[Encode] VP9 VDEnc fix width and height settings preventing unaligned resolutions from working
  media_driver/agnostic/gen11/codec/hal/codechal_huc_cmd_initializer_g11.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_huc_cmd_initializer_g11.h
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_hcp_g11_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
Owners: none

[VP] Add interpolation method on Linux.
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: none

correct the reference capibility for gen11 and gen12
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

add version check for new version api support
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[MOS] Media trace for message event
  media_driver/media_driver_next/agnostic/common/os/mos_utilities_next.h
Owners: none

[Encode] VP9 VDEnc Integrate HPU kernel with pakOnly flag
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.h
Owners: none

[Media Common] Code prepare for sfc service 5
  media_driver/agnostic/common/renderhal/renderhal.h
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/kdll/hal_kerneldll.h
  media_driver/media_driver_next/agnostic/common/shared/media_common_defs.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_render.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_obj_factories.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_obj_factories.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
Owners: none

[VP] Refine VP SW Filter
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/hw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/hw_filter_pipe.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_handle.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_handle.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_obj_factories.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_obj_factories.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
Owners: none

[Decode] Fixing command buffer dump for scalability decode on Gen12.
  media_driver/agnostic/gen12/codec/hal/codechal_decode_scalability_g12.cpp
Owners: none

[VP] Set bUse8x8Filter to true for both avs 8x8 and bilinear
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
Owners: none

[Decode] add lmem support #3
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/os/mos_graphicsresource_specific.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/linux/common/os/mos_graphicsresource_specific_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Fixed HEVC VME CSC issue
  media_driver/agnostic/gen12/codec/hal/codechal_encode_csc_ds_mdf_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Update kernels (part 1)
  media_driver/agnostic/gen11/codec/kernel/igcodeckrn_g11.c
  media_driver/agnostic/gen11/codec/kernel/igcodeckrn_g11_info.csv
Owners: none

[Encode] Fix programming for CSC
  media_driver/agnostic/gen11/codec/hal/codechal_encode_csc_ds_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_csc_ds_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[VP] Set bUse8x8Filter to true for both avs 8x8 and bilinear"
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
Owners: none

Revert "[Media Common] Code prepare for sfc service 5"
  media_driver/agnostic/common/renderhal/renderhal.h
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/kdll/hal_kerneldll.h
  media_driver/media_driver_next/agnostic/common/shared/media_common_defs.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_render.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.h
  media_driver/media_driver_next/agnostic/common/shared/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_handle.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_handle.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_obj_factories.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_obj_factories.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
Owners: none

Revert "[VP] Code prepare for sfc service 4"
  media_driver/agnostic/common/hw/mhw_sfc.cpp
  media_driver/agnostic/common/hw/mhw_sfc.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_sfc_common.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.cpp
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.h
Owners: none

Implemented the context priority setting in mos.
  media_driver/agnostic/common/os/mos_os.h
  media_driver/linux/common/os/mos_context_specific.cpp
  media_driver/linux/common/os/mos_context_specific.h
  media_driver/linux/common/os/mos_os_specific.c
Owners: none

media_libva_caps: support VA_RT_FORMAT_RGBP for VPP on GEN9
  media_driver/linux/common/ddi/media_libva_caps.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

correct HEVC frame type capability of TGL HEVC support I B lowdelay B
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Encoder_VP9: Add infrastructure for vme+pak vp9 enc enablement
  media_driver/agnostic/common/codec/hal/codechal_encode_csc_ds.cpp
  media_driver/agnostic/common/codec/shared/codec_def_common_vp9.h
  media_driver/agnostic/common/codec/shared/codec_def_decode_vp9.h
  media_driver/cmake/linux/media_feature_flags_linux.cmake
  media_driver/linux/common/codec/ddi/media_srcs.cmake
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/os/linux_system_info.h
  media_driver/linux/gen10/ddi/media_libva_caps_g10.cpp
  media_driver/linux/gen9/ddi/media_sku_wa_g9.cpp
  media_driver/media_interface/media_interfaces_m9_kbl/media_interfaces_g9_kbl.cpp
  media_driver/media_interface/media_interfaces_m9_kbl/media_interfaces_g9_kbl.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Add VP9 Encoder for Gen9/KBL
  media_driver/agnostic/common/codec/hal/codechal_encode_vp9.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_vp9.h
  media_driver/agnostic/common/codec/hal/media_srcs.cmake
  media_driver/agnostic/gen10/hw/mhw_mi_g10_X.cpp
  media_driver/agnostic/gen9/codec/hal/codechal_encode_mpeg2_g9.cpp
  media_driver/agnostic/gen9/codec/hal/codechal_encode_vp9_g9.cpp
  media_driver/agnostic/gen9/codec/hal/codechal_encode_vp9_g9.h
  media_driver/agnostic/gen9/codec/hal/media_srcs.cmake
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

Encoder_VP9: Extend the hw commands for gen9
  media_driver/agnostic/gen9_kbl/hw/vdbox/mhw_vdbox_hcp_g9_kbl.cpp
  media_driver/agnostic/gen9_kbl/hw/vdbox/mhw_vdbox_hcp_hwcmd_g9_kbl.cpp
  media_driver/agnostic/gen9_kbl/hw/vdbox/mhw_vdbox_hcp_hwcmd_g9_kbl.h
Owners: none

VP9_ENC/GEN9: Relax the compressed frames minimum size restriction.
  media_driver/agnostic/gen9_kbl/hw/vdbox/mhw_vdbox_hcp_g9_kbl.cpp
Owners: none

VP9_ENC/GEN9: Fix odd dimension video encode
  media_driver/agnostic/gen9_kbl/hw/vdbox/mhw_vdbox_hcp_g9_kbl.cpp
Owners: none

media_libva_caps_g10.cpp: Fix redeclaraion of AttribMap
  media_driver/linux/gen10/ddi/media_libva_caps_g10.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

unify libva dependencies to 2.8.0
  cmrtlib/linux/CMakeLists.txt
  media_driver/cmake/linux/media_include_paths_linux.cmake
  media_driver/linux/ult/CMakeLists.txt
Owners: none

[VP] Code prepare for sfc service 4
  media_driver/agnostic/common/hw/mhw_sfc.cpp
  media_driver/agnostic/common/hw/mhw_sfc.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_sfc_common.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.cpp
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.h
Owners: none

[Media Common] Code prepare for sfc service 5
  media_driver/agnostic/common/renderhal/renderhal.h
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/kdll/hal_kerneldll.h
  media_driver/media_driver_next/agnostic/common/shared/media_common_defs.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_render.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_handle.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_handle.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_obj_factories.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_obj_factories.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
Owners: none

[MOS] Batch buffer trace
  media_driver/agnostic/common/os/mos_os_trace_event.h
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
Owners: none

[MOS] Resource allocation trace
  media_driver/linux/common/os/mos_graphicsresource_specific.cpp
  media_driver/media_driver_next/linux/common/os/mos_graphicsresource_specific_next.cpp
Owners: none

add version check for new version api support
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Encode] Update kernels (part 1)"
  media_driver/agnostic/gen11/codec/kernel/igcodeckrn_g11.c
  media_driver/agnostic/gen11/codec/kernel/igcodeckrn_g11_info.csv
Owners: none

[Media Common] Modify scalability policy
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/common/os/mos_os.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_scalability_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.h
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
Owners: none

[VP] Fix KW issue
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
Owners: none

[Decode] Correcting codechal dump and assert check for HEVC decode.
  media_driver/agnostic/common/codec/hal/codechal_decode_hevc.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_scalability_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_scalability_g12.h
Owners: none

[Encode] refine BRC function
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_brc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_brc_g12.h
Owners: none

[Fixes #1018] Checks return value from sscanf().
  cmrtlib/linux/hardware/drm_device.h
Owners: none
