Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[VP] Re-Enable: Remove the Procamp RGB Limiatation when check_feature in APG path
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_handle.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
Owners: none

[VP] change tab to 4 spaces in trace-log lines
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
Owners: none

Revert "[Encode] Fix jpeg quant table"
  media_driver/linux/common/codec/ddi/media_ddi_encode_jpeg.cpp
  media_driver/linux/common/codec/ddi/media_ddi_encode_jpeg.h
Owners: none

Revert "[Encode] Fix jpeg quant table"
  media_driver/linux/common/codec/ddi/media_ddi_encode_jpeg.cpp
  media_driver/linux/common/codec/ddi/media_ddi_encode_jpeg.h
Owners: none

Revert "[Decode] Fix vc1 playback corruption issue"
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.cpp
Owners: none

[Encode] Fix access violation in AVC encode
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Decode] Add SW WA for scalability issue
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Fix VC1 corruption issue
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.cpp
Owners: none

fix ult build issue
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/common/os/list.h
  media_driver/linux/common/os/media_srcs.cmake
  media_driver/linux/common/os/mos_vma.c
  media_driver/linux/common/os/mos_vma.h
  media_driver/linux/ult/libdrm_mock/CMakeLists.txt
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_mock.c
  media_driver/media_driver_next/linux/common/os/mos_context_specific_next.cpp
Owners: none

[Media Common] Fix unsupport drm type in ULT
  media_driver/linux/ult/libdrm_mock/xf86drm_mock.c
Owners: none

[VP] Segmentation enable on gen12
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/vp/hal/vphal_debug.c
Owners: none

[Decode] Correct the pipe control bit set for filmgrain
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_grv_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp2_packet_g12.cpp
Owners: none

[VP] Add filter CSC to have chroma sampling for HDR
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[Decode] Fix VC1 CP regression
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.cpp
Owners: none

Pull i915 uapi header from drm-next commit a1a1ca70deb3ec600eeabb21de7f3f48aaae5695
  media_driver/linux/common/os/i915/include/uapi/README
  media_driver/linux/common/os/i915/include/uapi/i915_drm.h
Owners: none

[Decode] Move gen specific header files out of AV1 basic class
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_temporal_buffers.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_tile_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_tile_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.h
Owners: none

[Media Common] use XY_BLOCK_COPY_BLT do blit copy
  media_driver/agnostic/common/hw/mhw_blt.cpp
  media_driver/agnostic/common/hw/mhw_blt.h
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.cpp
  media_driver/agnostic/gen12/hw/mhw_mi_hwcmd_g12_X.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_composite_g12.cpp
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_blt_copy.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_blt_copy.h
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_copy.cpp
Owners: none

[VP] Fix MAVD issues
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.cpp
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.h
  media_driver/media_driver_next/agnostic/common/shared/bufferMgr/media_allocator.cpp
  media_driver/media_driver_next/agnostic/g12/g12_base/renderhal/renderhal_g12_base.h
Owners: none

[VP] Add perf measurement support
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_utils.h
Owners: none

[VP] Revert #18959 Add filter CSC to have chroma sampling for HDR
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[Decode] Fix status report issue for decode APO.
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_sub_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/scalability/decode_scalability_singlepipe.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_postsubpipeline_g12.cpp
Owners: none

[VP] Adding SFC BGRP output format support
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[Decode] Add new ID for ADL
  media_driver/linux/gen12/ddi/media_sysinfo_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Media Common] use XY_BLOCK_COPY_BLT do blit copy"
  media_driver/agnostic/common/hw/mhw_blt.cpp
  media_driver/agnostic/common/hw/mhw_blt.h
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.cpp
  media_driver/agnostic/gen12/hw/mhw_mi_hwcmd_g12_X.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_composite_g12.cpp
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_blt_copy.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_blt_copy.h
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_copy.cpp
Owners: none

[Decode] Capture the error when creating parallel ctx with discontinuous logical engine
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
Owners: none

[Encode][VP9] Added dump of EncodePar
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
Owners: none

[Media Common] Add virtual memory allocator
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/common/os/list.h
  media_driver/linux/common/os/media_srcs.cmake
  media_driver/linux/common/os/mos_vma.c
  media_driver/linux/common/os/mos_vma.h
  media_driver/linux/ult/libdrm_mock/CMakeLists.txt
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_mock.c
  media_driver/media_driver_next/linux/common/os/mos_context_specific_next.cpp
Owners: none

[VP] update SFC RGB new format function
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
Owners: none

Revert "[Encode] Added dump of EncodeSequence & EncodePar"
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
Owners: none

[Encode] Fixed incorrect SliceStructure caps for AVC vdenc
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_avc_g11.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[VP] Fix dynamic test fail issue
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[VP] Remove Gamut Exp in APG check feature
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
Owners: none

mocs cache policy cleanup
  media_driver/agnostic/common/codec/hal/codechal_decode_downsampling.cpp
  media_driver/agnostic/common/hw/mhw_utilities.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.cpp
Owners: none

[Media Common] Bump up version to 21.2.1
  CMakeLists.txt
Owners: none

[Media Common] add trace event id for codec pic param
  media_driver/agnostic/common/os/mos_os_trace_event.h
Owners: none

[Decode] Allowing the decode resource access requirement setting for limited LMem bar config only
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
Owners: none

Revert "[Media Common] Add virtual memory allocator"
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/common/os/list.h
  media_driver/linux/common/os/media_srcs.cmake
  media_driver/linux/common/os/mos_vma.c
  media_driver/linux/common/os/mos_vma.h
  media_driver/linux/ult/libdrm_mock/CMakeLists.txt
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_mock.c
  media_driver/media_driver_next/linux/common/os/mos_context_specific_next.cpp
Owners: none

[VP] Enable apo lace and add format limitation
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
Owners: none

[cmrtlib] remove sse flags
  cmrtlib/linux/CMakeLists.txt
Owners: none

Add RGBP/BGRP support in media driver.
  media_driver/agnostic/gen12_tgllp/vp/kdll/hal_kernelrules_g12lpcmfc.c
  media_driver/agnostic/gen12_tgllp/vp/kernel/cmfcpatch/igvpkrn_g12_tgllp_cmfcpatch.c
  media_driver/agnostic/gen12_tgllp/vp/kernel/igvpkrn_g12_tgllp.c
  media_driver/agnostic/gen12_tgllp/vp/kernel_free/cmfc/igvpkrn_g12_tgllp_cmfc.h
  media_driver/agnostic/gen12_tgllp/vp/kernel_free/cmfcpatch/igvpkrn_g12_tgllp_cmfcpatch.c
  media_driver/agnostic/gen12_tgllp/vp/kernel_free/cmfcpatch/igvpkrn_g12_tgllp_cmfcpatch.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com
