Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Fix Surface Size Creation issue
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Fix decompression issue in multi-threading
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Disable MMC if Platform not support
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Revert changes for huc error termination
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] HEVC VDEnc watch dog timer start for 2 pipes
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

vaSyncSurface2 driver impl
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] fix hevc QVBR BRC caps regression
  media_driver/linux/common/ddi/media_libva_caps.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Encode] VP9 VDEnc Performance improvements: Enabling pak-only RePAK pass"
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
Owners: none

[ENCODE] change slice header prefix for AVC Vdenc
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

vaSyncBuffer driver impl
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

remove unnecessary dependency - libpciaccess
  Tools/MediaDriverTools/Android/mk/media_driver.tpl
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/mos_bufmgr_api.c
  media_driver/linux/ult/libdrm_mock/CMakeLists.txt
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_api_mock.c
  media_driver/media_top_cmake.cmake
Owners: none

[Encode] Remove extra spaces
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[CP] Rename IsHWCounterAutoIncrementEnforced to IsHwCounterIncrement
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/cp/mhw_cp_interface.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Fix resource sync issue in scalabilty cases
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/include/mos_bufmgr_priv.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915/mos_bufmgr_api.c
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/linux/common/os/mos_gpucontext_specific.h
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.h
Owners: none

media_libva_caps_g11: Add missing Y216 GMM format support for gen11
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Fix VC1 skip frame handling issue for mmc on
  media_driver/linux/gen12/codec/hal/codechal_mmc_decode_vc1_g12_ext.cpp
Owners: none

[Media Common] Fix decompression issue in multi-threading
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Fix Surface Size Creation issue
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Disable MMC if Platform not support
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Intel Media Driver 20.2.0
  CMakeLists.txt
Owners: none

[Decode] Fix regression caused by common render packet
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/common/codec/kernel/codeckrnheader.h
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/common/renderhal/renderhal.h
  media_driver/agnostic/gen11/codec/kernel/igcodeckrn_g11.c
  media_driver/agnostic/gen11_icllp/codec/kernel/igcodeckrn_g11_icllp.c
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.h
  media_driver/agnostic/gen9_bxt/codec/kernel/igcodeckrn_g9_bxt.c
  media_driver/agnostic/gen9_kbl/codec/kernel/igcodeckrn_g9_kbl.c
Owners: none

[VP] Code prepare for sfc service 1
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/hw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/hw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_obj_factories.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_obj_factories.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_packet_pipe.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_ief.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_ief.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_sfc_common.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_adapter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_adapter.h
  media_driver/media_driver_next/agnostic/gen12/vp/hal/vp_pipeline_adapter_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/vp/hal/vp_vebox_cmd_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/vp/hal/vp_vebox_cmd_packet_g12.h
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/media_srcs.cmake
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.cpp
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.h
Owners: none

Revert "[Encode] VP9 VDEnc Performance improvements: Redesign batch buffer for multi-pass scenarios"
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.h
Owners: none

[VP] chroma DN enable and issue fix
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_dn_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[Decode] Fix MDF issue
  media_driver/agnostic/common/renderhal/renderhal.cpp
Owners: none

[Decode] Fix issue for common render packet
  media_driver/agnostic/common/codec/shared/codec_def_decode.h
Owners: none

Correct MAX resolution capability of MPEG2
  media_driver/linux/common/ddi/media_libva_caps.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] add Mos_Specific_GetMediaEngineInfo() to get vebox num for APO
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/agnostic/common/os/mos_os.h
  media_driver/linux/common/os/media_skuwa_specific.h
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
Owners: none

[Decode] Remove spaces in kernel binary copyright
  media_driver/agnostic/gen9_bxt/codec/kernel/igcodeckrn_g9_bxt.c
  media_driver/agnostic/gen9_kbl/codec/kernel/igcodeckrn_g9_kbl.c
Owners: none

[MOS] Initialize dwSize during GetResourceInfo
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
Owners: none

vaSyncBuffer driver impl
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[CM] Recover the task config in CmTask::Reset
  media_driver/agnostic/common/cm/cm_task_rt.cpp
Owners: none

Add checking for avoid mismatched size of HEVC slice parameter.
  media_driver/linux/gen11/codec/ddi/media_ddi_decode_hevc_g11.cpp
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_hevc_g12.cpp
Owners: none

Avoid search invalid ref frames/fields when AVC decoding
  media_driver/linux/common/codec/ddi/media_ddi_decode_avc.cpp
Owners: none

[VP] Fix potential driver crash issue
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
Owners: none

[Encode] Optimize driver latency by reducing lock operation
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_hevc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[MOS] Fix the commandbuffer dump issue
  media_driver/linux/common/os/mos_interface.cpp
Owners: none

[Encode] Fixed CSC from NV12_Linear
  media_driver/agnostic/gen12/codec/hal/codechal_encode_csc_ds_mdf_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Update readme to add JSL/EHL CSC support formats
  docs/media_features.md
Owners: none

[MOS] Fix the memory leak issue
  media_driver/linux/common/os/mos_os_specific.c
Owners: none

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
