Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[Decode] Rename HUC packet
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/media_srcs.cmake
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/packet/decode_huc_g12_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/packet/decode_huc_g12_base.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/packet/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/media_srcs.cmake
Owners: none

[Encode] Refine MHW macros definitions
  media_softlet/agnostic/common/hw/mhw_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/hw/mhw_itf.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
  media_softlet/agnostic/common/shared/features/media_feature_manager.h
  media_softlet/agnostic/common/shared/packet/media_packet.h
Owners: none

Revert "[Encode] Enable Jpeg MMC for G12"
  media_driver/agnostic/common/codec/hal/codechal_encode_jpeg.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_jpeg_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_mmc_encode_jpeg_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_mmc_encode_jpeg_g12.h
  media_driver/agnostic/gen12/codec/hal/media_srcs.cmake
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Decode] Increase second level batch buffer number
  media_driver/agnostic/common/codec/shared/codec_def_decode_hevc.h
  media_driver/agnostic/gen12/codec/shared/codec_def_decode_av1.h
Owners: none

[Decode] Fix regression of AV1 error detect logic
  media_softlet/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
Owners: none

[Encode] Rewrite raw surface color/tile format check
  media_driver/agnostic/common/codec/hal/codechal_encode_csc_ds.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_csc_ds.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Bump up version to 21.3.1
  CMakeLists.txt
Owners: none

[Decode] Expose the reg to disable decode scalability
  media_driver/agnostic/common/codec/hal/codechal_decode_scalability.cpp
  media_driver/agnostic/common/os/mos_os.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_mfx_g11_X.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_scalability_g12.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_mfx_g12_X.h
  media_driver/linux/common/os/mos_os_specific.c
Owners: none

[Decode] AVP MHW refactoring for AV1d.
  media_driver/agnostic/common/os/mos_util_debug.h
  media_driver/agnostic/gen12/codec/shared/codec_def_common_av1.h
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_packet_g12_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_packet_g12_base.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12_base.h
  media_softlet/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
Owners: none

[VP] Recheck-in for Add New SR model support for 1080p
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/os/mos_utilities.cpp
Owners: none

[Encode] Enable Jpeg MMC for G12
  media_driver/agnostic/common/codec/hal/codechal_encode_jpeg.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_jpeg_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_mmc_encode_jpeg_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_mmc_encode_jpeg_g12.h
  media_driver/agnostic/gen12/codec/hal/media_srcs.cmake
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Decode] JPEG APO Switch
  media_softlet/agnostic/common/codec/hal/dec/shared/decode_input_bitstream.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
Owners: none

Revert "[Decode] AVP MHW refactoring for AV1d."
  media_driver/agnostic/common/os/mos_util_debug.h
  media_driver/agnostic/gen12/codec/shared/codec_def_common_av1.h
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_packet_g12_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_packet_g12_base.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12_base.h
  media_softlet/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
Owners: none

[MOS] mocs of common part
  media_driver/agnostic/common/hw/mhw_utilities.c
  media_driver/agnostic/common/hw/mhw_utilities.h
  media_driver/agnostic/common/os/mos_graphicsresource.h
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/gen12/hw/mhw_sfc_g12_X.cpp
  media_driver/linux/common/os/mos_graphicsresource_specific.cpp
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/linux/common/os/mos_os_specific.h
  media_softlet/agnostic/common/os/mos_graphicsresource_next.h
  media_softlet/agnostic/common/shared/packet/media_render_cmd_packet.cpp
  media_softlet/linux/common/os/mos_graphicsresource_specific_next.cpp
Owners: none

[Encode] Fix B ref frame type for AVC
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[VP] Enable Temporal Filter for Segmentation
  media_driver/agnostic/common/vp/hal/vphal_debug.c
  media_softlet/agnostic/common/vp/hal/utils/vp_dumper.cpp
Owners: none

[Decode] AVP MHW refactoring for AV1d.
  media_driver/agnostic/common/os/mos_util_debug.h
  media_driver/agnostic/gen12/codec/shared/codec_def_common_av1.h
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_packet_g12_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_packet_g12_base.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12_base.h
  media_softlet/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
Owners: none

[Encode] HCP Refactor
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_hcp_interface.h
Owners: none

[Media Common] Move MHW_FUNCTION_ENTER at the func start
  media_driver/agnostic/common/hw/mhw_utilities.c
Owners: none

[Encode] Enable OCA support for RCS for AVC
  media_driver/agnostic/common/codec/hal/codechal_encode_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_csc_ds.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_sw_scoreboard.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_wp.cpp
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.h
  media_driver/agnostic/common/codec/hal/codechal_kernel_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_encode_avc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_avc_g12.cpp
  media_driver/agnostic/gen8/codec/hal/codechal_fei_avc_g8.cpp
  media_driver/agnostic/gen9/codec/hal/codechal_fei_avc_g9.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Reduce MHW code duplication
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
Owners: none

[VP] Set VEBOX output with 3DLUT if possible.
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
Owners: none

[Decode] Fix potential memory access violation issue for 2nd level BB dump
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
Owners: none

[VP] Enable HVS in linux
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.h
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: none

[VP] APO FC Code Prepare1: Policy Refactor
  media_driver/agnostic/common/vp/hal/vphal_render_sfc_base.cpp
  media_softlet/agnostic/common/os/mos_util_debug_next.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.h
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter_handle.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter_handle.h
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.h
  media_softlet/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_di_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_filter.h
  media_softlet/agnostic/common/vp/hal/features/vp_procamp_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_rot_mir_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_scaling_filter.h
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

add project to the top-level cmake
  CMakeLists.txt
Owners: none

Fix duplicate media_libva_interface_next include
  media_softlet/linux/common/ddi/media_libva_interface_next.cpp
Owners: none

Updated to 2021Q1 release
  cmrtlib/Android.mk
  media_driver/Android.mk
  media_driver/agnostic/common/vp/kdll/hal_kerneldll.c
  media_driver/agnostic/gen12/hw/mhw_sfc_g12_X.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
Owners: none

Revert "[Decode] JPEG APO Switch"
  media_softlet/agnostic/common/codec/hal/dec/shared/decode_input_bitstream.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
Owners: none

[CP] Update UMDs to use new protected enable bit in context data
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/os/mos_os.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/vp/hal/vphal_renderer.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/scalability/decode_scalability_option.cpp
  media_softlet/agnostic/common/shared/mediacontext/media_context.cpp
  media_softlet/agnostic/common/shared/scalability/media_scalability_defs.h
  media_softlet/agnostic/common/shared/scalability/media_scalability_option.h
  media_softlet/agnostic/common/shared/scalability/media_scalability_singlepipe.cpp
  media_softlet/agnostic/common/vp/hal/scalability/vp_scalability_option.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

add project to the top-level cmake
  CMakeLists.txt
Owners: none

[Encode] Enable Dump Pic params for Jpeg
  media_driver/agnostic/common/codec/hal/codechal_encode_jpeg.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] Add RefreshRevId
  media_driver/agnostic/common/media_interfaces/media_interfaces_hwinfo_device.h
  media_driver/linux/common/media_interfaces/media_interfaces.cpp
Owners: none

[Decode] convert tile format to modifier for different platform
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Switch All g12 platform to jpeg APO
  media_softlet/agnostic/common/codec/hal/dec/shared/decode_input_bitstream.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
Owners: none

test
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Update CreateFactory Function
  media_softlet/linux/common/ddi/media_libva_interface_next.cpp
Owners: none

[Media Common] Bump up version to 21.3.2
  CMakeLists.txt
Owners: none

[Encode] Optimize the write operations in SetSurfaceState
  media_driver/agnostic/gen12/hw/mhw_state_heap_g12.c
Owners: none

Revert "[Encode] Optimize the write operations in SetSurfaceState"
  media_driver/agnostic/gen12/hw/mhw_state_heap_g12.c
Owners: none
