Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[MOS] user setting
  media_common/agnostic/common/os/mos_defs.h
  media_common/agnostic/common/os/mos_util_user_feature_keys.h
  media_common/agnostic/common/os/mos_utilities_common.h
  media_common/agnostic/common/shared/user_setting/media_user_setting.h
  media_common/agnostic/common/shared/user_setting/media_user_setting_configure.h
  media_common/agnostic/common/shared/user_setting/media_user_setting_definition.h
  media_common/agnostic/common/shared/user_setting/media_user_setting_value.h
  media_driver/agnostic/common/os/mos_util_debug.cpp
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/shared/user_setting/media_user_setting.cpp
  media_driver/agnostic/common/shared/user_setting/media_user_setting_configure.cpp
  media_driver/agnostic/common/shared/user_setting/media_user_setting_definition.cpp
  media_driver/linux/common/os/mos_util_debug_specific.cpp
  media_softlet/agnostic/common/os/media_srcs.cmake
  media_softlet/agnostic/common/os/mos_user_setting.cpp
  media_softlet/agnostic/common/os/mos_util_debug_next.cpp
  media_softlet/agnostic/common/os/mos_util_debug_next.h
  media_softlet/agnostic/common/os/mos_utilities_next.cpp
  media_softlet/agnostic/common/os/mos_utilities_next.h
  media_softlet/linux/common/os/mos_util_debug_specific_next.cpp
  media_softlet/linux/common/os/mos_utilities_specific_next.cpp
Owners: none

[CP] Adding Media RT error log for CP os service component
  media_common/agnostic/common/os/mos_os_trace_event.h
Owners: none

[Encode] subregion enable
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_encode_hevc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] release some overwriten gpucontext resources in legacy path
  media_driver/agnostic/common/vp/hal/vphal.cpp
  media_driver/agnostic/common/vp/hal/vphal.h
  media_driver/linux/common/os/mos_interface.cpp
Owners: none

Add MEDIA_BUILD_HARDENING option
  cmrtlib/linux/CMakeLists.txt
  media_driver/cmake/linux/media_compile_flags_linux.cmake
  media_driver/media_top_cmake.cmake
Owners: none

[Media Common] PPC flush in pipe control
  media_common/agnostic/common/hw/mhw_mi.h
  media_softlet/agnostic/common/hw/mhw_mi_cmdpar.h
  media_softlet/agnostic/common/shared/packet/media_render_cmd_packet.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
Owners: none

Revert "[MOS] user setting"
  media_common/agnostic/common/os/mos_defs.h
  media_common/agnostic/common/os/mos_util_user_feature_keys.h
  media_common/agnostic/common/os/mos_utilities_common.h
  media_common/agnostic/common/shared/user_setting/media_user_setting.h
  media_common/agnostic/common/shared/user_setting/media_user_setting_configure.h
  media_common/agnostic/common/shared/user_setting/media_user_setting_definition.h
  media_common/agnostic/common/shared/user_setting/media_user_setting_value.h
  media_driver/agnostic/common/os/mos_util_debug.cpp
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/shared/user_setting/media_user_setting.cpp
  media_driver/agnostic/common/shared/user_setting/media_user_setting_configure.cpp
  media_driver/agnostic/common/shared/user_setting/media_user_setting_definition.cpp
  media_driver/linux/common/os/mos_util_debug_specific.cpp
  media_softlet/agnostic/common/os/media_srcs.cmake
  media_softlet/agnostic/common/os/mos_user_setting.cpp
  media_softlet/agnostic/common/os/mos_util_debug_next.cpp
  media_softlet/agnostic/common/os/mos_util_debug_next.h
  media_softlet/agnostic/common/os/mos_utilities_next.cpp
  media_softlet/agnostic/common/os/mos_utilities_next.h
  media_softlet/linux/common/os/mos_util_debug_specific_next.cpp
  media_softlet/linux/common/os/mos_utilities_specific_next.cpp
Owners: none

[Media_Common] Update Libva exprot surface handle with compressible surface
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix KW issues
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.h
Owners: none

[Encode] Fix encode kw issue
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Correct min vebox width limit
  media_driver/media_softlet/agnostic/Xe_M/Xe_HPM/vp/hal/feature_manager/vp_feature_caps_xe_hpm.h
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM/vp/hal/feature_manager/vp_feature_caps_xe_xpm.h
  media_driver/media_softlet/agnostic/gen12/vp/hal/vp_feature_caps_g12.h
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.h
  media_softlet/agnostic/common/vp/hal/feature_manager/vp_feature_caps.h
  media_softlet/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[Encode] hevc media interface refactor
  media_driver/media_interface/media_interfaces_pvc/media_interfaces_pvc.cpp
Owners: none

[Media Common] Fix mos_query_engines_count issue
  media_driver/linux/common/os/hwinfo_linux.c
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/linux/common/os/mos_os_mock_adaptor_specific.cpp
Owners: none

Readme update to add Alchemist/ATS-M information.
  README.md
Owners: none

[MOS] Add the lock for context array to keep thread safety
  media_driver/agnostic/common/os/mos_gpucontextmgr.cpp
  media_softlet/agnostic/common/os/mos_gpucontextmgr_next.cpp
Owners: none

[Media Common] Enable Linux ULT
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_common.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Decode ETW Surface Dump Info
  media_common/agnostic/common/os/mos_os_trace_event.h
  media_driver/media_softlet/agnostic/Xe_M/Xe_M_base/codec/hal/dec/avc/packet/decode_avc_picture_xe_m_base_packet.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_M_base/codec/hal/dec/hevc/packet/decode_hevc_picture_packet_xe_m_base.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_M_base/codec/hal/dec/vp9/packet/decode_vp9_picture_packet_xe_m_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.h
Owners: none

Return zero subpicture formats
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Fixed media render copy single plane thread height issue
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_plus/shared/mediacopy/media_render_copy_xe_xpm_plus.cpp
Owners: none

[Encode] mvprecision enable code
  media_common/agnostic/common/codec/shared/codec_def_encode.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_interface.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_hwcmd_g12_X.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] check the number of DC and AC table
  media_driver/agnostic/gen12/codec/hal/codechal_decode_jpeg_g12.cpp
Owners: none

[VP] Fix_Dithering
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/Xe_M/Xe_XPM/vp/hal/vphal_render_sfc_xe_xpm.cpp
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/gen12/shared/media_user_settings_mgr_g12.cpp
  media_driver/agnostic/gen12/shared/media_user_settings_mgr_g12.h
  media_driver/agnostic/gen12/vp/hal/vphal_render_sfc_g12_base.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_HPM/vp/hal/platform_interface/vp_platform_interface_xe_hpm.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM/vp/hal/platform_interface/vp_platform_interface_xe_xpm.cpp
Owners: none

Add support for ADL-N: Enable the cmake options
  media_driver/cmake/linux/media_gen_flags_linux.cmake
Owners: none

Revert "[Decode] Decode ETW Surface Dump Info"
  media_common/agnostic/common/os/mos_os_trace_event.h
  media_driver/media_softlet/agnostic/Xe_M/Xe_M_base/codec/hal/dec/avc/packet/decode_avc_picture_xe_m_base_packet.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_M_base/codec/hal/dec/hevc/packet/decode_hevc_picture_packet_xe_m_base.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_M_base/codec/hal/dec/vp9/packet/decode_vp9_picture_packet_xe_m_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.h
Owners: none

[Meida Common] Fix KW in query engines count
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
Owners: none

[MOS] Fix the kw issue
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
Owners: none

[VP] Cases not enter APO clean up: CSC BT2020 related failures
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_csc_filter.cpp
Owners: none

[Media Common] Bug fix for a MD5 mismatch issue
  media_driver/linux/gen12/ddi/media_sysinfo_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

user setting
  media_common/agnostic/common/os/mos_defs.h
  media_common/agnostic/common/os/mos_util_user_feature_keys.h
  media_common/agnostic/common/os/mos_utilities_common.h
  media_common/agnostic/common/shared/user_setting/media_user_setting.h
  media_common/agnostic/common/shared/user_setting/media_user_setting_configure.h
  media_common/agnostic/common/shared/user_setting/media_user_setting_definition.h
  media_common/agnostic/common/shared/user_setting/media_user_setting_value.h
  media_common/linux/common/os/mos_utilities_specific.h
  media_driver/agnostic/common/os/mos_util_debug.cpp
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/shared/user_setting/media_user_setting.cpp
  media_driver/agnostic/common/shared/user_setting/media_user_setting_configure.cpp
  media_driver/agnostic/common/shared/user_setting/media_user_setting_definition.cpp
  media_driver/linux/common/os/mos_util_debug_specific.cpp
  media_softlet/agnostic/common/os/media_srcs.cmake
  media_softlet/agnostic/common/os/mos_user_setting.cpp
  media_softlet/agnostic/common/os/mos_util_debug_next.cpp
  media_softlet/agnostic/common/os/mos_util_debug_next.h
  media_softlet/agnostic/common/os/mos_utilities_next.cpp
  media_softlet/agnostic/common/os/mos_utilities_next.h
  media_softlet/linux/common/os/mos_util_debug_specific_next.cpp
  media_softlet/linux/common/os/mos_utilities_specific_next.cpp
Owners: none

[VP] Fix hdr + render scaling for hang issue
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.h
Owners: none

[Decode] Add refactored MI to newer platform Decode
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_sub_packet.h
Owners: none

[Encode] Fix encode kw issue
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_g12.cpp
Owners: none

Revert "[VP] Fix_Dithering_On_Pre"
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/Xe_M/Xe_XPM/vp/hal/vphal_render_sfc_xe_xpm.cpp
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/gen12/shared/media_user_settings_mgr_g12.cpp
  media_driver/agnostic/gen12/shared/media_user_settings_mgr_g12.h
  media_driver/agnostic/gen12/vp/hal/vphal_render_sfc_g12_base.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_HPM/vp/hal/platform_interface/vp_platform_interface_xe_hpm.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM/vp/hal/platform_interface/vp_platform_interface_xe_xpm.cpp
Owners: none

Revert "[Encode] hevc media interface refactor"
  media_driver/media_interface/media_interfaces_pvc/media_interfaces_pvc.cpp
Owners: none

[Media Common] Unify the drm ioctl
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
Owners: none

[VP] Add FP16 input for HDR capture.
  media_driver/agnostic/Xe_M/Xe_HPM/vp/kernel/cmfcpatch/igvpkrn_xe_hpm_cmfcpatch.c
  media_driver/agnostic/Xe_M/Xe_HPM/vp/kernel/cmfcpatch/igvpkrn_xe_hpm_cmfcpatch.h
  media_driver/agnostic/Xe_M/Xe_HPM/vp/kernel/igvpkrn_xe_hpm.c
  media_driver/agnostic/Xe_M/Xe_HPM/vp/kernel/igvpkrn_xe_hpm.h
  media_driver/agnostic/gen9/vp/hal/vphal_render_hdr_g9_base.cpp
Owners: none

[VP] Mhw vebox refactor
  media_driver/agnostic/common/hw/mhw_vebox.h
  media_softlet/agnostic/Xe_R/Xe_HPG/hw/mhw_render_hwcmd_xe_hpg.h
  media_softlet/agnostic/common/hw/media_srcs.cmake
  media_softlet/agnostic/common/hw/mhw_vebox_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_vebox_impl.h
  media_softlet/agnostic/common/hw/mhw_vebox_itf.h
Owners: none

[Decode] Decode ETW Surface Dump Info
  media_common/agnostic/common/os/mos_os_trace_event.h
  media_driver/media_softlet/agnostic/Xe_M/Xe_M_base/codec/hal/dec/avc/packet/decode_avc_picture_xe_m_base_packet.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_M_base/codec/hal/dec/hevc/packet/decode_hevc_picture_packet_xe_m_base.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_M_base/codec/hal/dec/vp9/packet/decode_vp9_picture_packet_xe_m_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.h
Owners: none

[Encode] hevc media interface refactor
  media_driver/media_interface/media_interfaces_pvc/media_interfaces_pvc.cpp
Owners: none

MediaInterface refining for AVC
  media_common/agnostic/common/codec/shared/codec_def_common_jpeg.h
  media_common/agnostic/common/codec/shared/codec_def_common_mpeg2.h
  media_common/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/common/codec/shared/codec_def_decode_jpeg.h
  media_driver/agnostic/common/codec/shared/codec_def_decode_mpeg2.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_interface.h
  media_softlet/agnostic/common/codec/hal/shared/codec_hw_next.cpp
  media_softlet/agnostic/common/codec/hal/shared/codec_hw_next.h
  media_softlet/agnostic/common/hw/vdbox/media_srcs.cmake
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_mfx_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_mfx_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_mfx_itf.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
Owners: none
