Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix regression and APO issues
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
Owners: none

[Decode] AV1 decode corruption Temporary WA cleanup
  media_driver/agnostic/common/os/mos_os.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
Owners: none

[VP] Add AVP-SFC support in SFC interface
  media_driver/agnostic/common/codec/shared/codec_def_common.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.cpp
Owners: none

[Decode] Replace codecStandardAv1 with CODECHAL_AV1
  media_driver/agnostic/gen12/codec/shared/codec_def_common_av1.h
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.cpp
Owners: none

[CP] Add TEE engine usage definition
  media_driver/agnostic/common/os/mos_os.h
Owners: none

[Decode] update hevc 12bit surface format caps
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Correct WA ID for dummy workload
  media_driver/agnostic/gen12/shared/media_user_settings_mgr_g12.cpp
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Handle VAConfigAttribRTFormat query to AV1 profiles case explicitly
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Update AV1 film grain kernels
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_grv_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp2_packet_g12.cpp
Owners: none

[Encode] Enable AVC VDEnc BRC ROI for G11, G12
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/common/codec/shared/codec_def_encode_avc.h
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_avc_g11.cpp
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_vdenc_g11_X.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
  media_driver/agnostic/gen9_bxt/codec/hal/codechal_vdenc_avc_g9_bxt.cpp
  media_driver/agnostic/gen9_skl/codec/hal/codechal_vdenc_avc_g9_skl.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[VP] Add render dump
  media_driver/linux/common/os/mos_interface.cpp
Owners: none

[VP] Fix color fill corruption issue
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: none

[Compile] fix excuteable permission flag loss
  pack_ext.cmake
Owners: none

[Encode] Remove scalability limitation for 4k/5k cases
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.h
  media_driver/agnostic/gen12/shared/media_user_settings_mgr_g12.cpp
  media_driver/agnostic/gen12/shared/media_user_settings_mgr_g12.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] VeboxDecomp change
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_memdecomp_g12.cpp
Owners: none

[VP] Enable GC/STE/TCC/Procamp and fix Procamp/STE issues on APO
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/hw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_handle.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_handle.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_ace_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_ace_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_common.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[Encode] Use num_active_refs from slice header during WP initialization
  media_driver/agnostic/common/codec/hal/codechal_encode_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/gen10/codec/hal/codechal_encode_avc_g10.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_encode_avc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_avc_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[VP] Add line tile buffer related code
  media_driver/agnostic/gen12/hw/mhw_sfc_g12_X.cpp
  media_driver/agnostic/gen12/hw/mhw_sfc_g12_X.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.cpp
Owners: none

avc_enc: fix uninited m_mmcUserFeatureUpdated
  media_driver/agnostic/common/codec/hal/codechal_encode_avc.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

hevc_enc: fix two uninited variables
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] New platform scalablity issue fix
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_interface.cpp
Owners: none

[Encode] Support multi-level CQM for LPLA
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Update plane offset before using mos surface from codec hal
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.cpp
Owners: none

Revert "[Encode] Enable AVC VDEnc BRC ROI for G11, G12"
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/common/codec/shared/codec_def_encode_avc.h
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_avc_g11.cpp
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_vdenc_g11_X.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
  media_driver/agnostic/gen9_bxt/codec/hal/codechal_vdenc_avc_g9_bxt.cpp
  media_driver/agnostic/gen9_skl/codec/hal/codechal_vdenc_avc_g9_skl.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Decode] update hevc 12bit surface format caps
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Fix the encoder corruption issues due to padding offset
  media_driver/agnostic/common/codec/hal/codechal_encode_csc_ds.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_csc_ds.h
  media_driver/agnostic/gen11/codec/hal/codechal_encode_csc_ds_g11.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_encode_csc_ds_g11.h
  media_driver/agnostic/gen12/codec/hal/codechal_encode_csc_ds_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_csc_ds_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Fix HEVC VME memory growth
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_brc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_brc_g12.h
Owners: none

[Decode] AV1d driver latency optimization
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.h
Owners: none

[Media Common] Gen specified code removal from renderhal
  media_driver/agnostic/common/hw/mhw_render.h
  media_driver/agnostic/common/hw/mhw_state_heap.h
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/common/renderhal/renderhal_dsh.cpp
  media_driver/agnostic/gen10/hw/mhw_render_g10_X.h
  media_driver/agnostic/gen10/hw/mhw_state_heap_g10.h
  media_driver/agnostic/gen10/renderhal/renderhal_g10.cpp
  media_driver/agnostic/gen11/hw/mhw_render_g11_X.h
  media_driver/agnostic/gen11/hw/mhw_state_heap_g11.h
  media_driver/agnostic/gen11/renderhal/renderhal_g11.cpp
  media_driver/agnostic/gen12/hw/mhw_render_g12_X.h
  media_driver/agnostic/gen12/hw/mhw_state_heap_g12.h
  media_driver/agnostic/gen12/renderhal/renderhal_g12.cpp
  media_driver/agnostic/gen8/hw/mhw_render_g8_X.h
  media_driver/agnostic/gen8/hw/mhw_state_heap_g8.h
  media_driver/agnostic/gen8/renderhal/renderhal_g8.cpp
  media_driver/agnostic/gen9/hw/mhw_render_g9_X.h
  media_driver/agnostic/gen9/hw/mhw_state_heap_g9.h
  media_driver/agnostic/gen9/renderhal/renderhal_g9.cpp
Owners: none

[Encode] Handle out of range status report querying
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.h
  media_driver/media_driver_next/agnostic/common/shared/statusreport/media_status_report.cpp
  media_driver/media_driver_next/agnostic/common/shared/statusreport/media_status_report.h
Owners: none

[Media Common] Update SG1 information in readme
  README.md
  docs/media_features.md
Owners: none

[Encode] Fix CreateConstSettigs typo
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_feature_manager.h
  media_driver/media_driver_next/agnostic/common/shared/features/media_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/shared/features/media_feature_manager.h
Owners: none

[CP] recheck in cp patch refinement
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.cpp
  media_driver/agnostic/common/hw/mhw_mi_generic.h
  media_driver/linux/common/cp/os/mos_os_cp_interface_specific.h
Owners: none

[Decode] Hevc decode source organization refactoring.
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.h
Owners: none

Revert "[Encode] Remove scalability limitation for 4k/5k cases"
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.h
  media_driver/agnostic/gen12/shared/media_user_settings_mgr_g12.cpp
  media_driver/agnostic/gen12/shared/media_user_settings_mgr_g12.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Report 10bit is supported
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Enable B pyramid for LPLA
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
  media_driver/agnostic/common/codec/shared/codec_def_encode_hevc.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] EHL/JSL code seperate from ICL
  media_driver/agnostic/gen11_jsl_ehl/media_srcs.cmake
  media_driver/agnostic/gen11_jsl_ehl/renderhal/media_srcs.cmake
  media_driver/agnostic/gen11_jsl_ehl/renderhal/renderhal_g11_jsl_ehl.cpp
  media_driver/agnostic/gen11_jsl_ehl/renderhal/renderhal_g11_jsl_ehl.h
  media_driver/agnostic/gen11_jsl_ehl/vp/hal/media_srcs.cmake
  media_driver/agnostic/gen11_jsl_ehl/vp/hal/vphal_g11_jsl_ehl.cpp
  media_driver/agnostic/gen11_jsl_ehl/vp/hal/vphal_g11_jsl_ehl.h
  media_driver/agnostic/gen11_jsl_ehl/vp/hal/vphal_render_composite_g11_jsl_ehl.h
  media_driver/agnostic/gen11_jsl_ehl/vp/hal/vphal_renderer_g11_jsl_ehl.cpp
  media_driver/agnostic/gen11_jsl_ehl/vp/hal/vphal_renderer_g11_jsl_ehl.h
  media_driver/agnostic/gen11_jsl_ehl/vp/kdll/hal_kernelrules_g11jsl_ehl.c
  media_driver/agnostic/gen11_jsl_ehl/vp/kdll/media_srcs.cmake
  media_driver/agnostic/gen11_jsl_ehl/vp/kernel/igvpkrn_g11_jsl_ehl.c
  media_driver/agnostic/gen11_jsl_ehl/vp/kernel/igvpkrn_g11_jsl_ehl.h
  media_driver/agnostic/gen11_jsl_ehl/vp/kernel/media_srcs.cmake
  media_driver/agnostic/gen11_jsl_ehl/vp/media_srcs.cmake
  media_driver/agnostic/media_srcs.cmake
  media_driver/cmake/linux/media_gen_flags_linux.cmake
  media_driver/media_interface/media_interfaces_m11_jsl_ehl/media_interfaces_g11_jsl_ehl.cpp
  media_driver/media_interface/media_interfaces_m11_jsl_ehl/media_interfaces_g11_jsl_ehl.h
  media_driver/media_interface/media_interfaces_m11_jsl_ehl/media_srcs.cmake
  media_driver/media_interface/media_srcs.cmake
Owners: none

[Decode] AV1 Decode Large Scale Tile enabling.
  media_driver/agnostic/gen12/codec/shared/codec_def_decode_av1.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_g12_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_g12_X.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_hwcmd_g12_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_hwcmd_g12_X.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_interface.h
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_reference_frames.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_reference_frames.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_tile_coding.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_tile_packet.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] fix kernel build fail issue
  media_driver/agnostic/gen11_jsl_ehl/vp/hal/vphal_renderer_g11_jsl_ehl.cpp
Owners: none

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
