Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[Encode] Remove internal surfaceInfo calculation in allocator
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_mfx_g12_X.cpp
Owners: none

[Media Common] Add sample type related parameters of field mode in media sfc interface
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
Owners: none

[Media Common] Add softpin support
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/include/mos_bufmgr_priv.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915/mos_bufmgr_api.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/common/os/mos_auxtable_mgr.cpp
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_api_mock.c
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_mock.c
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
Owners: none

[Encode] Move MVData and MBData to local memory
  media_driver/agnostic/common/codec/hal/codechal_allocator.cpp
  media_driver/agnostic/common/codec/hal/codechal_allocator.h
  media_driver/agnostic/common/codec/hal/codechal_encode_allocator.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_allocator.h
  media_driver/agnostic/common/codec/hal/codechal_encode_tracked_buffer.cpp
Owners: none

[MOS] Enable media reset watchdog on Linux
  media_driver/linux/common/os/mos_os_specific.c
Owners: none

[Encode] Optimizations for HEVC-VME
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_g12.cpp
Owners: none

[Media Common] rename uMCPY file to keep align
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_blt_copy.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_blt_copy.h
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_vebox_copy.cpp
  media_driver/media_driver_next/agnostic/m12/m12_0/shared/mediacopy/media_copy_m12_0.h
Owners: none

[VP] Enable EU fused dispatch for 8K processiong
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_composite.h
Owners: none

[Encode] Allocate Enc resources in local memory
  media_driver/agnostic/common/codec/hal/codechal_allocator.cpp
  media_driver/agnostic/common/codec/hal/codechal_allocator.h
  media_driver/agnostic/common/codec/hal/codechal_encode_allocator.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.h
  media_driver/agnostic/common/codec/hal/codechal_encode_sw_scoreboard.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_tracked_buffer.cpp
  media_driver/agnostic/common/codec/hal/codechal_kernel_hme.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_csc_ds_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com, alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Media Common] Fix typo for field mode related code in sfc interface
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
Owners: none

[Encode] AVC TCBRC support on Linux
  media_driver/linux/common/codec/ddi/media_ddi_encode_avc.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] enable rendercopy
  media_driver/agnostic/common/renderhal/renderhal.h
  media_driver/agnostic/common/vp/hal/vphal.h
  media_driver/agnostic/common/vp/kernel/vpkrnheader.h
  media_driver/agnostic/gen11_icllp/vp/kernel/igvpkrn_g11_icllp.c
  media_driver/agnostic/gen12_tgllp/vp/kernel/cmfcpatch/igvpkrn_g12_tgllp_cmfcpatch.c
  media_driver/agnostic/gen12_tgllp/vp/kernel/igvpkrn_g12_tgllp.c
  media_driver/agnostic/gen12_tgllp/vp/kernel/swsb/igvpkrn_g12_tgllp_swsb.c
  media_driver/agnostic/gen8/vp/kernel/igvpkrn_g8.c
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_render_copy.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_render_copy.h
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_srcs.cmake
Owners: none

[Encode] Disable Dynamic Slice Size when max_slice_size is zero
  media_driver/linux/common/codec/ddi/media_ddi_encode_hevc.cpp
Owners: none

[VP] Block ARGB output from VEBOX
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

Revert "[VP] Enable EU fused dispatch for 8K processiong (#1222)"
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_composite.h
Owners: none

[Encode] Apogeios Frame Tracking Request Packet Property and VP9 VDEnc Superframe fix
  media_driver/media_driver_next/agnostic/common/shared/scalability/media_scalability.h
  media_driver/media_driver_next/agnostic/common/shared/scalability/media_scalability_mdf.h
  media_driver/media_driver_next/agnostic/common/shared/scalability/media_scalability_singlepipe.cpp
  media_driver/media_driver_next/agnostic/common/shared/scalability/media_scalability_singlepipe.h
  media_driver/media_driver_next/agnostic/common/shared/task/media_cmd_task.cpp
  media_driver/media_driver_next/agnostic/common/shared/task/media_task.h
Owners: none

[Decode] Passing Linux GFT test for Apogeios Hevc decode.
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/packet/decode_downsampling_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
Owners: none

[Decode] Removing Huc command size from AVP command buffer size compute.
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.cpp
Owners: none

[Encode] Modify some MBBRC settings
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_hevc_g11.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[CP] Fix Secure Encode Compare Error
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[CP] Init output surface
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
Owners: none

[Encode] Gen12 HEVC VME PFrame Enable
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_mbenc_g12.cpp
Owners: none

[Encode] Enable TCBRC on ICL
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_hevc_g11.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_hevc_g11.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Fix AV1d 10 bit MD5 msimatch issue
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
Owners: none

[Decode] Anchor frame insertion for AV1 Dec LST.
  media_driver/agnostic/common/codec/hal/codechal_encode_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_hcp_interface.h
  media_driver/agnostic/gen10/hw/vdbox/mhw_vdbox_mfx_g10_X.cpp
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_mfx_g11_X.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_avc_g12.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_mfx_g12_X.cpp
  media_driver/agnostic/gen8/hw/vdbox/mhw_vdbox_mfx_g8_X.h
  media_driver/agnostic/gen9/hw/vdbox/mhw_vdbox_mfx_g9_X.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_reference_frames.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_reference_frames.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_tile_coding.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_tile_coding.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
  media_driver/media_driver_next/agnostic/common/shared/pipeline/media_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/shared/pipeline/media_pipeline.h
  media_driver/media_driver_next/agnostic/common/shared/scalability/media_scalability.h
  media_driver/media_driver_next/agnostic/common/shared/scalability/media_scalability_defs.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[CP] Rename TeeExec to Execute
  media_driver/linux/common/cp/ddi/media_ddi_prot.cpp
  media_driver/linux/common/cp/ddi/media_ddi_prot.h
Owners: none

Revert "[Decode] Fix AV1d 10 bit MD5 msimatch issue (#1671)"
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
Owners: none

[VP] Align CheckFeature in feature manager
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.h
Owners: none

Revert "[VP][Issuefix] Fix YouCam output blank issue"
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_composite.h
Owners: none

[VP] Enable EU fused dispatch for 8K processiong
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_composite.h
Owners: none

[CM] fix deissue Override queue type to compute from render for TGL
  media_driver/agnostic/common/cm/cm_device_rt_base.cpp
Owners: none

[MOS] Add engine instance selection support for deissue purpose
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/linux/common/os/mos_gpucontext_specific.h
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.h
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next_ext.cpp
Owners: none

[Media Common] bump up micro version to 20.4.2
  CMakeLists.txt
Owners: none

[Decode] Fix AV1d 10 bit case MD5 mismatching issue
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_grv_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_grv_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp1_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp2_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp2_packet_g12.h
Owners: none

[VP] Correct Gpu Context
  media_driver/agnostic/common/vp/hal/vphal_renderer.cpp
  media_driver/agnostic/common/vp/hal/vphal_renderer.h
Owners: none

[VP] Fix dynamic scaling issue
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
Owners: none

[CM] Update CMRT to support new vISA binary format version 3.7 in HW mode
  media_driver/agnostic/common/cm/cm_program.cpp
  media_driver/agnostic/common/cm/cm_visa.h
Owners: none

[VP] Vebox scalability Enhancement
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
Owners: none

[Encode] Enable linux TCBRC
  media_driver/linux/common/codec/ddi/media_ddi_encode_hevc.cpp
Owners: none

[Encode] Add metadata framwork in legacy path
  media_driver/agnostic/common/codec/hal/codechal.cpp
  media_driver/agnostic/common/codec/hal/codechal.h
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.h
  media_driver/agnostic/common/codec/shared/codec_def_encode.h
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_avc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com
