Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[VP] Fix HDR kernel and DV scaling regression
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.h
Owners: none

[Encode] Report sub features for HEVC
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] enable Rho Domain
  media_driver/agnostic/common/shared/user_setting/media_user_setting_configure.cpp
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_avp_cmdpar.h
  media_softlet/agnostic/common/os/mos_utilities_next.h
  media_softlet/linux/common/os/mos_utilities_specific_next.cpp
Owners: none

[VP] Fix VP/Common/Mos KW issues
  media_driver/agnostic/common/hw/mhw_sfc_generic.h
  media_driver/agnostic/common/hw/mhw_vebox.h
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/hal/vphal_render_common.h
  media_driver/agnostic/gen11/hw/mhw_sfc_g11_X.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_softlet/agnostic/common/vp/hal/packet/vp_render_fc_kernel.cpp
Owners: none

[VP] Fix flashing desktop duplicate issue
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
Owners: none

Correct mhw comment description
  media_driver/agnostic/Xe_R/Xe_HP_base/hw/render/mhw_render_hwcmd_xe_hp_base.h
  media_softlet/agnostic/Xe_R/Xe_HPG/hw/mhw_render_hwcmd_xe_hpg.h
Owners: none

[Decode] Add refactored MI to newer platform Decode
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_sub_packet.h
  media_softlet/agnostic/common/shared/packet/media_packet.h
Owners: none

[Encode] [VP9]: Perf metrics fix
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
Owners: none

[Script] Use add_custom_command to generate header file
  media_driver/linux/ult/ult_app/CMakeLists.txt
  media_driver/media_top_cmake.cmake
Owners: none

[Encode] Rework AVC slice state
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.h
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_generic.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_interface.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_generic.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_interface.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Decode] fix some dec kw issues
  media_softlet/agnostic/common/codec/hal/dec/shared/scalability/decode_scalability_defs.h
Owners: none

[VP] Fix VP KW issues
  media_driver/agnostic/common/vp/hal/vphal_mdf_wrapper.h
  media_softlet/agnostic/common/shared/scalability/media_scalability_defs.h
Owners: none

[Media Common] Enable MHW_INTERFACES_NEXT_SUPPORT in open source build
  media_driver/cmake/linux/media_feature_flags_linux.cmake
  media_softlet/agnostic/common/codec/hal/shared/codec_hw_next.cpp
  media_softlet/agnostic/common/codec/hal/shared/codec_hw_next.h
  media_softlet/agnostic/common/codec/hal/shared/media_srcs.cmake
Owners: none

[Media Common] improve the implementation in media_context and scalability factory
  media_softlet/agnostic/common/shared/mediacontext/media_context.cpp
  media_softlet/agnostic/common/shared/mediacontext/media_context.h
  media_softlet/agnostic/common/shared/scalability/media_scalability_factory.cpp
  media_softlet/agnostic/common/shared/scalability/media_srcs.cmake
  media_softlet/agnostic/common/vp/hal/media_srcs.cmake
  media_softlet/agnostic/common/vp/hal/shared/media_srcs.cmake
  media_softlet/agnostic/common/vp/hal/shared/scalability/media_srcs.cmake
  media_softlet/agnostic/common/vp/hal/shared/scalability/vp_phase.h
  media_softlet/agnostic/common/vp/hal/shared/scalability/vp_scalability_multipipe.cpp
  media_softlet/agnostic/common/vp/hal/shared/scalability/vp_scalability_multipipe.h
Owners: none

[CP] Media trace RT log/error for CP -3
  media_common/agnostic/common/os/mos_os_trace_event.h
Owners: none

[CM] fix some CM kw issues
  media_driver/agnostic/common/cm/cm_program.cpp
Owners: none

Revert "[Decode] Add refactored MI to newer platform Decode"
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_sub_packet.h
  media_softlet/agnostic/common/shared/packet/media_packet.h
Owners: none

Revert "[Encode] Integrate new HuC and enable adaptive rounding calculation"
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.h
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_generic.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_interface.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_generic.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_interface.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Media Common] fix oca bbstart muti thread ocabufhandle lock issue
  media_driver/linux/common/renderhal/hal_oca_interface.cpp
Owners: none

[Encode] HEVC HCP media interface refactor
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_softlet/agnostic/common/codec/hal/shared/codec_hw_next.cpp
  media_softlet/agnostic/common/codec/hal/shared/codec_hw_next.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
Owners: none

[CP] Fix CM/CP KW issue
  cmrtlib/linux/share/cm_common.h
  media_driver/linux/common/cm/hal/cm_type.h
Owners: none

[Media Common] Remove legacy code in mi
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_base/hw/media_srcs.cmake
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_base/hw/mhw_mi_xe_xpm_base.h
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_base/hw/mhw_mi_xe_xpm_base_impl.h
Owners: none

[Media Common] add caps file of DG2 to media_driver folder(#52861)
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Decode ETW Feature Event
  media_common/agnostic/common/os/mos_os_trace_event.h
  media_driver/agnostic/Xe_M/Xe_HPM/hw/vdbox/mhw_vdbox_avp_xe_hpm.cpp
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_hcp_interface.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_interface.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_g12_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_interface.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_mfx_g12_X.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.h
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
Owners: none

[Decode] Fix AV1 duplicate tile submission
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_tile_coding_g12.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_tile_coding_g12.h
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
Owners: none

[Decode] Error Concealment for wrong reference list
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_basic_feature_g12.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_reference_frames_g12.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_reference_frames_g12.h
Owners: none

[Media Common] Add RA context support in media context
  media_softlet/agnostic/common/shared/mediacontext/media_context.cpp
  media_softlet/agnostic/common/vp/hal/scalability/vp_scalability_option.cpp
Owners: none

[Media Common] fixed regression about TGL/KBL jpeg from DdiMedia_GetImage
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Report sub features for HEVC
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Bump up version to 22.1.0
  CMakeLists.txt
Owners: none

[VP] Fix VP KW issues
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
Owners: none

[Decode] Error check for AV1 Parameters from App
  media_common/agnostic/common/codec/shared/codec_def_decode_av1.h
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_basic_feature_g12.cpp
Owners: none

[CP] HuCStreamOutPkt refactor
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.h
Owners: none

[Encode] Add mutex to keep consistent when replace a surface
  media_driver/linux/common/ddi/media_libva_common.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] APO: ddi & hal header dependency clean
  media_common/agnostic/common/codec/shared/codec_def_encode_hevc.h
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Print curbe data
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_composite.h
  media_softlet/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_cmd_packet.h
  media_softlet/agnostic/common/vp/hal/packet/vp_render_fc_kernel.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_fc_kernel.h
Owners: none

[Decode] Refine the code for vdenc interface creation
  media_driver/media_interface/media_interfaces_dg2/media_interfaces_dg2.cpp
  media_driver/media_interface/media_interfaces_dg2/media_interfaces_dg2.h
  media_driver/media_interface/media_interfaces_pvc/media_interfaces_pvc.cpp
  media_driver/media_interface/media_interfaces_pvc/media_interfaces_pvc.h
  media_driver/media_interface/media_interfaces_xehp_sdv/media_interfaces_xehp_sdv.cpp
  media_driver/media_interface/media_interfaces_xehp_sdv/media_interfaces_xehp_sdv.h
Owners: none

[Decode] Add histogram dump support on newer platforms
  media_driver/media_softlet/agnostic/Xe_M/Xe_M_base/codec/hal/dec/vp9/pipeline/decode_vp9_pipeline_m12.cpp
Owners: none

[VP] Fix APO format unsupported
  media_driver/media_softlet/agnostic/Xe_M/Xe_HPM/vp/hal/feature_manager/vp_feature_caps_xe_hpm.h
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM/vp/hal/feature_manager/vp_feature_caps_xe_xpm.h
  media_driver/media_softlet/agnostic/gen12/vp/hal/vp_feature_caps_g12.h
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
Owners: none

[VP] Fix PVC mmd regression
  media_driver/agnostic/Xe_M/Xe_XPM_plus/shared/media_srcs.cmake
  media_driver/agnostic/Xe_M/Xe_XPM_plus/shared/renderhal_memdecomp_xe_xpm_plus.cpp
  media_driver/agnostic/Xe_M/Xe_XPM_plus/shared/renderhal_memdecomp_xe_xpm_plus.h
  media_driver/media_interface/media_interfaces_pvc/media_interfaces_pvc.cpp
  media_driver/media_interface/media_interfaces_pvc/media_interfaces_pvc.h
Owners: none
