Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Script] Fix build random failed
  Tools/MediaDriverTools/MediaClassTrace/gen_ClassTraceOffset.py
  media_driver/media_top_cmake.cmake
Owners: none

[Media Common] Bump up version to 21.4.3
  CMakeLists.txt
Owners: none

[Encode][VP9] Refactor softlet
  media_common/agnostic/common/codec/shared/codec_def_encode_vp9.h
Owners: none

[Encode] fix sku function settings
  media_driver/linux/gen11/ddi/media_sku_wa_g11.cpp
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Refactor for AV1 AVP Interface
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
Owners: none

[Encode] softlet include file code clean
  media_common/agnostic/common/codec/shared/codec_def_encode_hevc.h
  media_common/agnostic/common/codec/shared/media_srcs.cmake
  media_common/agnostic/common/media_interfaces/media_interfaces_codechal.h
  media_common/agnostic/common/media_interfaces/media_interfaces_hwinfo.h
  media_common/agnostic/common/media_interfaces/media_srcs.cmake
  media_common/agnostic/common/media_srcs.cmake
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.h
  media_driver/agnostic/common/codec/shared/media_srcs.cmake
  media_driver/agnostic/common/media_interfaces/media_srcs.cmake
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[CP] Media trace RT log/error for CP -2
  media_common/agnostic/common/os/mos_os_trace_event.h
Owners: none

Replace custom LINUX preprocessor macro with __linux__
  media_driver/agnostic/common/cm/cm_hal_dump.cpp
  media_driver/agnostic/common/cm/cm_media_state.cpp
  media_driver/agnostic/common/cm/cm_mem_sse2_impl.cpp
  media_driver/agnostic/common/cm/cm_ssh.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_csc_ds.cpp
  media_driver/agnostic/common/vp/hal/vphal.cpp
  media_driver/agnostic/common/vp/hal/vphal_debug.c
  media_driver/agnostic/common/vp/hal/vphal_debug.h
  media_driver/agnostic/common/vp/hal/vphal_render_16alignment.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_fast1ton.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_memdecomp.cpp
  media_driver/agnostic/common/vp/kdll/hal_kerneldll.c
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vp9_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.h
  media_driver/media_softlet/agnostic/g12/g12_base/renderhal/renderhal_g12_base.cpp
  media_softlet/agnostic/common/os/mos_util_debug_next.cpp
  media_softlet/agnostic/common/shared/media_debug_interface.cpp
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_softlet/agnostic/common/vp/hal/mmc/vp_mem_compression.cpp
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_adapter_base.cpp
  media_softlet/agnostic/common/vp/hal/utils/vp_dumper.cpp
  media_softlet/agnostic/common/vp/hal/utils/vp_dumper.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Replace custom LINUX_ preprocessor macro with __linux__
  Tools/MediaDriverTools/GenKrnBin/linkfile.cpp
  Tools/MediaDriverTools/GenKrnBin/main.cpp
  Tools/MediaDriverTools/KernelBinToSource/KernelBinToSource.cpp
  Tools/MediaDriverTools/KrnToHex_IGA/KrnToHex_IGA.cpp
Owners: none

[Encode] Fix unused stream state check
  media_driver/linux/common/os/mos_interface.cpp
Owners: none

[Upstream] upstream vphal, renderhal and media copy
  media_driver/media_softlet/agnostic/media_srcs.cmake
  media_softlet/agnostic/media_srcs.cmake
Owners: none

[Decode] SW WA for AV1 tile missing issue
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_tile_coding_g12.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_tile_coding_g12.h
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
Owners: none

[MOS] mos utilities refine 3
  media_common/agnostic/common/os/mos_utilities.h
  media_driver/agnostic/common/cm/cm_device_rt_base.cpp
  media_driver/agnostic/common/cm/cm_hal.cpp
  media_driver/agnostic/common/cm/cm_hal_dump.cpp
  media_driver/agnostic/common/cm/cm_perf.cpp
  media_driver/agnostic/common/cm/cm_queue_rt.cpp
  media_driver/agnostic/common/cm/cm_surface.cpp
  media_driver/agnostic/common/cm/cm_task_internal.cpp
  media_driver/agnostic/common/cm/cm_tracker.cpp
  media_driver/agnostic/common/cm/cm_wrapper.cpp
  media_driver/agnostic/common/codec/hal/codechal_decoder.cpp
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.cpp
  media_driver/agnostic/common/heap_manager/heap_manager.cpp
  media_driver/agnostic/common/os/mos_graphicsresource.cpp
  media_driver/agnostic/common/os/mos_os.c
  media_driver/agnostic/common/os/mos_util_debug.cpp
  media_driver/agnostic/common/shared/media_perf_profiler.cpp
  media_driver/agnostic/common/vp/hal/vphal_debug.c
  media_driver/agnostic/gen10/codec/hal/codechal_vdenc_vp9_g10.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_encode_hevc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_g12.cpp
  media_driver/linux/common/cm/hal/cm_device_rt.cpp
  media_driver/linux/common/cm/hal/cm_ftrace.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/os/mos_context_specific.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/linux/common/os/mos_utilities_specific.cpp
  media_driver/linux/common/vp/ddi/media_libva_vp_tools.c
  media_driver/linux/common/vp/hal/skuwa_dump_specific.c
  media_softlet/agnostic/common/os/mos_utilities_next.h
  media_softlet/agnostic/common/shared/media_debug_interface.cpp
  media_softlet/agnostic/common/vp/hal/utils/vp_dumper.cpp
  media_softlet/linux/common/os/mos_utilities_specific_next.cpp
  media_softlet/linux/common/vp/hal/skuwa_dumper_specific.c
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] GMM Multi-Adapter Interface Changes
  media_common/linux/common/os/media_skuwa_specific.h
  media_common/linux/common/os/mos_os_specific.h
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/os/linux_shadow_skuwa.h
  media_driver/linux/common/os/mos_auxtable_mgr.cpp
  media_driver/linux/common/os/mos_auxtable_mgr.h
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_top_cmake.cmake
  media_softlet/agnostic/common/os/mos_interface.h
  media_softlet/linux/common/os/mos_context_specific_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Disable VC1 caps for decode
  media_common/agnostic/common/codec/shared/codec_def_common_encode.h
Owners: none

Remove -DLINUX_
  Tools/MediaDriverTools/GenDmyHex/CMakeLists.txt
  Tools/MediaDriverTools/GenKrnBin/CMakeLists.txt
  Tools/MediaDriverTools/KernelBinToSource/CMakeLists.txt
  Tools/MediaDriverTools/KrnToHex/CMakeLists.txt
  Tools/MediaDriverTools/KrnToHex_IGA/CMakeLists.txt
Owners: none

[Media Common] Fix include when building with -DGEN8=OFF
  media_driver/agnostic/gen12/cm/cm_hal_g12.h
Owners: none

[Decode] AVC/HEVC/AV1 buffer event trace log
  media_common/agnostic/common/os/mos_os_trace_event.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_hcp_generic.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.h
Owners: none

[Media Common] fixed regression about DdiMediaUtil_UnlockSurface
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode][Encode] Refactor the hw interface for upstream
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.h
Owners: none

[Encode] Integrate WA for vertical intra refresh
  media_driver/linux/gen11/ddi/media_sku_wa_g11.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] VP9e APO DDI refactoring
  media_common/agnostic/common/codec/shared/codec_def_encode_vp9.h
Owners: none

[Encode] mediaUserSetting destroy in multi thread
  media_softlet/agnostic/common/os/mos_utilities_next.cpp
  media_softlet/agnostic/common/os/mos_utilities_next.h
Owners: none

[Media Common] Fix include when building with -DGEN8=OFF
  media_driver/agnostic/gen12/cm/cm_hal_g12.h
Owners: none

[VP] Fix HVS Subjective Mode blur issue
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: none

[Decode] Add error detection for AV1 decode parameters
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_basic_feature_g12.cpp
Owners: none

[VP] Fix mavd regression
  media_driver/agnostic/common/vp/kdll/hal_kerneldll.c
Owners: none

[VP] Enable APO FC by default
  media_softlet/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
Owners: none

[Media Common] Regression fix
  media_driver/linux/common/os/mos_interface.cpp
Owners: none

Revert "[Encode] mediaUserSetting destroy in multi thread"
  media_softlet/agnostic/common/os/mos_utilities_next.cpp
  media_softlet/agnostic/common/os/mos_utilities_next.h
Owners: none

[Encode] Fix incorrect perf tag
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] fix fc case not enter apo path
  media_softlet/agnostic/common/vp/hal/features/vp_csc_filter.cpp
Owners: none

[Decode] HucCopy Packet refactor
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/media_srcs.cmake
Owners: none

[Decode] Fix SW WA for AV1 tile missing
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_tile_coding_g12.cpp
Owners: none

[MOS] Reslove message issue
  media_common/agnostic/common/os/mos_utilities.h
Owners: none

[Encode] Refactor for AV1 media Interface
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
Owners: none

[Decode][Encode] Refactor the mhw for upstream
  media_driver/agnostic/Xe_M/Xe_HPM/hw/vdbox/mhw_vdbox_avp_xe_hpm.cpp
  media_driver/agnostic/Xe_M/Xe_HPM/hw/vdbox/mhw_vdbox_avp_xe_hpm.h
Owners: none

[Media Common] Bump up version to 21.4.4
  CMakeLists.txt
Owners: none

[Media Common] Add Attribute to QuerySurfaceAttributes
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert " [Encode] VP9e APO DDI refactoring"
  media_common/agnostic/common/codec/shared/codec_def_encode_vp9.h
Owners: none

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
