Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Update fractional QP enabling logic
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Decode] enable rgb surface codechal dump
  media_driver/agnostic/common/shared/media_debug_interface.cpp
  media_driver/agnostic/common/shared/media_debug_interface.h
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
Owners: none

[Decode] Refactoring codechalHW & mediaInterface for softlet build
  media_common/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_softlet/agnostic/common/codec/hal/media_srcs.cmake
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
  media_softlet/agnostic/common/media_interfaces/media_srcs.cmake
  media_softlet/agnostic/common/media_srcs.cmake
  media_softlet/linux/common/media_interfaces/media_interfaces_next.cpp
  media_softlet/linux/common/media_interfaces/media_srcs.cmake
Owners: none

[Decode] Fix for AV1 tile error concealment
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
  media_softlet/agnostic/common/codec/hal/dec/av1/features/decode_av1_tile_coding.cpp
  media_softlet/agnostic/common/codec/hal/dec/av1/features/decode_av1_tile_coding.h
Owners: none

[Media Common] add media copy caps
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] DDI refactoring for JPEG
  media_common/agnostic/common/codec/shared/codec_def_encode.h
  media_common/agnostic/common/codec/shared/codec_def_encode_jpeg.h
Owners: none

Revert "[Encode] Add oca for 2nd/3rd level BB"
  media_driver/agnostic/common/hw/mhw_mi.h
  media_driver/agnostic/common/os/mos_oca_interface.h
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.cpp
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.h
Owners: none

Revert "[Decode] Refactoring codechalHW & mediaInterface for softlet build"
  media_common/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_softlet/agnostic/common/codec/hal/media_srcs.cmake
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
  media_softlet/agnostic/common/media_interfaces/media_srcs.cmake
  media_softlet/agnostic/common/media_srcs.cmake
  media_softlet/linux/common/media_interfaces/media_interfaces_next.cpp
  media_softlet/linux/common/media_interfaces/media_srcs.cmake
  media_softlet/linux/common/media_srcs.cmake
Owners: none

[VP] Add Kdll related code for platform in APO
  media_softlet/agnostic/common/vp/kdll/hal_kerneldll_next.c
  media_softlet/agnostic/common/vp/kdll/media_srcs.cmake
Owners: none

mos: check fences availability for tiling operations
  media_driver/linux/common/os/i915/mos_bufmgr.c
Owners: none

dg1: enable dg1 on upstream kernel
  media_driver/cmake/linux/media_gen_flags_linux.cmake
  media_driver/linux/common/os/i915/mos_bufmgr.c
Owners: none

[MOS] Dump binding table together with command buffer
  media_driver/agnostic/common/os/mos_interface.h
Owners: none

[Encode] MHW refactoring
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_softlet/agnostic/common/hw/vdbox/media_srcs.cmake
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_hcp_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_hcp_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_hcp_itf.h
Owners: none

[VP] disable EUfusion when colorfill and rotation work togther
  media_driver/agnostic/common/renderhal/renderhal.h
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
Owners: none

[Encode] Make MediaInterfacesHwInfo available for G9
  media_driver/media_interface/media_interfaces_m9_cfl/media_interfaces_g9_cfl.cpp
  media_driver/media_interface/media_interfaces_m9_cfl/media_interfaces_g9_cfl.h
  media_driver/media_interface/media_interfaces_m9_kbl/media_interfaces_g9_kbl.cpp
  media_driver/media_interface/media_interfaces_m9_kbl/media_interfaces_g9_kbl.h
Owners: none

[Encode] Align programming with cmodel
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Decode] Refactoring codechalHW & mediaInterface for softlet build
  media_common/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_softlet/agnostic/common/codec/hal/media_srcs.cmake
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
  media_softlet/agnostic/common/media_interfaces/media_srcs.cmake
  media_softlet/agnostic/common/media_srcs.cmake
  media_softlet/linux/common/media_interfaces/media_interfaces_next.cpp
  media_softlet/linux/common/media_interfaces/media_srcs.cmake
Owners: none

[VP] fix iscaling blt error
  media_softlet/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
Owners: none

[Decode] HEVC regkey enable for Huc load fail in Apogeios
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
Owners: none

[Decode] Add the surface format check for jpeg decode
  media_driver/linux/common/codec/ddi/media_ddi_decode_jpeg.cpp
  media_driver/linux/common/codec/ddi/media_ddi_decode_jpeg.h
Owners: none

[Decode] avoid the array out of bounds when the forward or backward reference frame is invalid
  media_driver/linux/common/codec/ddi/media_ddi_decode_mpeg2.cpp
Owners: none

i915/uapi: sync headers with drm-next@6f2f7c83
  media_driver/linux/common/os/i915/include/uapi/README
  media_driver/linux/common/os/i915/include/uapi/drm_mode.h
  media_driver/linux/common/os/i915/include/uapi/i915_drm.h
Owners: none

[VP] fallback to BT709 when input is 444P + BT2020
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: none

[Media Common] Bump up version to 21.4.1
  CMakeLists.txt
Owners: none

[Media Common] refactor CreateSurface for media_libva_interface_next
  media_softlet/linux/common/ddi/media_libva_interface_next.cpp
  media_softlet/linux/common/ddi/media_libva_interface_next.h
  media_softlet/linux/common/ddi/media_srcs.cmake
Owners: none

check the dependencies of libva-x11
  media_driver/cmake/linux/media_compile_flags_linux.cmake
  media_driver/media_top_cmake.cmake
Owners: none

[Encode] Enable MV precision
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_vdenc_g11_X.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
  media_driver/agnostic/gen9_kbl/hw/vdbox/mhw_vdbox_vdenc_g9_kbl.cpp
Owners: none

[MOS] Remove IPC ops on Linux
  media_driver/linux/common/os/mos_context_specific.cpp
Owners: none

[VP] Update readme to add more formats and max resolution
  docs/media_features.md
Owners: none

[Media Common] RGBP not compressed if FtrRenderCompressionOnly
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Resource driven MOCS refactor for HEVC
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_hcp_impl.h
Owners: none

Handle odd dimensions for external non-compressible surfaces
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Add mhw mi for new interface
  media_softlet/agnostic/common/hw/mhw_mi_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_mi_impl.h
  media_softlet/agnostic/common/hw/mhw_mi_itf.h
  media_softlet/agnostic/common/hw/mhw_mmio_common.h
Owners: none

[Encode] [common]MediaUsersetting random default value
  media_driver/agnostic/common/shared/user_setting/media_user_setting_value.h
Owners: none

[Encode] Add update of delta QP for LPLA
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[VP] APO FC Preparing: Add FC related code in resource manager
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.h
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.h
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_softlet/agnostic/common/vp/hal/packet/vp_render_kernel_obj.cpp
Owners: none

[VP] Correct lace, ace and ste caps
  media_driver/media_softlet/agnostic/gen12/vp/hal/vp_feature_caps_g12.h
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/vp_feature_caps.h
Owners: none

[VP] Fix kw issue caused by nullptr checking and refine varible naming
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
Owners: none

Revert "[Decode] avoid the array out of bounds when the forward or backward reference frame is invalid"
  media_driver/linux/common/codec/ddi/media_ddi_decode_mpeg2.cpp
Owners: none

[Decode] avoid the array out of bounds when the forward or backward reference frame is invalid
  media_driver/linux/common/codec/ddi/media_ddi_decode_mpeg2.cpp
Owners: none

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
