Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[MOS] Enable guc based frame split
  media_driver/agnostic/common/os/mos_os.c
  media_driver/agnostic/common/os/mos_os.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/linux/common/os/mos_gpucontext_specific.h
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.h
Owners: none

[MOS] mos class refine
  media_driver/media_driver_next/agnostic/common/os/mos_commandbuffer_next.h
  media_driver/media_driver_next/agnostic/common/os/mos_context_next.h
  media_driver/media_driver_next/agnostic/common/os/mos_gpucontext_next.h
  media_driver/media_driver_next/linux/common/os/mos_commandbuffer_specific_next.cpp
  media_driver/media_driver_next/linux/common/os/mos_commandbuffer_specific_next.h
Owners: none

[CP] add trace event for external surface create
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Add OCA decode workload and resource dump info
  media_driver/agnostic/common/hw/mhw_utilities.c
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_grv_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp2_packet_g12.cpp
Owners: none

[Encode] WA for HEVC VDEnc POC diff limitation
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
Owners: none

[Decode] Fix for HandBrake transcoding perf with mmc
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_avc_g12.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_jpeg_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_jpeg_g12.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_mpeg2_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_mpeg2_g12.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.h
  media_driver/agnostic/gen12/codec/hal/codechal_mmc_g12.cpp
Owners: none

[Encode] Align some surface states for bottom field case with TGLLP ones
  media_driver/agnostic/gen12/codec/hal/codechal_kernel_intra_dist_mdf_g12.cpp
Owners: none

[Encode] Return error for unsupported LCUSize
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Fix Gmm flags Settings for MMC conditions
  media_driver/linux/common/os/mos_graphicsresource_specific.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/linux/common/os/mos_graphicsresource_specific_next.cpp
Owners: none

[IGC IssueFix][vISA]: Update the platform info of FC linker in media
  media_driver/agnostic/common/vp/cm_fc_ld/PatchInfo.h
  media_driver/agnostic/common/vp/cm_fc_ld/PatchInfoLinker.cpp
Owners: none

fix stack buffer read access overflow issue.
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_scalability_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_scalability_g12.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vp9_g12.cpp
Owners: none

[MOS] user feature key path init
  media_driver/agnostic/common/os/mos_utilities_common.h
Owners: none

[Decode] Fix SFC issue for VP9 APO
  media_driver/agnostic/gen12/hw/mhw_sfc_g12_X.h
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.cpp
Owners: none

[Encode] Use re-PAK threshold for quality
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.cpp
Owners: none

Revert "[Encode] Fix tcbrc caps report issue for HEVC VDEnc"
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] oca enabling
  media_driver/agnostic/common/os/mos_defs.h
Owners: none

Revert "[Encode] Fix issue about apo caps ult"
  CMakeLists.txt
Owners: none

fix memory leak caused by external surface descriptor
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Add Libva Caps checking
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix KW scan issue
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.h
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/vp_platform_interface.cpp
Owners: none

[Decode] release decode context buffer when destroy decode context
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Interface] enable hw info
  media_driver/agnostic/common/media_interfaces/media_interfaces_hwinfo.h
  media_driver/agnostic/common/media_interfaces/media_interfaces_hwinfo_device.h
  media_driver/agnostic/common/media_interfaces/media_srcs.cmake
Owners: none

[Encode] Fix MSDK random assert issue
  media_driver/media_driver_next/agnostic/common/shared/statusreport/media_status_report.cpp
Owners: none

[MOS] Refine the interface object construct and destruct
  media_driver/media_driver_next/agnostic/common/os/mos_gpucontext_next.h
Owners: none

[CP] Enable Netflix Av1 Playback
  media_driver/media_driver_next/agnostic/common/cp/decodecp_interface.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
Owners: none

[Encode] Fix TCBRC caps report issue
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Fix BRC coding style issues
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.h
Owners: none

Update Readme for AV1 film grain
  README.md
Owners: none

Remove redundant log file
  debug.log
Owners: none

[Decode] Fix VP9d APO SFC issue: Clean Sfc deferred destroy resource
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
Owners: none

[Encode] Enable MxN tiles on 1 VDBox
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
Owners: none

[Media Common] ADLP OPEN SOURCE
  README.md
  docs/media_features.md
  media_driver/cmake/linux/media_gen_flags_linux.cmake
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
  media_driver/linux/gen12/ddi/media_sysinfo_g12.cpp
  media_driver/media_interface/media_interfaces_m12_adlp/media_interfaces_g12_adlp.cpp
  media_driver/media_interface/media_interfaces_m12_adlp/media_interfaces_g12_adlp.h
  media_driver/media_interface/media_interfaces_m12_adlp/media_srcs.cmake
  media_driver/media_interface/media_srcs.cmake
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

fix KW issue.
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
Owners: none

Bump up media version to 20.4.4
  debug.log
Owners: none

[Decode] Fix command size calculation error on linux
  media_driver/agnostic/gen12/hw/mhw_sfc_g12_X.h
Owners: none

[VP] Add SR New Model for 1080p support
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/os/mos_utilities.cpp
Owners: none

[VP] Fix loss of Y210 and Y410 format in vaQuerySurfaceAttributes.
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Check if the pointer to MHW CMD parser is null before using it
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_softlet/agnostic/common/hw/mhw_impl.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

Revert "[VP] Add New SR model support for 1080p"
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/os/mos_utilities.cpp
Owners: none

[VP] Fix 2pass CSC PROCAMP not work issue
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
Owners: none
