Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[Media Common] Media trace RT log - 1
  media_driver/agnostic/common/vp/hal/vphal_common.c
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
Owners: none

[Meida Common] Add media caps data sample
  media_softlet/linux/common/ddi/caps_register_specific.h
  media_softlet/linux/common/ddi/capstable_data_hevc_vdenc_m12_0_r0_specific.h
  media_softlet/linux/common/ddi/capstable_data_image_format_definition.h
  media_softlet/linux/common/ddi/capstable_data_m12_0_r0_specific.h
  media_softlet/linux/common/ddi/media_capstable_specific.cpp
  media_softlet/linux/common/ddi/media_srcs.cmake
Owners: none

[VP] support argb16 for vecopy
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_memdecomp.cpp
Owners: none

[CP] Disbale Hucstreamout in special usage
  media_softlet/agnostic/common/cp/decodecp_interface.h
Owners: none

Revert "[CP] Disbale Hucstreamout in special usage "
  media_softlet/agnostic/common/cp/decodecp_interface.h
Owners: none

[Encode] Use ActualHeight/Width for AVC encode only
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_mfx_g12_X.cpp
Owners: none

[Encode][VP9] Make all user features to be media features
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_vp9_g11.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_vp9_g11.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.h
Owners: none

[Encode] add AddMiVdControlStateCmd to base class
  media_driver/agnostic/common/hw/mhw_mi.h
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.h
Owners: none

[Media Common] Readme update to add GLK and opt feature table
  README.md
  docs/media_features.md
Owners: none

[Media Common] Bump up version to 21.3.5
  CMakeLists.txt
Owners: none

[Media Common] use GPU copy for small resultion on vamap/unmap
  media_driver/linux/common/codec/ddi/media_ddi_decode_base.h
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Refactor codechalHW & mediainteface for AV1d
  media_common/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_softlet/agnostic/common/codec/hal/media_srcs.cmake
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
  media_softlet/agnostic/common/media_interfaces/media_srcs.cmake
  media_softlet/agnostic/common/media_srcs.cmake
  media_softlet/linux/common/media_interfaces/media_interfaces_next.cpp
  media_softlet/linux/common/media_interfaces/media_srcs.cmake
Owners: none

[VP] apo mhw render refactor
  media_driver/agnostic/common/hw/mhw_render.h
  media_driver/agnostic/common/renderhal/media_srcs.cmake
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/common/renderhal/renderhal.h
  media_driver/agnostic/common/renderhal/renderhal_platform_interface.h
  media_driver/agnostic/common/renderhal/renderhal_platform_interface_legacy.cpp
  media_driver/agnostic/common/renderhal/renderhal_platform_interface_legacy.h
  media_softlet/agnostic/common/hw/media_srcs.cmake
  media_softlet/agnostic/common/hw/mhw_render_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_render_impl.h
  media_softlet/agnostic/common/hw/mhw_render_itf.h
  media_softlet/agnostic/common/renderhal/media_srcs.cmake
  media_softlet/agnostic/common/renderhal/renderhal_platform_interface_next.cpp
  media_softlet/agnostic/common/renderhal/renderhal_platform_interface_next.h
Owners: none

Revert "[Decode] Refactor codechalHW & mediainteface for AVP"
  media_common/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_softlet/agnostic/common/codec/hal/media_srcs.cmake
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
  media_softlet/agnostic/common/media_interfaces/media_srcs.cmake
  media_softlet/agnostic/common/media_srcs.cmake
  media_softlet/linux/common/media_interfaces/media_interfaces_next.cpp
  media_softlet/linux/common/media_interfaces/media_srcs.cmake
  media_softlet/linux/common/media_srcs.cmake
Owners: none

[Decode] AV1 Fix mismatched free
  media_softlet/agnostic/common/codec/hal/dec/av1/features/decode_av1_tile_coding.cpp
Owners: none

[Decode] AV1 Fix mismatched free
  media_softlet/agnostic/common/codec/hal/dec/av1/features/decode_av1_tile_coding.cpp
Owners: none

i915/uapi: sync headers with drm-next @ 1e394457
  media_driver/linux/common/os/i915/include/uapi/README
  media_driver/linux/common/os/i915/include/uapi/drm.h
  media_driver/linux/common/os/i915/include/uapi/drm_fourcc.h
  media_driver/linux/common/os/i915/include/uapi/drm_mode.h
  media_driver/linux/common/os/i915/include/uapi/i915_drm.h
Owners: none

mos: check fences availability for tiling operations
  media_driver/linux/common/os/i915/mos_bufmgr.c
Owners: none

dg1: enable dg1 on upstream kernel
  media_driver/cmake/linux/media_gen_flags_linux.cmake
  media_driver/linux/common/os/i915/mos_bufmgr.c
Owners: none

[Decode] Error Concealment for AV1 tile oversize
  media_softlet/agnostic/common/codec/hal/dec/av1/features/decode_av1_tile_coding.cpp
  media_softlet/agnostic/common/codec/hal/dec/av1/features/decode_av1_tile_coding.h
Owners: none

[Kernel] update dg1 uapi to match latest production kernel
  media_driver/linux/common/os/i915_production/include/README.md
  media_driver/linux/common/os/i915_production/include/i915_drm.h
Owners: none

[Decode] Refactor codechalHW & mediainteface for AV1d
  media_common/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_softlet/agnostic/common/codec/hal/media_srcs.cmake
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
  media_softlet/agnostic/common/media_interfaces/media_srcs.cmake
  media_softlet/agnostic/common/media_srcs.cmake
  media_softlet/linux/common/media_interfaces/media_interfaces_next.cpp
  media_softlet/linux/common/media_interfaces/media_srcs.cmake
Owners: none

Revert "[VP] Fix VPP DN not taking effect in New Path"
  media_softlet/agnostic/common/shared/packet/media_render_cmd_packet.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.h
Owners: none

[Media Common] warp layer
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_interface.cpp
  media_softlet/linux/common/ddi/media_capstable_specific.cpp
  media_softlet/linux/common/ddi/media_capstable_specific.h
  media_softlet/linux/common/ddi/media_libva_interface_next.cpp
  media_softlet/linux/common/ddi/media_libva_interface_next.h
  media_softlet/linux/common/enc/ddi/ddi_encode_functions.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Decode] Refactor codechalHW & mediainteface for AV1d"
  media_common/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_softlet/agnostic/common/codec/hal/media_srcs.cmake
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
  media_softlet/agnostic/common/media_interfaces/media_srcs.cmake
  media_softlet/agnostic/common/media_srcs.cmake
  media_softlet/linux/common/media_interfaces/media_interfaces_next.cpp
  media_softlet/linux/common/media_interfaces/media_srcs.cmake
  media_softlet/linux/common/media_srcs.cmake
Owners: none

[VP] Correct apo mem object control for cache
  media_softlet/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
Owners: none

[Decode] HEVC regkey enable for Huc load fail in legacy
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/codec/hal/codechal_decode_hevc.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
Owners: none

Revert "[Media Common] use GPU copy for small resultion on vamap/unmap"
  media_driver/linux/common/codec/ddi/media_ddi_decode_base.h
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] mhw mi refine
  media_driver/agnostic/common/hw/mhw_mi.h
  media_driver/agnostic/gen12/hw/mhw_mmio_g12.h
  media_softlet/agnostic/common/hw/media_srcs.cmake
  media_softlet/agnostic/common/hw/mhw_mi_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_mi_impl.h
  media_softlet/agnostic/common/hw/mhw_mi_itf.h
  media_softlet/agnostic/common/hw/mhw_mmio_common.h
Owners: none

[Decode] Resolve dependency of codechal_decoder.h in codechal_deissue
  media_driver/agnostic/common/codec/hal/codechal_debug.cpp
  media_driver/agnostic/common/codec/hal/codechal_debug.h
  media_driver/agnostic/common/codec/hal/codechal_decoder.cpp
Owners: none

[Encode] Add Interface to modify HuC DMEM buffer
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

i915/uapi: sync headers with drm-next @ 1e394457
  media_driver/linux/common/os/i915/include/uapi/README
  media_driver/linux/common/os/i915/include/uapi/drm.h
  media_driver/linux/common/os/i915/include/uapi/drm_fourcc.h
  media_driver/linux/common/os/i915/include/uapi/drm_mode.h
  media_driver/linux/common/os/i915/include/uapi/i915_drm.h
Owners: none

[Encode] Optimize MB QP Data surface reading operations
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[CP] add HardwareProtected flag for CP specifical resource
  media_driver/agnostic/common/os/mos_os.h
  media_softlet/agnostic/common/os/mos_graphicsresource_next.h
Owners: none

[CP] resubmit disbale Hucstreamout in special usage
  media_softlet/agnostic/common/cp/decodecp_interface.h
Owners: none

[Encode] Add oca for 2nd/3rd level BB
  media_driver/agnostic/common/hw/mhw_mi.h
  media_driver/agnostic/common/os/mos_oca_interface.h
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.cpp
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.h
Owners: none

Revert "[Encode] Add oca for 2nd/3rd level BB"
  media_driver/agnostic/common/hw/mhw_mi.h
  media_driver/agnostic/common/os/mos_oca_interface.h
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.cpp
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.h
Owners: none

[Media Common] Enabling unuse DDI in interface next
  media_driver/linux/common/ddi/media_libva_interface.cpp
  media_driver/linux/common/ddi/media_libva_interface.h
  media_softlet/linux/common/ddi/media_libva_interface_next.cpp
  media_softlet/linux/common/ddi/media_libva_interface_next.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Refine feature setting
  media_softlet/agnostic/common/shared/features/media_feature_const_settings.h
Owners: none

[Encode] Add oca for 2nd/3rd level BB
  media_driver/agnostic/common/hw/mhw_mi.h
  media_driver/agnostic/common/os/mos_oca_interface.h
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.cpp
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.h
Owners: none
