Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Refactor HEVC VDENC CMD2 const data
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
Owners: none

Revert "[Encode] Refine HevcVdenc MOCS"
  media_driver/agnostic/common/hw/mhw_render_generic.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_hwcmd_g12_X.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[Media Common] Fix SoftPin VA switch issue with different memory type
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Add UMD Profler for BRC
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] fix one HDR CSC return error about BT.709
  media_driver/agnostic/common/vp/hal/vphal_render_hdr_base.cpp
Owners: none

Fix gmmlib compatibility link
  README.md
Owners: none

[Media Common] Enable Linux caps refactor
  media_softlet/agnostic/common/shared/media_capstable.h
  media_softlet/agnostic/common/shared/media_srcs.cmake
  media_softlet/linux/common/ddi/capstable_data_linux_definition.h
  media_softlet/linux/common/ddi/media_capstable_linux.cpp
  media_softlet/linux/common/ddi/media_capstable_linux.h
  media_softlet/linux/common/ddi/media_srcs.cmake
Owners: none

[Decode] Un-Attach Decode Stop To Frame from Media Deissue Hooks
  media_driver/agnostic/common/codec/hal/codechal_debug.cpp
  media_driver/agnostic/common/codec/hal/codechal_decoder.cpp
  media_driver/agnostic/common/shared/media_debug_interface.cpp
  media_driver/agnostic/common/shared/media_debug_interface.h
Owners: none

Adding Issue Template
  .github/ISSUE_TEMPLATE/0-bug-issue.md
  .github/ISSUE_TEMPLATE/1-regression.md
  .github/ISSUE_TEMPLATE/2-feature-request.md
Owners: none

Adding Issue Template
  .github/ISSUE_TEMPLATE/0-bug-issue.md
  .github/ISSUE_TEMPLATE/1-regression.md
  .github/ISSUE_TEMPLATE/2-feature-request.md
Owners: none

Readme update for building
  README.md
Owners: none

[Encode] Fix rowStore params uninitialized issue
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox.h
Owners: none

Use inline encode status update for low-power HEVC encoding
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Add a function to query hardware configuration information from KMD.
  media_driver/linux/common/os/i915/mos_bufmgr.c
Owners: none

[Media Common] fix kw issue variable uninitialized
  media_softlet/linux/common/ddi/media_capstable_linux.h
Owners: none

[Encode] Move some common code to base class
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
Owners: none

[Decode] Add flag check to enhance robustness
  media_softlet/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.cpp
  media_softlet/agnostic/common/shared/media_sfc_interface/media_sfc_render.cpp
  media_softlet/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
  media_softlet/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.h
  media_softlet/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
Owners: none

[Decode] Switch All g12 platform
  media_softlet/agnostic/common/codec/hal/dec/shared/decode_input_bitstream.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
Owners: none

[Encode] Fix a row store cache setting issue
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[Encode] Remove lecacy dependency for AV1e APO DDI
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/os/mos_utilities.cpp
Owners: none

[Encode]Fix incorrect MBQP map for HEVC VDENC.
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_interface.h
  media_driver/agnostic/gen10/codec/hal/codechal_vdenc_hevc_g10.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_hevc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Fix incorrect MBQP in new struct
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
Owners: none

[Media Common] enable BLT copy on some platform.
  media_driver/agnostic/common/hw/mhw_blt.cpp
  media_driver/media_softlet/agnostic/m12/m12_0/shared/mediacopy/media_copy_m12_0.cpp
  media_softlet/agnostic/common/shared/mediacopy/media_blt_copy.cpp
  media_softlet/agnostic/common/shared/mediacopy/media_copy.cpp
  media_softlet/agnostic/common/shared/mediacopy/media_vebox_copy.cpp
Owners: none

[Decode] driver WA for APP refindex is equal to currframe index issue
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
Owners: none

[Encode] Optimize the write operations in SetSurfaceState
  media_driver/agnostic/gen12/hw/mhw_state_heap_g12.c
Owners: none

[Media Common] fix oca Array Index Out of Bounds issue & refactor code to make rsource mem apply traced by memninja
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/os/mos_oca_interface_specific.h
  media_driver/linux/common/os/mos_oca_specific.cpp
  media_driver/linux/common/renderhal/hal_oca_interface.cpp
  media_softlet/linux/common/ddi/media_libva_interface_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Move os related macro to os specific file
  media_driver/agnostic/common/os/mos_util_debug.h
Owners: none

[VP] Adjust target width/height according to rcSrc for vebox crop case
  media_driver/agnostic/gen11/vp/hal/vphal_render_vebox_g11_base.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.cpp
  media_driver/agnostic/gen9/vp/hal/vphal_render_vebox_g9_base.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[Decode] HEVC S2L packet refactor
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/media_srcs.cmake
Owners: none

[VP] CameraPipe APO enabling
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_softlet/agnostic/common/vp/hal/features/vp_filter.h
  media_softlet/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[MOS] Add graphics virtual address zone for imported buffers
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
Owners: none

implement the display attribute for vaCopy
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
  media_driver/linux/common/ddi/media_libva_interface.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.h
  media_softlet/linux/common/ddi/media_libva_interface_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Bump up version to 21.3.4
  CMakeLists.txt
Owners: none

[Encode] Add fake header support for AVCe
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Override for non-ref B
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Media Common] Enabling Linux caps next
  media_softlet/linux/common/ddi/capstable_data_linux_definition.h
  media_softlet/linux/common/ddi/media_capstable_linux.cpp
  media_softlet/linux/common/ddi/media_capstable_linux.h
  media_softlet/linux/common/ddi/media_libva_caps_next.cpp
  media_softlet/linux/common/ddi/media_libva_caps_next.h
  media_softlet/linux/common/ddi/media_srcs.cmake
Owners: none

implement the display attribute for vaCopy
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
  media_driver/linux/common/ddi/media_libva_interface.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.h
  media_softlet/linux/common/ddi/media_libva_interface_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Issue fix for refactored code path
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[VP] Correct lace caps
  media_driver/media_softlet/agnostic/gen12/vp/hal/vp_feature_caps_g12.h
Owners: none

[Media Common] add compressed modifier for export surface
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_caps.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
