Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Enable Secure Copy in APG Path
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
Owners: none

[Media Common] Add res location in cmd and res offset to OCA
  media_driver/agnostic/common/hw/mhw_utilities.c
  media_driver/agnostic/common/os/mos_oca_interface.h
  media_driver/agnostic/common/renderhal/hal_oca_interface.h
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/linux/common/renderhal/hal_oca_interface.cpp
Owners: none

[Decode] AV1d SW latency optimization
  media_driver/agnostic/gen12/codec/shared/codec_def_decode_av1.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_tile_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_tile_packet.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
Owners: none

[Encode] Align some surface states for bottom field case with TGLLP ones
  media_driver/agnostic/gen12/codec/hal/codechal_kernel_intra_dist_mdf_g12.cpp
Owners: none

[Decode] Adding placeholder for APO Mpeg2 decode
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
Owners: none

Revert "[VP] Fix NV12 interlaced scaling align unit issue"
  media_driver/agnostic/common/vp/hal/vphal_render_common.h
  media_driver/agnostic/common/vp/hal/vphal_renderer.cpp
Owners: none

[Media Common] Add media reset support for VP and decode
  media_driver/agnostic/common/hw/mhw_mi.cpp
  media_driver/agnostic/common/hw/mhw_mi.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/gen10/hw/mhw_mi_g10_X.cpp
  media_driver/agnostic/gen11/hw/mhw_mi_g11_X.cpp
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.cpp
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/ddi/media_libva_util.h
  media_driver/linux/common/hw/media_srcs.cmake
  media_driver/linux/common/hw/mhw_mi_linux.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[CP] add buffer object gpu map address in trace
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
Owners: none

[VP] Fix KW issue
  media_driver/agnostic/common/renderhal/renderhal.cpp
Owners: none

[VP] fix clearview issue
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
Owners: none

[VP] Enable APO SFC RGB input
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
Owners: none

[Decode] Correcting decodeScalabilityPars intialization for decode sub pipeline.
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/decode_input_bitstream.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_sfc_histogram_postsubpipeline.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_postsubpipeline_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_presubpipeline_g12.cpp
Owners: none

[Media Common] Add hwCmdTypes and cacheUsage in oca resource info
  media_driver/agnostic/common/hw/mhw_utilities.c
  media_driver/agnostic/common/os/mos_oca_interface.h
  media_driver/agnostic/common/os/mos_os_hw.h
  media_driver/agnostic/common/renderhal/hal_oca_interface.h
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/linux/common/renderhal/hal_oca_interface.cpp
Owners: none

[VP] Enable HDR APO by default Open part
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_common.h
Owners: none

[Media Common] Add Libva caps checking
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Encode] Fix MSDK random assert issue"
  media_driver/media_driver_next/agnostic/common/shared/statusreport/media_status_report.cpp
Owners: none

Bump up version to 21.1.3
  CMakeLists.txt
Owners: none

[MOS] Destroy compute gpu context in cmd queue destroy
  media_driver/agnostic/common/cm/cm_queue_rt.cpp
  media_driver/agnostic/common/cm/cm_queue_rt.h
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/agnostic/common/os/mos_os.h
  media_driver/linux/common/os/mos_os_specific.c
Owners: none

[CP] Refine short format flow
  media_driver/linux/common/codec/ddi/media_ddi_decode_avc.cpp
  media_driver/linux/common/codec/ddi/media_ddi_decode_base.cpp
  media_driver/linux/common/cp/ddi/media_libva_cp_interface.cpp
  media_driver/linux/common/cp/ddi/media_libva_cp_interface.h
Owners: none

[Decode] Add decode mode report for av1
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/linux/common/codec/ddi/media_ddi_decode_base.cpp
Owners: none

[VP] enable vebox scalability test with release driver in linux
  media_driver/agnostic/common/os/mos_os.h
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
Owners: none

Increase patchlist buffer for MI_STORE_DATA_IMM_CMD
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.cpp
Owners: none

[VP] Allocate height with surface height with height bar included
  media_driver/agnostic/common/hw/mhw_sfc.h
Owners: none

[Encode] Fix G11 ARGB CSC on SFC
  media_driver/agnostic/gen11/codec/hal/codechal_encode_sfc_g11.cpp
Owners: none

[Encode] Fix HEVC resolution checking
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] refine APG Resource manager
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[Encode] Improve AVC BRC native ROI
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[VP] [APO]CMRT Removal
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/common/renderhal/renderhal.h
  media_driver/agnostic/gen12/renderhal/renderhal_g12.cpp
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_kernelset.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_kernelset.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_packet_pipe.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_packet_pipe.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_common.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/vp_platform_interface.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/vp_platform_interface.h
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_debug_interface.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_debug_interface.h
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_dumper.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_dumper.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_grv_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp2_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12_tgllp/vp/hal/platform_interface/vp_platform_interface_g12_tgllp.cpp
Owners: none

[Encode] Enable SW back annotation support for BRC case
  media_driver/agnostic/gen12/codec/shared/codec_def_common_av1.h
Owners: none

Revert "[Media Common] Add Libva caps checking"
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Moving complete count buffer to end of status buffer to avoid decode status update later than complete count buffer update
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_driver/media_driver_next/agnostic/common/shared/statusreport/media_status_report.cpp
Owners: none

[Encode] Fix StreamIn dump logic
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[VP] Enable Amazon Security Camera SR
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
Owners: none

[CP] Enable protected content driver implementation
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
  media_driver/linux/common/ddi/media_libva_common.cpp
  media_driver/linux/gen10/ddi/media_libva_caps_g10.cpp
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen9/ddi/media_libva_caps_g9.cpp
  media_driver/linux/ult/ult_app/RefCapsTable_BXT.h
  media_driver/linux/ult/ult_app/RefCapsTable_SKL.h
  media_driver/linux/ult/ult_app/driver_loader.cpp
  media_driver/linux/ult/ult_app/driver_loader.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

vaDeriveImage: Enable WaDisableGmmLibOffsetInDeriveImage for JSL/EHL
  media_driver/linux/gen11/ddi/media_sku_wa_g11.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] CDF table programming for BRC case
  media_driver/agnostic/common/codec/shared/codec_def_common_encode.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_interface.h
Owners: none

[CP] Add hardware write only flag for heap creation
  media_driver/agnostic/common/heap_manager/heap.cpp
  media_driver/agnostic/common/heap_manager/heap.h
  media_driver/agnostic/common/heap_manager/heap_manager.cpp
  media_driver/agnostic/common/heap_manager/heap_manager.h
  media_driver/agnostic/common/heap_manager/memory_block_manager.cpp
  media_driver/agnostic/common/heap_manager/memory_block_manager.h
Owners: none

[Decode] Align internal decode target size for Hevc down sampling decode.
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
Owners: none

[Encode] Add hevc reference framework
  media_driver/agnostic/common/codec/shared/codec_def_encode.h
  media_driver/agnostic/common/codec/shared/codec_def_encode_hevc.h
  media_driver/media_driver_next/agnostic/common/codec/hal/enc/hevc/features/encode_hevc_header_packer.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/enc/hevc/features/encode_hevc_header_packer.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[CP] Change media copy capability check to take mcpy medhod as input
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_copy.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_copy.h
Owners: none

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
