Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[Decode] mocs cache policy cleanup for Huc S2L and Huc Copy
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_huc_generic.h
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.cpp
Owners: none

[Encode] Enable command override support
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/common/hw/mhw_cmd_reader.cpp
  media_driver/agnostic/common/hw/mhw_cmd_reader.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/media_driver_next/agnostic/common/hw/mhw_def.h
Owners: none

[Media Common] Fix HW swizzle issue for low resolution
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix BGRP surface dump issue
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_dumper.cpp
Owners: none

[Decode] Fix AVC green corruption issue
  media_driver/agnostic/gen12/codec/hal/codechal_decode_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_jpeg_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_mpeg2_g12.cpp
Owners: none

[Encode] Set LoadEntrypoints functions as virtual
  media_driver/linux/common/ddi/media_libva_caps.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix WMP blank issue with SR enabled on ADL
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/agnostic/common/os/mos_os.h
Owners: none

add sfc&AV1 cache policy
  media_driver/agnostic/common/hw/mhw_sfc.h
  media_driver/agnostic/gen12/hw/mhw_sfc_g12_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_g12_X.cpp
Owners: none

[Encode] [Encode] Enable ICQ
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Correct SFC input for HDR case
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
Owners: none

Revert "[Media Common] Fix HW swizzle issue for low resolution"
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Fix parsed encode status report dump
  media_driver/agnostic/common/codec/hal/codechal_debug.cpp
  media_driver/agnostic/common/codec/hal/codechal_debug.h
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix VECS PF 0 during 8K playing back and S3/S4
  media_driver/agnostic/common/hw/mhw_sfc.h
Owners: none

[Media Interface] Update HwInfo
  media_driver/agnostic/common/media_interfaces/media_interfaces_hwinfo.h
  media_driver/agnostic/common/media_interfaces/media_interfaces_hwinfo_device.h
Owners: none

[Encode] Ensure consistency of tile buffer sizes
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
Owners: none

[cmrtlib] remove sse flags
  cmrtlib/linux/CMakeLists.txt
Owners: none

[Media Common] Enable softpin
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/common/os/list.h
  media_driver/linux/common/os/media_srcs.cmake
  media_driver/linux/common/os/mos_vma.c
  media_driver/linux/common/os/mos_vma.h
  media_driver/linux/ult/libdrm_mock/CMakeLists.txt
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_mock.c
  media_driver/media_driver_next/linux/common/os/mos_context_specific_next.cpp
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
Owners: none

Add RGBP support on Gen12.
  media_driver/agnostic/gen12_tgllp/vp/kdll/hal_kernelrules_g12lpcmfc.c
  media_driver/agnostic/gen12_tgllp/vp/kernel/cmfcpatch/igvpkrn_g12_tgllp_cmfcpatch.c
  media_driver/agnostic/gen12_tgllp/vp/kernel/igvpkrn_g12_tgllp.c
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Update / Fix Cost
  media_driver/agnostic/common/codec/shared/codec_def_common.h
Owners: none

[Decode] Add the surface format check for jpeg decode
  media_driver/linux/common/codec/ddi/media_ddi_decode_jpeg.cpp
  media_driver/linux/common/codec/ddi/media_ddi_decode_jpeg.h
Owners: none

Revert "[Encode] Ensure consistency of tile buffer sizes"
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
Owners: none

[VP] fix tgl memleak regression
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
Owners: none

Revert "[Encode] Update Cost"
  media_driver/agnostic/common/codec/shared/codec_def_common.h
Owners: none

[CP] stout vp kernel integration on cml cpu and tgl pch mixed platform
  media_driver/agnostic/gen9_cml/vp/kernel/tgp/igvpkrn_g9_cml_tgp.c
  media_driver/agnostic/gen9_cml/vp/kernel/tgp/igvpkrn_g9_cml_tgp.h
  media_driver/agnostic/gen9_cml/vp/kernel/tgp/media_srcs.cmake
Owners: none

[Encode] Enable automatic command fields layout dump
  media_driver/media_driver_next/agnostic/common/hw/mhw_def.h
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[VP] Fix StaticSurface Offset issue
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[Encode] Remove SW limitation for BRC non-native ROI dQP
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] Update / Fix Cost
  media_driver/agnostic/common/codec/shared/codec_def_common.h
Owners: none

[Media Common] Fix read integer data issue for media user setting
  media_driver/agnostic/common/shared/user_setting/media_user_setting_configure.cpp
  media_driver/media_driver_next/agnostic/common/os/mos_utilities_next.h
  media_driver/media_driver_next/linux/common/os/mos_utilities_specific_next.cpp
Owners: none

[Media Common] Enable media reset by default
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/os/mos_os_specific.c
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Add DV Filter
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

Enable WaAlignYUVResourceToLCU to JSL systems
  media_driver/linux/gen11/ddi/media_sysinfo_g11.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Add resource tag
  media_driver/media_driver_next/agnostic/common/os/mos_utilities_next.h
  media_driver/media_driver_next/linux/common/os/mos_utilities_specific_next.cpp
Owners: none

[VP] fix dynamic cmb cases error
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.h
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_iecp.h
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_common.h
Owners: none

[VP] HVS Kernel Integration
  media_driver/agnostic/common/hw/mhw_vebox.h
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.h
Owners: none

[VP] Init Vebox render data before execution
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_common.h
Owners: none

[Encode] Fix HuC PF on ROI reset
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Media Interface] Enable compnent function and refactored interface
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/media_driver_next/agnostic/common/shared/media_factory.h
  media_driver/media_driver_next/agnostic/common/shared/media_srcs.cmake
  media_driver/media_driver_next/linux/common/cp/ddi/ddi_cp_functions.cpp
  media_driver/media_driver_next/linux/common/cp/ddi/ddi_cp_functions.h
  media_driver/media_driver_next/linux/common/cp/ddi/media_srcs.cmake
  media_driver/media_driver_next/linux/common/cp/media_srcs.cmake
  media_driver/media_driver_next/linux/common/ddi/ddi_media_functions.cpp
  media_driver/media_driver_next/linux/common/ddi/ddi_media_functions.h
  media_driver/media_driver_next/linux/common/ddi/media_libva_context_next.cpp
  media_driver/media_driver_next/linux/common/ddi/media_libva_context_next.h
  media_driver/media_driver_next/linux/common/ddi/media_libva_interface_next.cpp
  media_driver/media_driver_next/linux/common/ddi/media_libva_interface_next.h
  media_driver/media_driver_next/linux/common/ddi/media_libva_register.h
  media_driver/media_driver_next/linux/common/ddi/media_srcs.cmake
  media_driver/media_driver_next/linux/common/dec/ddi/ddi_decode_functions.cpp
  media_driver/media_driver_next/linux/common/dec/ddi/ddi_decode_functions.h
  media_driver/media_driver_next/linux/common/dec/ddi/media_srcs.cmake
  media_driver/media_driver_next/linux/common/dec/media_srcs.cmake
  media_driver/media_driver_next/linux/common/enc/ddi/ddi_encode_functions.cpp
  media_driver/media_driver_next/linux/common/enc/ddi/ddi_encode_functions.h
  media_driver/media_driver_next/linux/common/enc/ddi/media_srcs.cmake
  media_driver/media_driver_next/linux/common/enc/media_srcs.cmake
  media_driver/media_driver_next/linux/common/media_srcs.cmake
  media_driver/media_driver_next/linux/common/vp/ddi/ddi_vp_functions.cpp
  media_driver/media_driver_next/linux/common/vp/ddi/ddi_vp_functions.h
  media_driver/media_driver_next/linux/common/vp/ddi/media_srcs.cmake
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Interface] Enable DDI switch
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_apo_decision.cpp
  media_driver/linux/common/ddi/media_libva_apo_decision.h
  media_driver/linux/common/ddi/media_srcs.cmake
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/linux/common/os/mos_os_specific.h
  media_driver/media_driver_next/agnostic/common/os/mos_utilities_next.h
  media_driver/media_driver_next/linux/common/os/mos_utilities_specific_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Correct the height for 5K resolution
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/scalability/decode_scalability_option.cpp
Owners: none
