Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[Media Common] Enable Linux Compression
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/mmc/decode_mem_compression.cpp
Owners: none

[Encode] Revert Revert [Encode] Reduce some code duplication and fix production build regression
  media_driver/media_driver_next/agnostic/common/hw/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/hw/mhw_hwcmd_process_cmdfields.h
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[Encode] Fix ROI range check
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/common/codec/shared/codec_def_encode_avc.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

Revert "[VP] Fix dynamic bobdi issue"
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/common/renderhal/renderhal.h
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
Owners: none

[Encode] Update programming for multiple slice cases
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/gen10/hw/vdbox/mhw_vdbox_vdenc_g10_X.cpp
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_vdenc_g11_X.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
  media_driver/agnostic/gen9_bxt/hw/vdbox/mhw_vdbox_vdenc_g9_bxt.cpp
  media_driver/agnostic/gen9_kbl/hw/vdbox/mhw_vdbox_vdenc_g9_kbl.cpp
  media_driver/agnostic/gen9_skl/hw/vdbox/mhw_vdbox_vdenc_g9_skl.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[VP] Add os resource handle check for media solo
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[VP] Correct di parameters setting
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
Owners: none

Revert "Revert "[VP] Correcct STD surface`s tiling mode, width and height""
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
Owners: none

[Decode] Add mi flush after end status report
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.cpp
Owners: none

Add area check in DdiMedia_PutSurface to avoid dst rectangle out of display region
  media_driver/linux/common/ddi/media_libva_putsurface_linux.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Encode] Update programming for multiple slice cases"
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/gen10/hw/vdbox/mhw_vdbox_vdenc_g10_X.cpp
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_vdenc_g11_X.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
  media_driver/agnostic/gen9_bxt/hw/vdbox/mhw_vdbox_vdenc_g9_bxt.cpp
  media_driver/agnostic/gen9_kbl/hw/vdbox/mhw_vdbox_vdenc_g9_kbl.cpp
  media_driver/agnostic/gen9_skl/hw/vdbox/mhw_vdbox_vdenc_g9_skl.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[VP] Fixed crash issue if no link file binary data for shader.
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/hal/vphal_renderer.cpp
  media_driver/agnostic/common/vp/kdll/hal_kerneldll.c
Owners: none

cmrtlib/linux/CMakelists.txt: respect MEDIA_BUILD_FATAL_WARNINGS
  cmrtlib/linux/CMakeLists.txt
Owners: none

remove "[VP] Correcct STD surface`s tiling mode, width and height
  media_driver/media_driver_next/agnostic/common/hw/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/hw/mhw_hwcmd_process_cmdfields.h
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
Owners: none

[Media Common] Fix Vebox Copy Sync issue
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_vebox_copy.cpp
Owners: none

[Encode] Fix HEVC caps issues
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_hcp_g11_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.cpp
Owners: none

[Encode] Add HwInfo interface for ICL/TGL
  media_driver/media_interface/media_interfaces_m11_icllp/media_interfaces_g11_icllp.cpp
  media_driver/media_interface/media_interfaces_m11_icllp/media_interfaces_g11_icllp.h
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.h
Owners: none

[Media Common] Fix the kw issue
  media_driver/linux/common/os/mos_vma.c
Owners: none

[VP] Add missed YPlaneOffset initialization
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_vebox_copy.cpp
Owners: none

[Encode] Add codec type for analysis pass and add LPLA support in Caps
  media_driver/agnostic/common/codec/shared/codec_def_encode_hevc.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Add parsed dump for HuC DMEM G12
  media_driver/agnostic/common/shared/media_debug_interface.cpp
  media_driver/agnostic/common/shared/media_debug_interface.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Media Common] [MOS] Add error handling for invalid tag array
  media_driver/agnostic/common/os/mos_util_debug.h
Owners: none

Increase Dmem number
  media_driver/agnostic/common/codec/shared/codec_def_decode_hevc.h
Owners: none

[Encode] Enable gpu weighted predition on DDI
  media_driver/linux/common/codec/ddi/media_ddi_encode_hevc.cpp
Owners: none

add new level definition for MPEG2 encode
  media_driver/agnostic/common/codec/hal/codechal_encode_mpeg2.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

set the picture flag to be invalid frame if the ref frame is invalid
  media_driver/linux/common/codec/ddi/media_ddi_encode_avc.cpp
Owners: none

[VP] kernel integration
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
  media_driver/agnostic/common/vp/hal/vphal_renderer.h
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/vp_platform_interface.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/vp_platform_interface.h
Owners: none

[Media Common] cmake refine
  media_driver/media_top_cmake.cmake
Owners: none

[VP] Correcct STD surface`s tiling mode, width and height
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
Owners: none

[Media Common] Bump up version to 21.2.3
  CMakeLists.txt
Owners: none

[Encode] Media Copy implementation for AVC
  media_driver/agnostic/common/codec/hal/codechal_encode_allocator.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_csc_ds.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_csc_ds.h
  media_driver/agnostic/common/codec/hal/codechal_encode_tracked_buffer.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_tracked_buffer.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Encode] [TGL] Brc Init Update"
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_brc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_brc_g12.h
Owners: none

[VP] MOCS index #0 cleanup
  media_driver/agnostic/common/cm/cm_hal.cpp
  media_driver/agnostic/common/cm/cm_vebox_rt.cpp
  media_driver/agnostic/common/hw/mhw_sfc.cpp
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_common.c
  media_driver/agnostic/gen12/hw/mhw_sfc_g12_X.cpp
  media_driver/agnostic/gen12/hw/mhw_vebox_g12_X.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_memdecomp_g12.cpp
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
Owners: none

[Media Common] Remove rt dependency on Linux
  media_driver/media_top_cmake.cmake
Owners: none

[Decode] Add reg key report for sfc linear surface usage
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
Owners: none

[Encode] Add error handling for ICQ
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

add new level definition for MPEG2 encode
  media_driver/agnostic/common/codec/hal/codechal_encode_mpeg2.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

set the picture flag to be invalid frame if the ref frame is invalid
  media_driver/linux/common/codec/ddi/media_ddi_encode_avc.cpp
Owners: none

[VP] Fix render output width issue
  media_driver/agnostic/common/renderhal/renderhal.cpp
Owners: none

[Encode] Add Metadata statistics report
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com
