Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[MOS] mos class refine
  media_driver/media_driver_next/agnostic/common/os/mos_commandbuffer_next.h
  media_driver/media_driver_next/agnostic/common/os/mos_context_next.h
  media_driver/media_driver_next/agnostic/common/os/mos_gpucontext_next.h
  media_driver/media_driver_next/linux/common/os/mos_commandbuffer_specific_next.cpp
  media_driver/media_driver_next/linux/common/os/mos_commandbuffer_specific_next.h
Owners: none

Bump up version to 21.1.3
  CMakeLists.txt
Owners: none

[Decode] release decode context buffer when destroy decode context
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Enable HDR APO by default Open part
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_common.h
Owners: none

[Decode] Add OCA decode workload and resource dump info
  media_driver/agnostic/common/hw/mhw_utilities.c
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_grv_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp2_packet_g12.cpp
Owners: none

[Media Common] ADLP OPEN SOURCE
  README.md
  docs/media_features.md
  media_driver/cmake/linux/media_gen_flags_linux.cmake
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
  media_driver/linux/gen12/ddi/media_sysinfo_g12.cpp
  media_driver/media_interface/media_interfaces_m12_adlp/media_interfaces_g12_adlp.cpp
  media_driver/media_interface/media_interfaces_m12_adlp/media_interfaces_g12_adlp.h
  media_driver/media_interface/media_interfaces_m12_adlp/media_srcs.cmake
  media_driver/media_interface/media_srcs.cmake
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Fix VP9d APO SFC issue: Clean Sfc deferred destroy resource
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
Owners: none

[Media Common] Remaming core family.
  media_driver/agnostic/common/cm/cm_command_buffer.cpp
  media_driver/agnostic/common/cm/cm_command_buffer.h
  media_driver/agnostic/common/cm/cm_execution_adv.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_composite_g12.cpp
Owners: none

Revert "[Decode] Moving complete count buffer to end of status buffer to avoid decode status update later than complete count buffer update"
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_driver/media_driver_next/agnostic/common/shared/statusreport/media_status_report.cpp
Owners: none

Revert "[VP] Enable HDR APO by default Open part"
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_common.h
Owners: none

[Encode] HandBreak issue fix
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_mbenc_g12.cpp
Owners: none

[Encode] Clean up VP9 APO code
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.cpp
  media_driver/agnostic/common/codec/shared/codec_def_common_vp9.h
Owners: none

[Encode] dyn_res: reset brc with each resolution change
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
Owners: none

[VP] Enable HDR APO by default Open part recheckin
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_common.h
Owners: none

[VP] Fix KW Scan Issue
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_kernelset.h
Owners: none

fix KW issue.
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
Owners: none

[Decode] Fix One Hang Issue
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
Owners: none

Refactor of media user settings
  media_driver/agnostic/common/os/mos_os.h
  media_driver/agnostic/common/os/mos_util_debug.h
  media_driver/agnostic/common/shared/user_setting/media_srcs.cmake
  media_driver/agnostic/common/shared/user_setting/media_user_setting.cpp
  media_driver/agnostic/common/shared/user_setting/media_user_setting.h
  media_driver/agnostic/common/shared/user_setting/media_user_setting_configure.cpp
  media_driver/agnostic/common/shared/user_setting/media_user_setting_configure.h
  media_driver/agnostic/common/shared/user_setting/media_user_setting_definition.cpp
  media_driver/agnostic/common/shared/user_setting/media_user_setting_definition.h
  media_driver/agnostic/common/shared/user_setting/media_user_setting_value.cpp
  media_driver/agnostic/common/shared/user_setting/media_user_setting_value.h
  media_driver/linux/common/os/mos_defs_specific.h
  media_driver/linux/common/os/mos_utilities_specific.h
  media_driver/media_driver_next/agnostic/common/os/mos_utilities_next.cpp
  media_driver/media_driver_next/agnostic/common/os/mos_utilities_next.h
  media_driver/media_driver_next/linux/common/os/mos_utilities_specific_next.cpp
  media_driver/media_driver_next/linux/common/os/mos_utilities_specific_next.h
Owners: none

[Decode] Fix some MAVD issues
  media_driver/media_driver_next/agnostic/common/shared/bufferMgr/media_allocator.cpp
Owners: none

[VP] Fix APO regresssion issue
  media_driver/agnostic/gen12/renderhal/renderhal_g12.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_packet_pipe.cpp
Owners: none

[Decode] Fixing hang issue when SFC w/ MMC off
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/packet/decode_downsampling_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/packet/decode_downsampling_packet.h
Owners: none

[VP] Fix iscaling issue
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
Owners: none

[CP] Remove obsolete cplib
  media_driver/linux/common/codec/hal/codechal_secure_decode_interface.cpp
  media_driver/linux/common/cp/ddi/media_libva_caps_cp_interface.cpp
  media_driver/linux/common/cp/ddi/media_libva_cp_interface.cpp
  media_driver/linux/common/cp/hw/mhw_cp_interface.cpp
  media_driver/linux/common/cp/os/mos_os_cp_interface_specific.cpp
  media_driver/linux/common/cp/shared/cp_interfaces.cpp
  media_driver/linux/common/cp/shared/cp_interfaces.h
  media_driver/linux/common/cp/shared/cplib_utils.cpp
  media_driver/linux/common/cp/shared/cplib_utils.h
  media_driver/linux/common/cp/shared/media_srcs.cmake
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/media_driver_next/linux/common/cp/cp_interfaces_next.cpp
  media_driver/media_driver_next/linux/common/cp/cp_interfaces_next.h
  media_driver/media_driver_next/linux/common/cp/cp_streamout_interface.cpp
  media_driver/media_driver_next/linux/common/cp/decodecp_interface.cpp
  media_driver/media_driver_next/linux/common/cp/media_srcs.cmake
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Stop using mos_bo_subdata
  media_driver/linux/common/codec/ddi/media_ddi_decode_base.cpp
  media_driver/linux/common/codec/ddi/media_ddi_decode_vp8.cpp
Owners: none

Drop mos_bo_[get_]subdata
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/include/mos_bufmgr_priv.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915/mos_bufmgr_api.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_api_mock.c
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_mock.c
Owners: none

Disable scalability mode for HCP on TGL
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vp9_g12.cpp
Owners: none

[VP] G12 Renderhal refactor
  media_driver/agnostic/gen12/cm/cm_hal_g12.cpp
  media_driver/agnostic/gen12/media_srcs.cmake
  media_driver/agnostic/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_common.h
  media_driver/media_driver_next/agnostic/g12/g12_0/media_srcs.cmake
  media_driver/media_driver_next/agnostic/g12/g12_0/renderhal/media_srcs.cmake
  media_driver/media_driver_next/agnostic/g12/g12_0/renderhal/renderhal_g12_0.cpp
  media_driver/media_driver_next/agnostic/g12/g12_0/renderhal/renderhal_g12_0.h
  media_driver/media_driver_next/agnostic/g12/g12_1/media_srcs.cmake
  media_driver/media_driver_next/agnostic/g12/g12_1/renderhal/media_srcs.cmake
  media_driver/media_driver_next/agnostic/g12/g12_1/renderhal/renderhal_g12_1.cpp
  media_driver/media_driver_next/agnostic/g12/g12_1/renderhal/renderhal_g12_1.h
  media_driver/media_driver_next/agnostic/g12/g12_base/media_srcs.cmake
  media_driver/media_driver_next/agnostic/g12/g12_base/renderhal/media_srcs.cmake
  media_driver/media_driver_next/agnostic/g12/g12_base/renderhal/renderhal_g12_base.cpp
  media_driver/media_driver_next/agnostic/g12/g12_base/renderhal/renderhal_g12_base.h
  media_driver/media_driver_next/agnostic/g12/media_srcs.cmake
  media_driver/media_interface/media_interfaces_m12_adlp/media_interfaces_g12_adlp.h
  media_driver/media_interface/media_interfaces_m12_dg1/media_interfaces_g12_dg1.h
  media_driver/media_interface/media_interfaces_m12_rkl/media_interfaces_g12_rkl.h
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.h
Owners: none

[Media Interface] cmd object macro update
  media_driver/agnostic/common/os/mos_util_debug.h
Owners: none

[VP] HVS Denoise APO
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_common.h
Owners: none

[VP] Fix interlaced scaling issue
  media_driver/agnostic/common/vp/hal/vphal_render_sfc_base.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_sfc_base.h
  media_driver/agnostic/gen10/vp/hal/vphal_render_sfc_g10_base.cpp
  media_driver/agnostic/gen10/vp/hal/vphal_render_sfc_g10_base.h
  media_driver/agnostic/gen11/vp/hal/vphal_render_sfc_g11_base.cpp
  media_driver/agnostic/gen11/vp/hal/vphal_render_sfc_g11_base.h
  media_driver/agnostic/gen12/vp/hal/vphal_render_sfc_g12_base.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_sfc_g12_base.h
  media_driver/agnostic/gen9/vp/hal/vphal_render_sfc_g9_base.cpp
  media_driver/agnostic/gen9/vp/hal/vphal_render_sfc_g9_base.h
Owners: none

[Encode] Enable MxN tiles on 1 VDBox
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
Owners: none

Fix issue in Reg-key driver reference counter
  media_driver/agnostic/common/shared/media_user_settings_mgr.cpp
Owners: none

[Decode] Mpeg2 decode APO enabling
  media_driver/agnostic/common/codec/shared/codec_def_decode_mpeg2.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.h
Owners: none

[VP] Y416 redescript the surface
  media_driver/agnostic/common/renderhal/renderhal.cpp
Owners: none

[Decode] NULL HW2.0 decode scalability enabling
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vp9_g12.cpp
Owners: none

[Decode] Moving complete count buffer to end of status buffer to avoid decode status update later than complete count buffer update
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_driver/media_driver_next/agnostic/common/shared/statusreport/media_status_report.cpp
Owners: none

Revert "[Media Interface] cmd object macro update"
  media_driver/agnostic/common/os/mos_util_debug.h
Owners: none

[VP] Correct apo common kernel setting
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.h
Owners: none

[Decode] Updating VP9d APO segmentID buffer and probability buffer with Huc
  media_driver/agnostic/common/shared/media_debug_config_manager.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
Owners: none

[Encode] MetaDataOffset struct update
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
  media_driver/agnostic/common/codec/shared/codec_def_encode.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
