Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[MOS] mos utilities refine 4
  media_common/agnostic/common/os/mos_utilities.h
  media_driver/agnostic/common/cm/cm_queue_rt.cpp
  media_driver/agnostic/common/os/mos_cmdbufmgr.cpp
  media_driver/agnostic/common/os/mos_gpucontextmgr.cpp
  media_driver/agnostic/common/os/mos_graphicsresource.cpp
  media_driver/agnostic/common/shared/media_perf_profiler.cpp
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/linux/common/os/mos_oca_interface_specific.h
  media_driver/linux/common/os/mos_oca_specific.cpp
  media_driver/linux/common/os/mos_utilities_specific.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/decode_utils.h
  media_softlet/agnostic/common/os/mos_utilities_next.h
  media_softlet/agnostic/common/shared/media_debug_interface.cpp
  media_softlet/agnostic/common/shared/media_utils.h
  media_softlet/linux/common/os/mos_utilities_specific_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Reduce memory usage
  media_softlet/agnostic/common/shared/pipeline/media_pipeline.cpp
  media_softlet/agnostic/common/shared/pipeline/media_pipeline.h
Owners: none

change the issue template to avoid confusion of PR
  .github/ISSUE_TEMPLATE/0-bug-issue.md
Owners: none

Remove the IPC in CreateAssociationNode
  media_common/linux/common/os/mos_os_specific.h
  media_driver/linux/common/os/mos_context_specific.cpp
  media_driver/linux/common/os/mos_context_specific.h
  media_driver/linux/common/os/mos_os_specific.c
  media_softlet/linux/common/os/mos_utilities_specific_next.cpp
Owners: none

Revert "[Encode] Refactor for AV1 media Interface"
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
Owners: none

[Decode][Encode] Move mhw to open folder for dg2 upstream
  media_softlet/agnostic/common/codec/hal/enc/shared/encode_utils.h
  media_softlet/agnostic/common/codec/hal/enc/shared/media_srcs.cmake
  media_softlet/agnostic/common/hw/vdbox/media_srcs.cmake
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_huc_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_huc_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_huc_itf.h
Owners: none

[Media Common] fixed MSDK render copy error
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_softlet/agnostic/common/shared/mediacopy/media_render_copy.cpp
  media_softlet/linux/common/os/mos_context_specific_next.cpp
  media_softlet/linux/common/os/mos_context_specific_next.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Interface] Upstream DG2 media interface
  media_driver/agnostic/Xe_M/Xe_M_base/media_srcs.cmake
  media_driver/agnostic/Xe_M/Xe_M_base/shared/media_srcs.cmake
  media_driver/agnostic/Xe_M/Xe_M_base/shared/media_user_settings_mgr_g12_plus.cpp
  media_driver/agnostic/Xe_M/Xe_M_base/shared/media_user_settings_mgr_g12_plus.h
  media_driver/media_interface/media_srcs.cmake
Owners: none

[Media Common] media build time increase check
  media_driver/media_top_cmake.cmake
Owners: none

[Decode] Decode Event Trace Data Enable
  media_common/agnostic/common/os/mos_os.h
  media_common/agnostic/common/os/mos_utilities.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_hcp_generic.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.h
  media_softlet/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.h
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
Owners: none

change the issue template to avoid confusion of PR
  .github/ISSUE_TEMPLATE/0-bug-issue.md
Owners: none

[Encode] Refactor for AV1 media Interface
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
Owners: none

[Media Common] mos utilities refine 5
  media_common/agnostic/common/os/mos_utilities.h
  media_driver/agnostic/common/cm/cm_debug.h
  media_driver/agnostic/common/shared/media_perf_profiler.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/linux/common/os/mos_utilities_specific.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/decode_utils.h
  media_softlet/agnostic/common/codec/hal/enc/shared/encode_utils.h
  media_softlet/agnostic/common/shared/media_utils.h
Owners: none

[Encode] Remove recon surface initialization for JPEGe on Linux
  media_driver/linux/common/codec/ddi/media_ddi_encode_jpeg.cpp
Owners: none

[Encode] Fix AVC VDEnc pipeline adapter loading on Linux
  media_driver/linux/common/codec/ddi/media_ddi_encode_avc.cpp
Owners: none

[Encode] Implement IR programming
  media_common/agnostic/common/codec/shared/codec_def_encode_avc.h
Owners: none

[VP] Add more VP RT Log
  media_common/agnostic/common/os/mos_os_trace_event.h
  media_driver/agnostic/common/vp/kdll/hal_kerneldll.c
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_fc_filter.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_fc_kernel.cpp
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_softlet/agnostic/common/vp/hal/utils/vp_user_feature_control.cpp
Owners: none

[Media Common]Fix the user setting memory free
  media_softlet/linux/common/os/mos_utilities_specific_next.cpp
  media_softlet/linux/common/os/mos_utilities_specific_next.h
Owners: none

[Decode] Upstream codechal decode
  media_driver/agnostic/Xe_M/Xe_HPM/media_srcs.cmake
  media_driver/agnostic/Xe_M/Xe_XPM/media_srcs.cmake
  media_driver/agnostic/Xe_M/Xe_XPM_plus/media_srcs.cmake
  media_driver/media_interface/media_interfaces_dg2/media_interfaces_dg2.cpp
  media_driver/media_interface/media_interfaces_dg2/media_interfaces_dg2.h
  media_driver/media_interface/media_interfaces_dg2/media_srcs.cmake
  media_driver/media_softlet/agnostic/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/shared/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.h
  media_softlet/agnostic/common/codec/hal/dec/shared/scalability/decode_phase.h
  media_softlet/agnostic/common/codec/hal/dec/shared/scalability/decode_scalability_multipipe.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/scalability/decode_scalability_multipipe.h
  media_softlet/agnostic/common/codec/hal/dec/shared/scalability/media_srcs.cmake
Owners: none

[Decode] fix some decode kw issue
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_downsampling_packet.cpp
Owners: none

[Encode] R2R fix in threadsafety for win and linux
  media_softlet/agnostic/common/os/mos_utilities_next.cpp
  media_softlet/agnostic/common/os/mos_utilities_next.h
  media_softlet/linux/common/os/mos_utilities_specific_next.cpp
Owners: none

[Encode] Update slice structure caps
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

MHW open source refine
  media_driver/agnostic/Xe_M/Xe_HPM/hw/vdbox/mhw_vdbox_avp_impl_xe_hpm.h
  media_driver/agnostic/Xe_M/Xe_HPM/hw/vdbox/mhw_vdbox_avp_xe_hpm.cpp
  media_driver/media_interface/media_interfaces_dg2/media_interfaces_dg2.cpp
  media_driver/media_interface/media_interfaces_dg2/media_interfaces_dg2.h
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_base/hw/media_srcs.cmake
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_base/hw/mhw_mi_hwcmd_xe_xpm_base.h
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_base/media_srcs.cmake
  media_driver/media_softlet/agnostic/Xe_M/media_srcs.cmake
  media_softlet/agnostic/Xe_R/Xe_HPG/hw/media_srcs.cmake
  media_softlet/agnostic/Xe_R/Xe_HPG/hw/mhw_render_hwcmd_xe_hpg.h
  media_softlet/agnostic/Xe_R/Xe_HPG/hw/mhw_render_xe_hpg_impl.h
  media_softlet/agnostic/Xe_R/Xe_HPG/hw/mhw_render_xe_hpm_impl.h
  media_softlet/agnostic/Xe_R/Xe_HPG/media_srcs.cmake
  media_softlet/agnostic/Xe_R/media_srcs.cmake
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_avp_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_avp_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_avp_itf.h
Owners: none

[Decode] Lockable memory for HEVC 2nd level BB
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.h
  media_softlet/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.cpp
Owners: none

[Media Common]Fix the user setting memory free
  media_softlet/linux/common/os/mos_utilities_specific_next.cpp
  media_softlet/linux/common/os/mos_utilities_specific_next.h
Owners: none

[Upstream] Add production KMD option
  media_driver/cmake/linux/media_gen_flags_linux.cmake
  media_driver/linux/common/os/i915/media_srcs.cmake
  media_driver/linux/common/os/i915_production/include/README.md
  media_driver/linux/common/os/i915_production/include/i915_drm.h
  media_driver/linux/common/os/i915_production/include/i915_drm_prelim.h
  media_driver/linux/common/os/i915_production/include/media_srcs.cmake
  media_driver/linux/common/os/i915_production/media_srcs.cmake
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr_priv.h
  media_driver/linux/common/os/intel_hwconfig_types.h
  media_driver/linux/common/os/media_srcs.cmake
Owners: none

[Encode] VP9: MHW refactoring - VDENC_PIPE_BUF_ADDR_STATE
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[Encode] Add MMIO initialization for avp
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_avp_impl.h
Owners: none

[Encode] Refactor for AV1 Huc Interface
  media_common/agnostic/common/hw/mhw_mi.h
  media_common/agnostic/common/hw/vdbox/media_srcs.cmake
  media_common/agnostic/common/hw/vdbox/mhw_vdbox_huc_def.h
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_huc_generic.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_huc_interface.h
  media_softlet/agnostic/common/hw/mhw_mi_impl.h
  media_softlet/agnostic/common/hw/mhw_mi_itf.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_huc_cmdpar.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
Owners: none

[Encode] Quick fix VD_PIPELINE_FLUSH_CMD byte size
  media_driver/agnostic/Xe_M/Xe_HPM/hw/vdbox/mhw_vdbox_avp_impl_xe_hpm.h
  media_driver/agnostic/Xe_M/Xe_HPM/hw/vdbox/mhw_vdbox_avp_xe_hpm.cpp
Owners: none

[Encode] Fix encode kw issues
  media_common/agnostic/common/codec/shared/codec_def_encode.h
  media_common/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.h
  media_driver/agnostic/common/codec/hal/codechal_huc_cmd_initializer.h
  media_driver/agnostic/common/codec/hal/codechal_kernel_base.h
  media_driver/agnostic/common/codec/hal/codechal_kernel_hme.cpp
  media_driver/agnostic/common/codec/hal/codechal_kernel_hme.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_interface.h
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_vp9_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_kernel_hme_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
  media_driver/agnostic/gen9/codec/hal/codechal_kernel_hme_g9.cpp
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_avp_cmdpar.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Add pid and timestamp to dump file name
  media_softlet/agnostic/common/vp/hal/utils/vp_dumper.cpp
Owners: none

implement new vaapi vaMapBuffer2
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] open source DDI of Alchemist
  media_driver/linux/Xe_M/media_srcs.cmake
Owners: none

[VP] APO clearView Enabling
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/hw_filter.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter_handle.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
Owners: none

[Decode] Add refactored MI to newer platform Decode
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_sub_packet.h
  media_softlet/agnostic/common/shared/packet/media_packet.h
Owners: none

[Media Common] mos utilities refine 6
  media_common/agnostic/common/os/mos_util_debug.h
  media_common/agnostic/common/os/mos_utilities.h
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/os/mos_utilities_specific.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Correct the av1 decode cap report
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Decode] Add refactored MI to newer platform Decode"
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_sub_packet.h
  media_softlet/agnostic/common/shared/packet/media_packet.h
Owners: none

[MOS] decrease softpin target size
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
Owners: none
