Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[Decode] Enable AVP SFC pipeline
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_reference_frames.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_reference_frames.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
Owners: none

[CP] Enable media with CP build by default
  CMakeLists.txt
Owners: none

media_libva_util: Fix odd resolution handling of yuv420 formats
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Fix av1 decode film grain mismatch
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.cpp
Owners: none

[Encode] Align YOffsetForUCb/Cr setting
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_mfx_g12_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
Owners: none

[Encode] Correct Caps Report for Slice Strcuture
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Correct the logic for fallback logic of DI render case
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.h
Owners: none

[VP] Add 4K LACE regkey control
  media_driver/agnostic/common/vp/hal/vphal.h
Owners: none

Revert "[Encode] Correct Caps Report for Slice Strcuture"
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "media_libva_util: Fix odd resolution handling of yuv420 formats"
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode][Issuefix] Fix potential incorrect calculation of SLB size
  media_driver/agnostic/common/codec/shared/codec_def_encode.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] cmd buffer calculate request space fix
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.h
Owners: none

[Media Common] Add sfc scalability parameters to sfc interface
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.cpp
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.h
Owners: none

Fix HEVC encoding failed on P frame issue on GLK
  media_driver/agnostic/gen9_glk/codec/hal/codechal_encode_hevc_g9_glk.cpp
Owners: none

[Feature][Encode] AVC TCBRC support on Linux
  media_driver/linux/common/codec/ddi/media_ddi_encode_avc.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Bump up media version to 20.4.1
  CMakeLists.txt
Owners: none

[Decode]Enbale VP8 decode Support VP8 decode Function
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Fix AV1 downscaling corruption issue
  media_driver/agnostic/common/hw/mhw_sfc.cpp
Owners: none

[Encode] Fix status report out of range(uint32_t) issue
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode][Feature] Enable AVP+SFC histogram
  media_driver/agnostic/common/codec/shared/codec_def_decode.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/shared/media_user_settings_mgr_g12.cpp
  media_driver/agnostic/gen12/shared/media_user_settings_mgr_g12.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/packet/decode_downsampling_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_sfc_histogram_postsubpipeline.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_sfc_histogram_postsubpipeline.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.cpp
Owners: none

[Encode] Support 2D buf pitch align > 64
  media_driver/linux/common/codec/ddi/media_ddi_encode_base.cpp
Owners: none

[VP] Fix DI dynamic case failure (#101)
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/hw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
Owners: none

[Encode] HEVC VME BRC Reset fix
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_brc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_brc_g12.h
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_mbenc_g12.h
Owners: none

[Media Common] add gpu node query
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/linux/common/os/i915/include/mos_bufmgr_priv.h
  media_driver/linux/common/os/mos_interface.cpp
Owners: none

[Encode] Support Random Access B frame on speed mode
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Enable Field mode of sfc interface
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
Owners: none

[Decode] enable OCA HEVC scalability on gen12
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
Owners: none

[Media Common] Fix Copy with Resoluntion Change (#470)
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_memdecomp.cpp
Owners: none

[VP] Fix driver return error when pitch mismatched
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[VP] Adding Starting/Ending Y to specify the processiong region of Y axis.
  media_driver/agnostic/common/hw/mhw_vebox.h
Owners: none

[Media Common] add mutex protection for media copy
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_copy.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_copy.h
  media_driver/media_driver_next/agnostic/m12/m12_0/shared/mediacopy/media_copy_m12_0.cpp
Owners: none

[VP] VP Mock Adaptor Enabling
  media_driver/agnostic/common/vp/hal/vphal_render_common.c
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[Media Common] remove mos mediaCopy func
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/agnostic/common/os/mos_os.h
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/codec/ddi/media_libva_encoder.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/linux/common/os/mos_os_specific.h
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

use CCS instead of RCS for film grain workload
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_postsubpipeline_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_presubpipeline_g12.cpp
Owners: none

[VP] add reg to set output CompressionMode MC on
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_memdecomp.cpp
Owners: none

[Encode] Add TCBRC scenario param for HuC on ICLLP/TGLLP
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_avc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Media Common] Add softpin support
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/include/mos_bufmgr_priv.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915/mos_bufmgr_api.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/common/os/mos_auxtable_mgr.cpp
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_api_mock.c
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_mock.c
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
Owners: none

[Encode] Enable AVC VDEnc BRC ROI for G11, G12
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/common/codec/shared/codec_def_encode_avc.h
  media_driver/agnostic/gen10/hw/vdbox/mhw_vdbox_vdenc_g10_X.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_avc_g11.cpp
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_vdenc_g11_X.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
  media_driver/agnostic/gen9_bxt/codec/hal/codechal_vdenc_avc_g9_bxt.cpp
  media_driver/agnostic/gen9_bxt/hw/vdbox/mhw_vdbox_vdenc_g9_bxt.cpp
  media_driver/agnostic/gen9_kbl/hw/vdbox/mhw_vdbox_vdenc_g9_kbl.cpp
  media_driver/agnostic/gen9_skl/codec/hal/codechal_vdenc_avc_g9_skl.cpp
  media_driver/agnostic/gen9_skl/hw/vdbox/mhw_vdbox_vdenc_g9_skl.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] Fix MAX_REF_NUM_L0L1
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
Owners: none

Revert "[Media Common] Add softpin support (#159)"
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/include/mos_bufmgr_priv.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915/mos_bufmgr_api.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/common/os/mos_auxtable_mgr.cpp
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_api_mock.c
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_mock.c
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
Owners: none
