Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[Media Common] Enable media context next
  media_driver/linux/common/ddi/media_libva_common.h
  media_softlet/linux/common/ddi/media_libva_common_next.h
  media_softlet/linux/common/ddi/media_libva_context_next.cpp
  media_softlet/linux/common/ddi/media_libva_context_next.h
  media_softlet/linux/common/ddi/media_libva_interface_next.cpp
  media_softlet/linux/common/ddi/media_libva_interface_next.h
  media_softlet/linux/common/ddi/media_srcs.cmake
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[CP] Remove noise message print out
  media_softlet/agnostic/common/shared/packet/media_render_cmd_packet.cpp
Owners: none

[Media Common] Media softlet folder structure
  media_driver/media_top_cmake.cmake
Owners: none

[Encode] Refine MHW for AV1 COST_STATE
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[Encode] enable Qmatrix on linux
  media_driver/linux/common/codec/ddi/media_ddi_encode_hevc.cpp
  media_driver/linux/common/codec/ddi/media_ddi_encode_hevc.h
Owners: none

[Encode] switch LowDelayBRC to TCBRC for G12+
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Media Common] Fix Android build issue
  media_driver/linux/common/ddi/media_libva_interface.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Add 0YUV format for decode
  cmrtlib/linux/share/cm_def_os.h
  cmrtlib/linux/share/cm_rt_def_os.h
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_common.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/vp/ddi/media_libva_vp.c
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[MOS] Check L3 cache availability from the L3 cache size
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
Owners: none

[Media Common] Fix non-X11 build
  media_softlet/linux/common/ddi/media_libva_interface_next.cpp
Owners: none

[Decode] Add bitstream resource info into OCA buffer
  media_driver/agnostic/common/hw/mhw_utilities.c
Owners: none

[VP] Disable lace feature when sfc2pass
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.h
Owners: none

Fix encode issue for HEVC on GLK
  media_driver/agnostic/gen9_glk/codec/hal/codechal_encode_hevc_g9_glk.cpp
Owners: none

[Decode] fix some potential null dereference
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_generic.h
Owners: none

Update vphal_render_fast1ton file liscense
  media_driver/agnostic/common/vp/hal/vphal_render_fast1ton.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_fast1ton.h
Owners: none

[VP] Fix 2pass CSC PROCAMP not work issue
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
Owners: none

[Decode][Gen12] Provide mem_types when querying surface attributes
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Interface] Add new HuC MHW interface and empty implementation
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_huc_interface.h
Owners: none

Fix encode issue for HEVC on GLK
  media_driver/agnostic/gen9_glk/codec/hal/codechal_encode_hevc_g9_glk.cpp
Owners: none

Revert "[Encode] Optimize the write operations in SetSurfaceState"
  media_driver/agnostic/gen12/hw/mhw_state_heap_g12.c
Owners: none

[Encode] Disable frame recon
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_g12_X.h
Owners: none

[Encode] Modify P010 Recon MMC settings
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Fix low resolution issue for HW swizzling
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] fix mavd regression
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
Owners: none

Bump up version to 21.3.0
  CMakeLists.txt
Owners: none

[VP] Fix corruption issue
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.cpp
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
Owners: none

[VP] Fix MOCS state bit shift issue
  media_driver/agnostic/gen12/hw/mhw_vebox_g12_X.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_memdecomp_g12.cpp
Owners: none

[Decode] Override reference list with ref surface passed from DDI if needed
  media_softlet/agnostic/common/codec/hal/dec/shared/features/decode_basic_feature.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/features/decode_basic_feature.h
Owners: none

[VP] Enable kernel fence setting
  media_driver/agnostic/common/cm/cm_common.h
  media_driver/agnostic/common/hw/mhw_mi.h
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/gen12/cm/cm_hal_g12.cpp
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.cpp
Owners: none

[VP] Disable Vebox Query Variance
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter_handle.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_di_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_filter.h
  media_softlet/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[Media Common] Enable DDI component functions
  media_softlet/linux/common/cp/ddi/ddi_cp_functions.cpp
  media_softlet/linux/common/cp/ddi/ddi_cp_functions.h
  media_softlet/linux/common/ddi/ddi_media_functions.cpp
  media_softlet/linux/common/ddi/ddi_media_functions.h
  media_softlet/linux/common/ddi/media_libva_interface_next.cpp
  media_softlet/linux/common/ddi/media_libva_interface_next.h
  media_softlet/linux/common/dec/ddi/ddi_decode_functions.cpp
  media_softlet/linux/common/dec/ddi/ddi_decode_functions.h
  media_softlet/linux/common/enc/ddi/ddi_encode_functions.cpp
  media_softlet/linux/common/enc/ddi/ddi_encode_functions.h
  media_softlet/linux/common/vp/ddi/ddi_vp_functions.cpp
  media_softlet/linux/common/vp/ddi/ddi_vp_functions.h
Owners: none

[Decode] Rename decode av1 packet
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.h
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.h
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/media_srcs.cmake
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_packet_g12_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_packet_g12_base.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12_base.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/media_srcs.cmake
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/media_srcs.cmake
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/media_srcs.cmake
  media_driver/media_softlet/agnostic/gen12_base/codec/media_srcs.cmake
  media_driver/media_softlet/agnostic/gen12_base/media_srcs.cmake
  media_driver/media_softlet/agnostic/media_srcs.cmake
Owners: none

[Decode] Add sfc output surface tile type check
  media_softlet/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.cpp
Owners: none

[Decode] Add 0YUV format for decode
  cmrtlib/linux/share/cm_def_os.h
  cmrtlib/linux/share/cm_rt_def_os.h
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_common.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/vp/ddi/media_libva_vp.c
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Update vphal_render_fast1ton file liscense
  media_driver/agnostic/common/vp/hal/vphal_render_fast1ton.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_fast1ton.h
Owners: none

[Media Common] Disable RKL Compression
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Expose the reg to disable scalability
  media_driver/agnostic/common/codec/hal/codechal_decode_scalability.cpp
  media_driver/agnostic/common/os/mos_os.h
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_mfx_g11_X.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_scalability_g12.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_mfx_g12_X.h
  media_driver/linux/common/os/mos_os_specific.c
Owners: none

Added the offset back for Qp report on non-8 bit depth encode.
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Fix default MMC enabling for JPEG encoder
  media_driver/agnostic/gen12/codec/hal/codechal_encode_jpeg_g12.cpp
Owners: none

Revert "[Media Common] Fix low resolution issue for HW swizzling"
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com
