Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Enable mhw render new interface
  media_driver/agnostic/common/renderhal/renderhal.h
  media_softlet/agnostic/Xe_R/Xe_HPG/hw/mhw_render_xe_hpg_impl.h
  media_softlet/agnostic/common/hw/mhw_render_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_render_impl.h
  media_softlet/agnostic/common/renderhal/renderhal_platform_interface_next.cpp
Owners: none

[VP] Add DG2 and PVC in PatchInfoLinker and enable CMFCPATCH
  media_driver/agnostic/common/vp/cm_fc_ld/PatchInfo.h
  media_driver/agnostic/common/vp/cm_fc_ld/PatchInfoLinker.cpp
  media_driver/cmake/linux/media_gen_flags_linux.cmake
Owners: none

[Decode] Incorrect TileHeightInSb
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_basic_feature_g12.cpp
Owners: none

[MOS] Remove the IPC in CreateAssociationNode
  media_common/linux/common/os/mos_os_specific.h
  media_driver/agnostic/common/os/mos_context.h
  media_driver/linux/common/os/mos_context_specific.cpp
  media_driver/linux/common/os/mos_context_specific.h
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/linux/common/os/mos_os_specific.c
Owners: none

[CP] Delete unused codes
  media_driver/linux/common/cp/shared/cp_interfaces.h
  media_softlet/agnostic/common/cp/cp_streamout_interface.h
  media_softlet/linux/common/cp/cp_streamout_interface.cpp
  media_softlet/linux/common/cp/media_srcs.cmake
Owners: none

[Decode] Fix media reset issues for AV1 header syntax error
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_basic_feature_g12.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_tile_coding_g12.cpp
Owners: none

[Encode] apo pass fix for refactoring
  media_driver/media_interface/media_interfaces_xehp_sdv/media_interfaces_xehp_sdv.cpp
  media_driver/media_interface/media_interfaces_xehp_sdv/media_interfaces_xehp_sdv.h
Owners: none

[Media Common] Fix PVC mem leak issue
  media_common/agnostic/common/os/mos_utilities.h
  media_driver/agnostic/Xe_M/Xe_XPM_plus/shared/media_srcs.cmake
  media_driver/agnostic/Xe_M/Xe_XPM_plus/shared/renderhal_memdecomp.cpp
  media_driver/agnostic/Xe_M/Xe_XPM_plus/shared/renderhal_memdecomp.h
  media_driver/agnostic/Xe_M/Xe_XPM_plus/shared/renderhal_memdecomp_xe_xpm_plus.cpp
  media_driver/agnostic/Xe_M/Xe_XPM_plus/shared/renderhal_memdecomp_xe_xpm_plus.h
  media_driver/media_interface/media_interfaces_pvc/media_interfaces_pvc.h
Owners: none

[VP] Fix Y410 case mismatch
  media_driver/agnostic/common/renderhal/renderhal.cpp
Owners: none

[Media Common] fixed render copy memory leak.
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_plus/shared/mediacopy/media_render_copy_xe_xpm_plus.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_plus/shared/mediacopy/media_render_copy_xe_xpm_plus.h
  media_softlet/agnostic/common/shared/mediacopy/media_render_copy.cpp
  media_softlet/agnostic/common/shared/mediacopy/media_render_copy.h
  media_softlet/linux/common/os/mos_context_specific_next.cpp
Owners: none

[Encode] Rework AVC slice state
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.h
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_generic.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_interface.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_generic.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_interface.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[VP] Fix typo for eufusionbypass logic
  media_driver/agnostic/Xe_M/Xe_HPM/vp/hal/vphal_renderer_xe_hpm.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_fc_kernel.cpp
Owners: none

[VP] Fix Field1Dual surface missed issue for fc iscaling/filed weaving related cases
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.h
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_softlet/agnostic/common/vp/hal/features/vp_fc_filter.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_fc_kernel.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_fc_kernel.h
  media_softlet/agnostic/common/vp/hal/packet/vp_render_fc_types.h
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[MOS] Dump bindingtable together with command buffer
  media_driver/linux/common/os/mos_interface.cpp
Owners: none

[VP] Force scalingPreferred to sfc for non avs sampler case
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
Owners: none

[Media Common] VECS PPC Flush
  media_common/agnostic/common/hw/mhw_mi.h
  media_softlet/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[Decode] Upstream deissue interface of Alchemist
  media_driver/media_interface/media_interfaces_dg2/media_interfaces_dg2.cpp
  media_driver/media_interface/media_interfaces_pvc/media_interfaces_pvc.cpp
  media_driver/media_interface/media_interfaces_xehp_sdv/media_interfaces_xehp_sdv.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_HPM/codec/hal/media_srcs.cmake
  media_driver/media_softlet/agnostic/Xe_M/Xe_HPM/codec/hal/shared/codechal_debug_xe_hpm_ext.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_HPM/codec/hal/shared/codechal_debug_xe_hpm_ext.h
  media_driver/media_softlet/agnostic/Xe_M/Xe_HPM/codec/hal/shared/media_srcs.cmake
  media_driver/media_softlet/agnostic/Xe_M/Xe_HPM/codec/media_srcs.cmake
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM/codec/hal/codechal_debug_xe_xpm_ext.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM/codec/hal/codechal_debug_xe_xpm_ext.h
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM/codec/hal/media_srcs.cmake
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM/codec/media_srcs.cmake
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM/media_srcs.cmake
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_plus/codec/hal/codechal_debug_xe_xpm_plus_ext.cpp
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_plus/codec/hal/codechal_debug_xe_xpm_plus_ext.h
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_plus/codec/hal/media_srcs.cmake
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_plus/codec/media_srcs.cmake
  media_driver/media_softlet/agnostic/Xe_M/Xe_XPM_plus/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/codechal_debug.cpp
  media_softlet/agnostic/common/codec/hal/codechal_debug.h
Owners: none

[VP] Fix Alpha fill issue in APO for QPAQUE mode and Source mode
  media_common/agnostic/common/os/mos_resource_defs.h
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.h
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_softlet/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_fc_kernel.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[VP] [VP] Fix 3DLUT Memoryleaky issue
  media_driver/agnostic/gen12_tgllp/vp/hal/vphal_renderer_g12_tgllp.h
Owners: none

[Encode] VP9: Removed old HCP interface
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_hcp_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_hcp_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_hcp_itf.h
Owners: none

[Media Common] Add mhw mi call function
  media_common/agnostic/common/hw/mhw_utilities.h
  media_driver/agnostic/common/hw/mhw_utilities.c
  media_driver/agnostic/common/renderhal/hal_oca_interface.h
  media_driver/agnostic/common/shared/media_perf_profiler.cpp
  media_driver/agnostic/common/shared/media_perf_profiler.h
  media_driver/linux/common/renderhal/hal_oca_interface.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/scalability/decode_scalability_multipipe.cpp
  media_softlet/agnostic/common/hw/media_srcs.cmake
  media_softlet/agnostic/common/hw/mhw_mi_impl.h
  media_softlet/agnostic/common/hw/mhw_mi_itf.h
  media_softlet/agnostic/common/hw/mhw_utilities_next.cpp
  media_softlet/agnostic/common/hw/mhw_utilities_next.h
  media_softlet/agnostic/common/renderhal/hal_oca_interface_next.h
  media_softlet/agnostic/common/shared/media_srcs.cmake
  media_softlet/agnostic/common/shared/profiler/media_perf_profiler_next.cpp
  media_softlet/agnostic/common/shared/profiler/media_perf_profiler_next.h
  media_softlet/agnostic/common/shared/profiler/media_srcs.cmake
  media_softlet/agnostic/common/shared/scalability/media_scalability.h
  media_softlet/agnostic/common/shared/scalability/media_scalability_multipipe.h
  media_softlet/agnostic/common/shared/scalability/media_scalability_singlepipe.cpp
  media_softlet/agnostic/common/shared/scalability/media_scalability_singlepipe.h
  media_softlet/agnostic/common/shared/scalability/media_scalability_singlepipe_next.cpp
  media_softlet/agnostic/common/shared/scalability/media_scalability_singlepipe_next.h
  media_softlet/agnostic/common/shared/scalability/media_srcs.cmake
  media_softlet/agnostic/common/vp/hal/shared/scalability/vp_scalability_multipipe.cpp
  media_softlet/linux/common/media_srcs.cmake
  media_softlet/linux/common/renderhal/hal_oca_interface_next.cpp
  media_softlet/linux/common/renderhal/media_srcs.cmake
Owners: none

[VP] fix kw issue 20545
  media_softlet/agnostic/common/vp/hal/packet/vp_render_fc_kernel.cpp
Owners: none

[Upstream] upstream ADLN
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
  media_driver/linux/gen12/ddi/media_sysinfo_g12.cpp
  media_driver/media_interface/media_interfaces_m12_adln/media_interfaces_g12_adln.cpp
  media_driver/media_interface/media_interfaces_m12_adln/media_interfaces_g12_adln.h
  media_driver/media_interface/media_interfaces_m12_adln/media_srcs.cmake
  media_driver/media_interface/media_srcs.cmake
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Encode] Rework AVC slice state"
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.h
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_generic.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_interface.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_generic.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_interface.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] Rework AVC slice state
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.h
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_generic.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_interface.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_generic.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_interface.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

MediaInterface refining for AVC
  media_common/agnostic/common/codec/shared/codec_def_common_jpeg.h
  media_common/agnostic/common/codec/shared/codec_def_common_mpeg2.h
  media_common/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/common/codec/shared/codec_def_decode_jpeg.h
  media_driver/agnostic/common/codec/shared/codec_def_decode_mpeg2.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_interface.h
  media_softlet/agnostic/common/codec/hal/shared/codec_hw_next.cpp
  media_softlet/agnostic/common/codec/hal/shared/codec_hw_next.h
  media_softlet/agnostic/common/hw/vdbox/media_srcs.cmake
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_mfx_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_mfx_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_mfx_itf.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
Owners: none

[Decode] Refine the folder
  media_softlet/agnostic/common/codec/hal/dec/shared/hucInterface/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/shared/hucItf/decode_huc_packet_creator.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/hucItf/decode_huc_packet_creator.h
  media_softlet/agnostic/common/codec/hal/dec/shared/hucItf/huc_streamout_interface.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/hucItf/media_srcs.cmake
Owners: none

[Encode] Refactoring for VP9 HuC and MI interfaces
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_huc_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_huc_itf.h
Owners: none

[Media Common] Refine the FtrContextBasedScheduling setting
  media_driver/linux/Xe_M/ddi/media_sku_wa_xe.cpp
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Update logic for Slice Size report
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

Revert "MediaInterface refining for AVC"
  media_common/agnostic/common/codec/shared/codec_def_common_jpeg.h
  media_common/agnostic/common/codec/shared/codec_def_common_mpeg2.h
  media_common/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/common/codec/shared/codec_def_decode_jpeg.h
  media_driver/agnostic/common/codec/shared/codec_def_decode_mpeg2.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_interface.h
  media_softlet/agnostic/common/codec/hal/shared/codec_hw_next.cpp
  media_softlet/agnostic/common/codec/hal/shared/codec_hw_next.h
  media_softlet/agnostic/common/hw/vdbox/media_srcs.cmake
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_mfx_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_mfx_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_mfx_itf.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
Owners: none

[VP] Fix HDR perf issue
  media_driver/agnostic/Xe_M/Xe_HPM/vp/hal/vphal_render_vebox_xe_hpm.cpp
  media_driver/agnostic/Xe_M/Xe_XPM/vp/hal/vphal_render_vebox_xe_xpm.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.h
Owners: none

[Encode] VP9e APO DDI refactoring
  media_common/agnostic/common/codec/shared/codec_def_encode_vp9.h
Owners: none

[Encode] AV1 legacy Huc Interface cleanup
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_avp_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_avp_itf.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_huc_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_huc_itf.h
Owners: none

[Encode] GLK enable VP8
  media_driver/linux/gen9/ddi/media_sku_wa_g9.cpp
  media_driver/media_interface/media_interfaces_m9_glk/media_interfaces_g9_glk.cpp
  media_driver/media_interface/media_interfaces_m9_glk/media_interfaces_g9_glk.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Encode] Fix regression due to enabling ADL"
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Media Common] SetTileModebyForce
  media_driver/linux/common/os/media_srcs.cmake
  media_driver/linux/common/os/mos_graphicsresource_specific.cpp
  media_driver/linux/common/os/mos_graphicsresource_specific_ext.cpp
  media_softlet/linux/common/os/media_srcs.cmake
  media_softlet/linux/common/os/mos_graphicsresource_specific_next.cpp
  media_softlet/linux/common/os/mos_graphicsresource_specific_next_ext.cpp
Owners: none

[Decode] VP8d APO Enable
  media_common/agnostic/common/os/mos_utilities_common.h
Owners: none

Revert "[Encode] VP9e APO DDI refactoring "
  media_common/agnostic/common/codec/shared/codec_def_encode_vp9.h
Owners: none

[Media Common] Reduce library dependency
  cmrtlib/linux/hardware/drm_device.h
  media_driver/linux/common/os/i915/include/xf86drm.h
  media_driver/linux/common/os/media_srcs.cmake
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/media_top_cmake.cmake
Owners: none

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
