Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[Decode] Oca regression fix
  media_driver/agnostic/common/codec/hal/codechal_decoder.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
Owners: none

Revert "use CCS instead of RCS for film grain workload"
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_postsubpipeline_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_presubpipeline_g12.cpp
Owners: none

Revert "[VP] Enable EU fused dispatch for 8K processiong"
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_composite.h
Owners: none

[Media Common] Fix Vebox Copy with HW Diff tiling info
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/agnostic/common/os/mos_os.h
  media_driver/agnostic/common/shared/mediamemdecomp.h
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_memdecomp.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_memdecomp.h
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/os/mos_context_specific.h
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/linux/common/os/mos_os_specific.h
  media_driver/media_driver_next/linux/common/os/mos_decompression.cpp
  media_driver/media_driver_next/linux/common/os/mos_decompression.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Correct Caps Report for Slice Strcuture
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] AVC decode APO enabling
  media_driver/agnostic/common/codec/shared/codec_def_common_avc.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_mfx_g12_X.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_reference_associated_buffer.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_driver/media_driver_next/agnostic/common/shared/statusreport/media_status_report.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.h
Owners: none

[Encode] Fix non-Native ROI
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] Update LA pass for adatpive IDR enabling
  media_driver/agnostic/common/codec/hal/BRCIF.h
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.h
  media_driver/agnostic/common/codec/shared/codec_def_encode_hevc.h
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_hevc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Fixes for LoopRestoration programming
  media_driver/agnostic/gen12/codec/shared/codec_def_common_av1.h
Owners: none

[Encode] VP9 GetMediaEngineInfo
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.h
Owners: none

Revert "[Encode] Correct Caps Report for Slice Strcuture"
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Decode] Oca regression fix"
  media_driver/agnostic/common/codec/hal/codechal_decoder.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
Owners: none

[Encode] Pre-initialize colocMB surface for I frames
  media_driver/agnostic/common/codec/hal/codechal_encode_tracked_buffer.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_tracked_buffer.h
  media_driver/agnostic/common/codec/hal/codechal_encode_tracked_buffer_hevc.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_tracked_buffer_hevc.h
  media_driver/agnostic/common/codec/shared/codec_def_common.h
Owners: none

Use different default alpha value for 12 bit decoding
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_hcp_g11_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.cpp
Owners: none

[Encode] Skip Sanity Check for ICQ Quality Factor
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[CP] Fix wrong cmdbo for PermeatePatchForHM
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
Owners: none

[VP] Enable EU fused dispatch for 8K processiong
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_composite.h
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: none

Fix loss of AYUV format in vaQuerySurfaceAttributes.
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Add Hevc Slice header packer
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/enc/hevc/features/encode_hevc_header_packer.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/enc/hevc/features/encode_hevc_header_packer.h
  media_driver/media_driver_next/agnostic/common/codec/hal/enc/hevc/features/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/codec/hal/enc/hevc/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/codec/hal/enc/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/codec/hal/enc/shared/bitstreamWriter/bitstream_writer.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/enc/shared/bitstreamWriter/bitstream_writer.h
  media_driver/media_driver_next/agnostic/common/codec/hal/enc/shared/bitstreamWriter/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/codec/hal/enc/shared/media_srcs.cmake
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix KW issue of uninitialized variables
  media_driver/agnostic/common/vp/hal/vphal_renderer.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.cpp
Owners: none

[Decode] Fix old gcc build issue
  media_driver/agnostic/common/codec/shared/codec_def_decode.h
Owners: none

[Decode][Issuefix] Fix AVP+Film Grain+SFC issue
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.h
Owners: none

[CM] Specifies barrier count in INTERFACE_DESCRIPTOR_DATA command.
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
Owners: none

[Media Common] Refine Surface Export for compression info
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Fix ult build issue.
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_mock.c
Owners: none

just for test
  test.txt
Owners: none

Revert "[CP] Refactor--remove encType in secure decoder class"
  media_driver/agnostic/common/codec/hal/codechal_decode_scalability.cpp
  media_driver/agnostic/common/codec/hal/codechal_secure_decode_interface.h
  media_driver/agnostic/common/codec/hal/codechal_setting.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_scalability_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vp9_g12.cpp
Owners: none

Revert "[VP] Enable EU fused dispatch for 8K processiong"
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_composite.h
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: none

Break driver build into parts C/SSE2/SSE4
  cmrtlib/linux/CMakeLists.txt
  media_driver/agnostic/common/cm/cm_mem.cpp
  media_driver/agnostic/common/cm/cm_mem.h
  media_driver/agnostic/common/cm/cm_mem_c_impl.cpp
  media_driver/agnostic/common/cm/cm_mem_c_impl.h
  media_driver/agnostic/common/cm/cm_mem_sse2_impl.cpp
  media_driver/agnostic/common/cm/cm_mem_sse2_impl.h
  media_driver/agnostic/common/cm/media_srcs.cmake
  media_driver/cmake/linux/media_compile_flags_linux.cmake
  media_driver/linux/common/cm/hal/cm_mem_os.cpp
  media_driver/linux/common/cm/hal/cm_mem_os.h
  media_driver/linux/common/cm/hal/cm_mem_os_c_impl.cpp
  media_driver/linux/common/cm/hal/cm_mem_os_c_impl.h
  media_driver/linux/common/cm/hal/cm_mem_os_sse4_impl.cpp
  media_driver/linux/common/cm/hal/cm_mem_os_sse4_impl.h
  media_driver/linux/common/cm/hal/media_srcs.cmake
  media_driver/media_top_cmake.cmake
Owners: none

[Encode] Fix VEBox SFC buffer allocation
  media_driver/agnostic/common/codec/hal/codechal_debug_config_manager.cpp
  media_driver/agnostic/common/codec/hal/codechal_debug_config_manager.h
  media_driver/agnostic/common/codec/hal/codechal_encode_csc_ds.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_sfc.h
  media_driver/agnostic/common/codec/hal/codechal_encode_sfc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_sfc_base.h
  media_driver/agnostic/common/codec/hal/media_srcs.cmake
  media_driver/agnostic/gen11/codec/hal/codechal_encode_sfc_g11.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_encode_sfc_g11.h
  media_driver/agnostic/gen12/codec/hal/codechal_encode_sfc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Fix loss of AYUV format in vaQuerySurfaceAttributes.
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Change internal buffer for film grain to buffer array
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.h
Owners: none

[Decode] Anchor frame insertion for Linux AV1 Dec LST
  media_driver/agnostic/gen12/codec/shared/codec_def_decode_av1.h
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.cpp
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_reference_frames.cpp
Owners: none

[Media Common] MediaCopy Hal layer refactor
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/agnostic/common/os/mos_os.h
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/shared/pipeline/media_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/shared/pipeline/media_pipeline.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
Owners: none

Use different default alpha value for 12 bit decoding
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_hcp_g11_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.cpp
Owners: none

[Encode] Fix kw issues
  media_driver/media_driver_next/agnostic/common/codec/hal/enc/hevc/features/encode_hevc_header_packer.h
Owners: none

Fix ult build issue.
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_mock.c
Owners: none

[Decode] Oca regression fix
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.h
Owners: none

[Encode] Adaptive Region Boost for AVC
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_avc_g11.cpp
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_vdenc_g11_X.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Fix for flags in PAK_OBJECT_INSERT command
  media_driver/agnostic/common/codec/hal/codechal_encode_jpeg.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_encode_jpeg_g11.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com
