Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Add pitch check for vebox DN only case
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.h
  media_driver/agnostic/gen8/vp/hal/vphal_render_vebox_g8_base.cpp
  media_driver/agnostic/gen8/vp/hal/vphal_render_vebox_g8_base.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
Owners: none

[Encode] Fixed incorrect HUC_STATUS defines
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] Fix a hang in the free kernel driver
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[CP] Implement media protected functionality
  media_driver/linux/common/cp/ddi/media_ddi_prot.cpp
  media_driver/linux/common/cp/ddi/media_ddi_prot.h
  media_driver/linux/common/cp/ddi/media_libva_caps_cp_interface.cpp
  media_driver/linux/common/cp/ddi/media_libva_caps_cp_interface.h
  media_driver/linux/common/cp/ddi/media_libva_cp_interface.cpp
  media_driver/linux/common/cp/ddi/media_libva_cp_interface.h
  media_driver/linux/common/cp/ddi/media_srcs.cmake
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
  media_driver/linux/common/ddi/media_libva_common.cpp
  media_driver/linux/common/ddi/media_libva_common.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Fixed build issue
  media_driver/agnostic/common/codec/hal/codechal_encoder_unsupported.h
Owners: none

[Encode] Fixing Tile Record Buffer issue and reenabling HW Stitch for Scalability on TGL
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.cpp
Owners: none

[CP] encryption type vector refactor
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Compilation errors with clang
  media_driver/agnostic/gen10/renderhal/renderhal_g10.cpp
  media_driver/agnostic/gen11/renderhal/renderhal_g11.cpp
  media_driver/agnostic/gen12/renderhal/renderhal_g12.cpp
  media_driver/agnostic/gen9/renderhal/renderhal_g9.cpp
Owners: none

[VP] Fix colorfill issue
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
Owners: none

[VP] Add cache policy usage support for new cache policy
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/agnostic/common/os/mos_os.h
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/agnostic/common/os/mos_graphicsresource_next.h
  media_driver/media_driver_next/agnostic/common/shared/bufferMgr/media_allocator.cpp
  media_driver/media_driver_next/agnostic/common/shared/bufferMgr/media_allocator.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.h
Owners: none

[Encode] HucDmem Dump HucNumPass fix
  media_driver/agnostic/common/codec/hal/codechal_debug.cpp
  media_driver/agnostic/common/codec/hal/codechal_debug.h
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_vp9_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
Owners: none

[Media Interface] fix one MAVD issue
  media_driver/agnostic/common/media_interfaces/media_interfaces_mhw.h
  media_driver/linux/common/media_interfaces/media_interfaces.cpp
  media_driver/media_interface/media_interfaces_m10_cnl/media_interfaces_g10_cnl.cpp
  media_driver/media_interface/media_interfaces_m11_icllp/media_interfaces_g11_icllp.cpp
  media_driver/media_interface/media_interfaces_m11_icllp/media_interfaces_g11_jsl_ehl.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
  media_driver/media_interface/media_interfaces_m8_bdw/media_interfaces_g8_bdw.cpp
  media_driver/media_interface/media_interfaces_m9_bxt/media_interfaces_g9_bxt.cpp
  media_driver/media_interface/media_interfaces_m9_glk/media_interfaces_g9_glk.cpp
  media_driver/media_interface/media_interfaces_m9_kbl/media_interfaces_g9_kbl.cpp
  media_driver/media_interface/media_interfaces_m9_skl/media_interfaces_g9_skl.cpp
Owners: none

[Encode] Fix checking num ref idx for L0 and L1 list
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

correct the reference capibility for gen11 and gen12
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Media UMD passes hint in Command buffer header for AV1 decode
  media_driver/agnostic/common/os/mos_os.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
Owners: none

[Encode] Send target frame size to BRC to enable AVC TCBRC
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_avc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] VP9 VDEnc fix tile streamout offsets
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
Owners: none

[Encode] Fixing Resource contention in VP9 VDEnc TGL
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.h
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_vp9_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
Owners: none

Fix recon format
  media_driver/linux/common/codec/ddi/media_ddi_encode_hevc.cpp
  media_driver/linux/common/ddi/media_libva_common.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Refine VP HW Filter
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/hw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/hw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_ace_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_ace_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_dn_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_dn_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_rot_mir_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_rot_mir_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.h
Owners: none

[AVC VDEnc] Fix target usage mapping issue for free media driver
  media_driver/linux/common/codec/ddi/media_ddi_encode_avc.cpp
Owners: none

[AVC VDEnc] Fix target usage mapping issue for free media driver
  media_driver/linux/common/codec/ddi/media_ddi_encode_avc.cpp
Owners: none

[AVC VDEnc] Fix target usage mapping issue for free media driver
  media_driver/linux/common/codec/ddi/media_ddi_encode_avc.cpp
Owners: none

Enable the context priority setting.
  media_driver/agnostic/common/os/mos_os.h
  media_driver/linux/common/codec/ddi/media_ddi_decode_base.cpp
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/codec/ddi/media_libva_decoder.h
  media_driver/linux/common/codec/ddi/media_libva_encoder.cpp
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
  media_driver/linux/common/os/mos_context_specific.cpp
  media_driver/linux/common/os/mos_context_specific.h
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Allocate temp surface as system memory in GetImage and PutImage
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Report RefList only for P, SP and B slices
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] VP9 VDEnc fix for crash in Huc disabled mode
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
Owners: none

[Encode] Enable non-default-mapping by default for AV1 VDENC
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
Owners: none

[Encode] Update target usage only for new sequence
  media_driver/linux/common/codec/ddi/media_ddi_encode_hevc.cpp
Owners: none

[CP] Add DdiMedia_ProtectedSessionHwUpdate
  media_driver/linux/common/cp/ddi/media_ddi_prot.cpp
  media_driver/linux/common/cp/ddi/media_ddi_prot.h
Owners: none

media: don't advertise AV1 decoding if the platform doesn't support it
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Fix ODR violations
  media_driver/agnostic/gen10/codec/hal/codechal_encode_mpeg2_g10.cpp
  media_driver/agnostic/gen10/codec/hal/codechal_vdenc_avc_g10.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_encode_avc_g11.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_encode_mpeg2_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_mpeg2_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen8/codec/hal/codechal_encode_mpeg2_g8.cpp
  media_driver/agnostic/gen9/codec/hal/codechal_encode_mpeg2_g9.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

remove unnecessary dependency - libpciaccess
  Tools/MediaDriverTools/Android/mk/media_driver.tpl
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/mos_bufmgr_api.c
  media_driver/linux/ult/libdrm_mock/CMakeLists.txt
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_api_mock.c
  media_driver/media_top_cmake.cmake
Owners: none

clarify the huc enabling in readme
  README.md
Owners: none

Revert "[Media Common] Allocate temp surface as system memory in GetImage and PutImage"
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] AVS removal in HDR kernel path
  media_driver/agnostic/common/vp/hal/vphal_render_hdr_base.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_hdr_base.h
  media_driver/agnostic/gen9/vp/hal/vphal_render_hdr_g9_base.cpp
Owners: none

[Decode] Add multi slice data/params buffers support for AV1
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.cpp
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.h
Owners: none

[Encode] Slice size conformance feature update
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_interface.cpp
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_interface.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/gen10/hw/vdbox/mhw_vdbox_mfx_g10_X.cpp
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_mfx_g11_X.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_mfx_g12_X.cpp
  media_driver/agnostic/gen9/hw/vdbox/mhw_vdbox_mfx_g9_X.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Code prepare for sfc service 2
  media_driver/agnostic/common/media_interfaces/media_interfaces_vphal.h
  media_driver/linux/common/media_interfaces/media_interfaces.cpp
  media_driver/media_interface/media_interfaces_m10_cnl/media_interfaces_g10_cnl.cpp
  media_driver/media_interface/media_interfaces_m10_cnl/media_interfaces_g10_cnl.h
  media_driver/media_interface/media_interfaces_m11_icllp/media_interfaces_g11_icllp.cpp
  media_driver/media_interface/media_interfaces_m11_icllp/media_interfaces_g11_icllp.h
  media_driver/media_interface/media_interfaces_m11_icllp/media_interfaces_g11_jsl_ehl.cpp
  media_driver/media_interface/media_interfaces_m11_icllp/media_interfaces_g11_jsl_ehl.h
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.h
  media_driver/media_interface/media_interfaces_m8_bdw/media_interfaces_g8_bdw.cpp
  media_driver/media_interface/media_interfaces_m8_bdw/media_interfaces_g8_bdw.h
  media_driver/media_interface/media_interfaces_m9_bxt/media_interfaces_g9_bxt.cpp
  media_driver/media_interface/media_interfaces_m9_bxt/media_interfaces_g9_bxt.h
  media_driver/media_interface/media_interfaces_m9_glk/media_interfaces_g9_glk.cpp
  media_driver/media_interface/media_interfaces_m9_glk/media_interfaces_g9_glk.h
  media_driver/media_interface/media_interfaces_m9_kbl/media_interfaces_g9_kbl.cpp
  media_driver/media_interface/media_interfaces_m9_kbl/media_interfaces_g9_kbl.h
  media_driver/media_interface/media_interfaces_m9_skl/media_interfaces_g9_skl.cpp
  media_driver/media_interface/media_interfaces_m9_skl/media_interfaces_g9_skl.h
Owners: none

[VP] Code prepare for sfc service 3
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/vp_platform_interface.h
  media_driver/media_driver_next/agnostic/gen12/vp/hal/vp_vebox_cmd_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/vp/hal/vp_vebox_cmd_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12_tgllp/vp/hal/platform_interface/vp_platform_interface_g12_tgllp.cpp
  media_driver/media_driver_next/agnostic/gen12_tgllp/vp/hal/platform_interface/vp_platform_interface_g12_tgllp.h
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.cpp
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.h
Owners: none

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
