Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Add HDRmode to report in APO path
  media_driver/agnostic/common/vp/hal/vphal.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[Media Common] Incorrect I915_EXEC_VCS2 definition cause failure scheduling to VDBOX2
  media_driver/linux/common/os/mos_os_specific.h
Owners: none

[VP] ForceSet Tilemode
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.cpp
  media_driver/linux/common/os/media_srcs.cmake
  media_driver/linux/common/os/mos_graphicsresource_specific.cpp
  media_driver/linux/common/os/mos_graphicsresource_specific.h
  media_driver/linux/common/os/mos_graphicsresource_specific_ext.cpp
  media_driver/media_driver_next/linux/common/os/media_srcs.cmake
  media_driver/media_driver_next/linux/common/os/mos_graphicsresource_specific_next.cpp
  media_driver/media_driver_next/linux/common/os/mos_graphicsresource_specific_next.h
  media_driver/media_driver_next/linux/common/os/mos_graphicsresource_specific_next_ext.cpp
Owners: none

[VP] Enable Fmd Render Path
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_di_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_di_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_packet_shared_context.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_common.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/vp_platform_interface.h
Owners: none

[VP] Fix HDR Hang due to unalign in APO
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.h
Owners: none

[Media Common] add media copy
  media_driver/media_driver_next/agnostic/common/shared/pipeline/media_pipeline.cpp
Owners: none

[Media Common] Update Readme for AV1 film grain
  README.md
Owners: none

[CP] stout vp kernel integration on gen12 gen9 mixed platform
  media_driver/agnostic/gen12_tgllp/vp/kernel/cmfccmlpch/igvpkrn_g12_tgllp_cmfccmlpch.c
  media_driver/agnostic/gen12_tgllp/vp/kernel/cmfccmlpch/igvpkrn_g12_tgllp_cmfccmlpch.h
  media_driver/agnostic/gen12_tgllp/vp/kernel/cmfccmlpch/media_srcs.cmake
Owners: none

[VP] Add apo lace feature
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_kernelset.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_kernelset.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_dumper.h
Owners: none

Revert "[Media Common] add media copy"
  media_driver/media_driver_next/agnostic/common/shared/pipeline/media_pipeline.cpp
Owners: none

[VP] Fix memory leak issue
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
Owners: none

[MOS] ult
  media_driver/media_driver_next/agnostic/common/os/mos_gpucontextmgr_next.cpp
  media_driver/media_driver_next/agnostic/common/os/mos_gpucontextmgr_next.h
  media_driver/media_driver_next/linux/common/os/mos_context_specific_next.cpp
Owners: none

[VP] fix uninitialized variabled in related constructor
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
Owners: none

[Encode] Set LoadMpeg2EncProfileEntrypoints function as virtual
  media_driver/linux/common/ddi/media_libva_caps.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] enable ve/sfc scalability for 4k plus clips
  media_driver/agnostic/common/hw/mhw_vebox.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
  media_driver/media_driver_next/agnostic/common/vp/hal/scalability/vp_scalability_singlepipe.cpp
Owners: none

[Encode] Fix jpeg quant table
  media_driver/linux/common/codec/ddi/media_ddi_encode_jpeg.cpp
  media_driver/linux/common/codec/ddi/media_ddi_encode_jpeg.h
Owners: none

[Decode] fix some MAVD issues
  media_driver/media_driver_next/agnostic/common/shared/bufferMgr/media_allocator.cpp
Owners: none

[VP] Enable 3DLUT on Linux.
  media_driver/agnostic/common/hw/mhw_vebox.h
  media_driver/agnostic/common/hw/mhw_vebox_generic.h
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/hal/vphal_ddi.c
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.h
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_iecp.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_iecp.h
  media_driver/agnostic/gen11/hw/mhw_vebox_g11_X.cpp
  media_driver/agnostic/gen11/vp/hal/vphal_render_vebox_g11_base.cpp
  media_driver/agnostic/gen12/hw/mhw_vebox_g12_X.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.cpp
  media_driver/media_driver_next/agnostic/m12/m12_0/vp/hal/feature_manager/vp_feature_manager_m12_0.cpp
Owners: none

Revert "[VP] Enable 3DLUT on Linux."
  media_driver/agnostic/common/hw/mhw_vebox.h
  media_driver/agnostic/common/hw/mhw_vebox_generic.h
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/hal/vphal_ddi.c
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.h
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_iecp.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_iecp.h
  media_driver/agnostic/gen11/hw/mhw_vebox_g11_X.cpp
  media_driver/agnostic/gen11/vp/hal/vphal_render_vebox_g11_base.cpp
  media_driver/agnostic/gen12/hw/mhw_vebox_g12_X.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.cpp
  media_driver/media_driver_next/agnostic/m12/m12_0/vp/hal/feature_manager/vp_feature_manager_m12_0.cpp
Owners: none

[Decode] Fix AVCd ref surface issue.
  media_driver/agnostic/common/codec/hal/codechal_decode_avc.cpp
Owners: none

[VP] Enable 3DLUT on Linux.
  media_driver/agnostic/common/hw/mhw_vebox.h
  media_driver/agnostic/common/hw/mhw_vebox_generic.h
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/hal/vphal_ddi.c
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.h
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_iecp.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_iecp.h
  media_driver/agnostic/gen11/hw/mhw_vebox_g11_X.cpp
  media_driver/agnostic/gen11/vp/hal/vphal_render_vebox_g11_base.cpp
  media_driver/agnostic/gen12/hw/mhw_vebox_g12_X.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.cpp
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/vp/ddi/media_libva_vp.c
  media_driver/media_driver_next/agnostic/m12/m12_0/vp/hal/feature_manager/vp_feature_manager_m12_0.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] 2Pss CSC feature
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[Encode] Add resource cacheable flag
  media_driver/agnostic/common/os/mos_os.h
Owners: none

[Encode] Improved default TCBRC setting for AVC on linux
  media_driver/linux/common/codec/ddi/media_ddi_encode_avc.cpp
Owners: none

[VP] enable APG RGB DN
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_handle.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/gen12/vp/hal/vp_feature_caps_g12.h
Owners: none

[VP] Enable RC in Linux
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/linux/common/os/mos_graphicsresource_specific_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Huc kernel integration
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.h
Owners: none

[Media Common] Use Video memory instead of device memory as default memory type
  media_driver/agnostic/common/shared/memory_policy_manager.cpp
Owners: none

[Decode] Enabling APO histogram internal buffer dump for HEVCd.
  media_driver/agnostic/common/codec/hal/codechal_decoder.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_sfc_histogram_postsubpipeline.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report_defs.h
Owners: none

[CM] Fix mctf denoise hang
  media_driver/agnostic/common/cm/cm_device_rt_base.cpp
Owners: none

[VP] add CreateVpPlatformInterface() in media interface on in order to Separate the initialization of VpPipeline and VpPlatformInterface
  media_driver/agnostic/common/media_interfaces/media_interfaces_vphal.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_render.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.h
Owners: none

Bump up version to 21.2.0
  CMakeLists.txt
Owners: none

[Decode] media deissue hooks
  media_driver/agnostic/common/codec/hal/codechal_debug.cpp
  media_driver/agnostic/common/codec/hal/codechal_debug.h
  media_driver/agnostic/common/codec/hal/codechal_decode_jpeg.cpp
  media_driver/agnostic/common/codec/hal/codechal_decode_mpeg2.cpp
  media_driver/agnostic/common/codec/hal/codechal_decode_vc1.cpp
  media_driver/agnostic/common/codec/hal/codechal_decode_vp9.cpp
  media_driver/agnostic/common/codec/hal/codechal_decoder.cpp
  media_driver/agnostic/common/codec/hal/codechal_decoder.h
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/shared/media_debug_interface.cpp
  media_driver/agnostic/common/shared/media_debug_interface.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_jpeg_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_mpeg2_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vp9_g12.cpp
Owners: none

[Decode] Turn off TLB prefetch for HCP to fix HEVC 422 hang
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.h
  media_driver/linux/common/os/memory_policy_manager_specific.cpp
Owners: none

[Encode] Fix kw issue for possible invalid array index
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] fix some kw issues
  media_driver/agnostic/gen12/codec/hal/codechal_decode_sfc_avc_g12.h
Owners: none

[Decode] Fix Media Deissue Hooks KW issue
  media_driver/agnostic/common/codec/hal/codechal_decoder.cpp
Owners: none

[Decode] Adding resource access requirement for decode Apogioes path.
  media_driver/agnostic/common/hw/mhw_utilities.c
  media_driver/agnostic/common/hw/mhw_utilities.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_temporal_buffers.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_internal_target.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/decode_input_bitstream.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_surf_init_g12.cpp
Owners: none

[Decode] Fix VC1 OLP playback issue
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.cpp
Owners: none

[Encode] Fix inaccurate mini GOP decision and enabling adaptive GOP
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.h
  media_driver/agnostic/common/codec/shared/codec_def_encode_hevc.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
