Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

Revert "[VP] Correct lace caps"
  media_driver/media_softlet/agnostic/gen12/vp/hal/vp_feature_caps_g12.h
Owners: none

[Decode] Fix AV1 log2 calculation issue in DDI.
  media_common/agnostic/common/codec/shared/codec_def_common.h
Owners: none

[VP] Change the sequence of Scaling and 3DLUT (scaling first, 3DLUT second).
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_iecp.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.cpp
  media_driver/agnostic/gen12_tgllp/vp/hal/vphal_renderer_g12_tgllp.cpp
  media_driver/agnostic/gen12_tgllp/vp/hal/vphal_renderer_g12_tgllp.h
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix loss of Y210 and Y410 format in vaQuerySurfaceAttributes.
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Remove TGL APO path code
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.h
Owners: none

[Media Common] oca copy issue fix and legacy ult report errorfix
  media_driver/linux/common/os/mos_oca_interface_specific.h
  media_driver/linux/common/os/mos_oca_specific.cpp
  media_driver/linux/common/renderhal/hal_oca_interface.cpp
Owners: none

[VP] add F16 support in vecopy
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_memdecomp.cpp
Owners: none

[Decode] Seperate Vdbox SFC input/output format check
  media_softlet/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
Owners: none

[VP] Media 4K LACE support
  media_driver/agnostic/common/renderhal/hal_oca_interface.h
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/linux/common/renderhal/hal_oca_interface.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[Encode] Update programming for multiple slice cases
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[VP] Fix regression which caused by #1229
  media_driver/linux/common/ddi/media_libva_caps.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix regression which caused by #1229
  media_driver/linux/common/ddi/media_libva_caps.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Encode] Update programming for multiple slice cases (fixed) (1)"
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[VP] ddi refactor for VPBLT func
  media_driver/agnostic/common/vp/hal/vphal.h
  media_driver/agnostic/common/vp/hal/vphal_ddi.c
  media_driver/agnostic/common/vp/hal/vphal_ddi.h
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/agnostic/common/vp/hal/vphal_renderer.cpp
  media_driver/agnostic/gen10/vp/hal/vphal_render_vebox_g10_base.cpp
  media_driver/agnostic/gen11/vp/hal/vphal_render_vebox_g11_base.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.cpp
  media_driver/agnostic/gen9/vp/hal/vphal_render_hdr_g9_base.cpp
  media_driver/agnostic/gen9/vp/hal/vphal_render_vebox_g9_base.cpp
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_softlet/agnostic/common/vp/hal/pipeline/media_srcs.cmake
  media_softlet/agnostic/common/vp/hal/pipeline/vp_feature_report.cpp
  media_softlet/agnostic/common/vp/hal/pipeline/vp_feature_report.h
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_adapter_base.cpp
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_adapter_base.h
  media_softlet/agnostic/common/vp/hal/utils/media_srcs.cmake
  media_softlet/agnostic/common/vp/hal/utils/vp_utils.cpp
  media_softlet/agnostic/common/vp/hal/utils/vp_utils.h
Owners: none

[VP] refine APO renderhal
  media_driver/agnostic/common/renderhal/media_srcs.cmake
  media_driver/agnostic/common/renderhal/renderhal_platform_interface_legacy.h
  media_driver/agnostic/gen10/renderhal/renderhal_g10.h
  media_driver/agnostic/gen11/renderhal/renderhal_g11.h
  media_driver/agnostic/gen8/renderhal/renderhal_g8.h
  media_driver/agnostic/gen9/renderhal/renderhal_g9.h
  media_driver/media_softlet/agnostic/g12/g12_base/renderhal/renderhal_g12_base.h
  media_softlet/agnostic/common/renderhal/media_srcs.cmake
  media_softlet/agnostic/common/renderhal/renderhal_platform_interface_next.h
Owners: none

[Encode] Update programming for multiple slice cases
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Media Common] Linux caps refactor - interface layer
  media_driver/linux/common/ddi/media_libva_common.h
  media_softlet/linux/common/ddi/media_capstable_specific.cpp
  media_softlet/linux/common/ddi/media_capstable_specific.h
  media_softlet/linux/common/ddi/media_libva_caps_next.cpp
  media_softlet/linux/common/ddi/media_libva_caps_next.h
  media_softlet/linux/common/ddi/media_libva_common_next.h
  media_softlet/linux/common/ddi/media_libva_interface_next.cpp
  media_softlet/linux/common/ddi/media_libva_interface_next.h
  media_softlet/linux/common/ddi/media_srcs.cmake
  media_softlet/linux/common/enc/ddi/ddi_encode_functions.cpp
  media_softlet/linux/common/enc/ddi/ddi_encode_functions.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] change m_isOcaEnabled default value to false and add gfxAddree in resource infoand and add dumpResourceInfo on patchlist path
  media_driver/agnostic/common/hw/mhw_utilities.c
  media_driver/linux/common/os/mos_oca_interface_specific.h
  media_driver/linux/common/os/mos_oca_specific.cpp
Owners: none

[Encode] Fix rowStore params uninitialized issue
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox.h
Owners: none

[VP] Change some non-critical log information to normal.
  media_driver/agnostic/common/vp/hal/vphal_common.c
Owners: none

[Decode] VC1 regkey enable for OLP/Skip Frame
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.h
Owners: none

[Decode] Huc Copy separate to different platforms
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.h
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_surf_init_g12.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_surf_init_g12.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/hucitf/decode_huc_copy_creator_g12.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/hucitf/decode_huc_copy_creator_g12.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/hucitf/media_srcs.cmake
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/packet/decode_huc_copy_packet_g12.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/packet/decode_huc_copy_packet_g12.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/packet/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.h
  media_softlet/agnostic/common/codec/hal/dec/shared/decode_input_bitstream.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/decode_input_bitstream.h
  media_softlet/agnostic/common/codec/hal/dec/shared/hucItf/decode_huc_copy_creator_base.h
  media_softlet/agnostic/common/codec/hal/dec/shared/hucItf/decode_huc_copy_packet_itf.h
  media_softlet/agnostic/common/codec/hal/dec/shared/hucItf/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/shared/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_sfc_histogram_postsubpipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_sfc_histogram_postsubpipeline.h
Owners: none

Revert "[Encode] Update programming for multiple slice cases (fixed) (1)"
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Decode] fix AV1d lst anchor_frame_list copy size issue for Linux
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.cpp
Owners: none

[VP] Fix simu scalability issue
  media_softlet/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[Decode] [Encode] AV1 register key refactor
  media_softlet/agnostic/common/shared/pipeline/media_pipeline.h
  media_softlet/agnostic/common/shared/pipeline/media_srcs.cmake
  media_softlet/agnostic/common/shared/pipeline/media_user_setting.cpp
Owners: none

[Encode] AVC VDENC rounding update
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_avc_g11.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

Add mem_types when querying surface attributes
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] align the surface for encoding to 16
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Change the method to manage hw/sw crc
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/codec/hal/codechal_debug.cpp
  media_driver/agnostic/common/codec/hal/codechal_decoder.cpp
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/shared/media_debug_interface.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vp9_g12.cpp
Owners: none

Revert "Revert "[Encode] Update programming for multiple slice cases (fixed) (1)""
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] MHW remove dependency
  media_common/agnostic/common/codec/shared/codec_def_common.h
  media_common/agnostic/common/codec/shared/codec_def_common_avc.h
  media_common/agnostic/common/codec/shared/codec_def_common_encode.h
  media_common/agnostic/common/codec/shared/codec_def_common_hevc.h
  media_common/agnostic/common/codec/shared/codec_def_common_jpeg.h
  media_common/agnostic/common/codec/shared/codec_def_common_mpeg2.h
  media_common/agnostic/common/codec/shared/codec_def_common_vp9.h
  media_common/agnostic/common/codec/shared/codec_def_decode_av1.h
  media_common/agnostic/common/codec/shared/codec_def_decode_avc.h
  media_common/agnostic/common/codec/shared/codec_def_decode_hevc.h
  media_common/agnostic/common/codec/shared/codec_def_decode_vc1.h
  media_common/agnostic/common/codec/shared/codec_def_decode_vp9.h
  media_common/agnostic/common/codec/shared/codec_def_encode_avc.h
  media_common/agnostic/common/codec/shared/codec_def_encode_jpeg.h
  media_common/agnostic/common/codec/shared/codec_def_encode_mpeg2.h
  media_common/agnostic/common/codec/shared/codec_def_encode_vp9.h
  media_common/agnostic/common/codec/shared/media_srcs.cmake
  media_common/agnostic/common/hw/media_srcs.cmake
  media_common/agnostic/common/hw/vdbox/media_srcs.cmake
  media_common/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/common/codec/shared/media_srcs.cmake
  media_driver/agnostic/common/hw/vdbox/media_srcs.cmake
  media_driver/agnostic/gen12/codec/shared/media_srcs.cmake
  media_driver/media_top_cmake.cmake
  media_softlet/agnostic/common/hw/mhw_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
Owners: none

[Encode] Allow data copy on segmentation buffer creation
  media_driver/linux/common/codec/ddi/media_ddi_encode_base.cpp
Owners: none

fix build error
  media_driver/agnostic/common/shared/media_debug_interface.cpp
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: none

[Vp9 Encode] Add a judgment condition for getting seqParams->TargetUsage
  media_driver/linux/common/codec/ddi/media_ddi_encode_vp9.cpp
Owners: none

[Decode] fix VD-SFC surface region issue
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_downsampling_packet.cpp
  media_softlet/agnostic/common/shared/media_sfc_interface/media_sfc_interface.h
  media_softlet/agnostic/common/shared/media_sfc_interface/media_sfc_render.cpp
  media_softlet/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
Owners: none

[Encode] Remove legacy definitions/functions and add new APO interface
  media_softlet/agnostic/common/shared/media_factory.h
Owners: none

[Encode] [Encode] hevc code refactor
  media_softlet/agnostic/common/shared/pipeline/media_user_setting.cpp
Owners: none

[Encode] Move MhwVdboxMfxInterface from protected to public section
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_interface.h
Owners: none

[Decode] enable new RGB format support as sfc output
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.h
Owners: none
