Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[VP] Fix NV12 interlaced scaling align unit issue
  media_driver/agnostic/common/vp/hal/vphal_render_common.h
  media_driver/agnostic/common/vp/hal/vphal_renderer.cpp
Owners: none

[Decode] Fix SFC Scaling Mode Issue
  media_driver/agnostic/common/codec/shared/codec_def_common.h
  media_driver/agnostic/common/codec/shared/codec_def_decode.h
  media_driver/linux/common/codec/ddi/media_ddi_decode_base.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/packet/decode_downsampling_packet.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.h
Owners: none

Revert "[VP] Fix NV12 interlaced scaling align unit issue"
  media_driver/agnostic/common/vp/hal/vphal_render_common.h
  media_driver/agnostic/common/vp/hal/vphal_renderer.cpp
Owners: none

[VP] fix clearview issue
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
Owners: none

[CP] add resource address to trace event
  media_driver/agnostic/common/hw/mhw_utilities.c
Owners: none

ci: fix detection of clang-11
  .github/workflows/ubuntu.yml
Owners: none

[VP] Adding SFC NV12/P010 Linear Output Format Support
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
Owners: none

[Encode] Enable ARB for TCBRC on ICL
  media_driver/agnostic/common/codec/hal/codechal_huc_cmd_initializer.cpp
  media_driver/agnostic/common/codec/hal/codechal_huc_cmd_initializer.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.h
  media_driver/agnostic/gen11/codec/hal/codechal_huc_cmd_initializer_g11.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_hevc_g11.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

VP9 APO refactor
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.h
Owners: none

[Encode] Enable OCA for VEBox+SFC in encode pipeline
  media_driver/agnostic/common/codec/hal/codechal_encode_sfc_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Media Common] Add DumpSurfaceInfo to codechal
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/shared/media_debug_config_manager.cpp
  media_driver/agnostic/common/shared/media_debug_interface.cpp
  media_driver/agnostic/common/shared/media_debug_interface.h
  media_driver/agnostic/common/shared/media_debug_utils.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

ci: fix detection of clang-11
  .github/workflows/ubuntu.yml
Owners: none

[CP] add buffer object gpu map address in trace
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
Owners: none

[Encode] Refine row store cache settings in new MHW interface
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_cmdpar.h
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.cpp
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
Owners: none

[VP] Fix interlaced scaling regression issue
  media_driver/agnostic/common/vp/hal/vphal_render_sfc_base.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_sfc_base.h
Owners: none

[Media Common] Bump up version to 21.1.1
  CMakeLists.txt
Owners: none

[CP] Implement protected session context robustness
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/cp/ddi/media_libva_cp_interface.cpp
  media_driver/linux/common/cp/ddi/media_libva_cp_interface.h
Owners: none

[Encode] LDB CModel matching
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_interface.h
Owners: none

[VP] Not returning error when not setting VAProcPipelineParameterBuffer
  media_driver/agnostic/common/codec/hal/codechal_decode_sfc.cpp
  media_driver/linux/common/codec/ddi/media_ddi_decode_base.cpp
Owners: none

[Encode] Fill BrcConstBuffer using pitch
  media_driver/agnostic/common/codec/hal/codechal_encode_mpeg2.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Media Interface] Enable macro Exit_with_destroy
  media_driver/agnostic/common/os/mos_util_debug.h
Owners: none

[Decode] Correcting decodeScalabilityPars intialization for decode sub pipeline.
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/decode_input_bitstream.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_sfc_histogram_postsubpipeline.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_postsubpipeline_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_presubpipeline_g12.cpp
Owners: none

[Decode] AV1d SW latency optimization
  media_driver/agnostic/gen12/codec/shared/codec_def_decode_av1.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_tile_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_tile_packet.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
Owners: none

[Encode] Extend AVC BRC ROI support
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/shared/codec_def_encode_avc.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[CP] Sync to latest libva 2.11.0.pre1 and corresponding driver update
  media_driver/linux/common/cp/ddi/media_ddi_prot.cpp
  media_driver/linux/common/cp/ddi/media_ddi_prot.h
Owners: none

[Decode] Fix VDSFC MMC issue on APO path
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/packet/decode_downsampling_packet.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_interface.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_render.h
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.h
  media_driver/media_driver_next/agnostic/common/shared/mmc/media_mem_compression.cpp
  media_driver/media_driver_next/agnostic/common/shared/mmc/media_mem_compression.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.h
Owners: none

[Encode] Align some surface states for bottom field case with TGLLP ones
  media_driver/agnostic/gen12/codec/hal/codechal_kernel_intra_dist_mdf_g12.cpp
Owners: none

[Encode] Fix MV buffer size
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

Revert "[Encode] Align some surface states for bottom field case with TGLLP ones"
  media_driver/agnostic/gen12/codec/hal/codechal_kernel_intra_dist_mdf_g12.cpp
Owners: none

[VP] add mocs setting accroding gmm change
  media_driver/agnostic/gen12_tgllp/vp/hal/vphal_g12_tgllp.cpp
  media_driver/agnostic/gen12_tgllp/vp/hal/vphal_g12_tgllp.h
Owners: none

[Media Common] Add media reset support for VP and decode
  media_driver/agnostic/common/hw/mhw_mi.cpp
  media_driver/agnostic/common/hw/mhw_mi.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/gen10/hw/mhw_mi_g10_X.cpp
  media_driver/agnostic/gen11/hw/mhw_mi_g11_X.cpp
  media_driver/agnostic/gen12/hw/mhw_mi_g12_X.cpp
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/ddi/media_libva_util.h
  media_driver/linux/common/hw/media_srcs.cmake
  media_driver/linux/common/hw/mhw_mi_linux.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Add OCA interface for resource info
  media_driver/agnostic/common/hw/mhw_utilities.c
  media_driver/agnostic/common/os/mos_oca_interface.h
  media_driver/agnostic/common/renderhal/hal_oca_interface.h
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/linux/common/renderhal/hal_oca_interface.cpp
Owners: none

[VP] Fix KW issue
  media_driver/agnostic/common/renderhal/renderhal.cpp
Owners: none

[VP] add VP settings support when driver add testing config
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_adapter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[Media Common] Add hwCmdTypes and cacheUsage in oca resource info
  media_driver/agnostic/common/hw/mhw_utilities.c
  media_driver/agnostic/common/os/mos_oca_interface.h
  media_driver/agnostic/common/os/mos_os_hw.h
  media_driver/agnostic/common/renderhal/hal_oca_interface.h
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/linux/common/renderhal/hal_oca_interface.cpp
Owners: none

[VP] Fix FDFB surface dump issue
  media_driver/agnostic/common/vp/hal/vphal_debug.c
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_dumper.cpp
Owners: none

[Decode] Update filmgrain kernel
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.h
Owners: none

[VP] Update Denoise Params
  media_driver/agnostic/common/vp/hal/vphal_common.h
Owners: none

[Encode] Fix MaxFrameSize brc reset on Linux
  media_driver/linux/common/codec/ddi/media_ddi_encode_avc.cpp
Owners: none

[CP] Enable protected content driver implementation
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
  media_driver/linux/common/ddi/media_libva_common.cpp
  media_driver/linux/gen10/ddi/media_libva_caps_g10.cpp
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen9/ddi/media_libva_caps_g9.cpp
  media_driver/linux/ult/ult_app/RefCapsTable_BXT.h
  media_driver/linux/ult/ult_app/RefCapsTable_SKL.h
  media_driver/linux/ult/ult_app/driver_loader.cpp
  media_driver/linux/ult/ult_app/driver_loader.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com
