Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

Correct MAX resolution capability of MPEG2
  media_driver/linux/common/ddi/media_libva_caps.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Add display color processing control for HDR playback.
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/vp/hal/vphal_common.h
Owners: none

Correct MAX resolution capability of MPEG2
  media_driver/linux/common/ddi/media_libva_caps.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Decode] fix decode caps failure issue"
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Add scaling mode support for VE feature.
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.cpp
Owners: none

[VP] Add scaling mode support if VE features.
  media_driver/agnostic/gen10/vp/hal/vphal_render_vebox_g10_base.cpp
  media_driver/agnostic/gen11/vp/hal/vphal_render_vebox_g11_base.cpp
  media_driver/agnostic/gen8/vp/hal/vphal_render_vebox_g8_base.cpp
  media_driver/agnostic/gen9/vp/hal/vphal_render_vebox_g9_base.cpp
Owners: none

Revert "Revert "[VP] Align APO with legacy path""
  media_driver/agnostic/gen12/vp/hal/vphal_render_sfc_g12_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
Owners: none

[CP] Enable AVC subsample secure decode on linux
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Upstream] DG1 open source stage 1
  media_driver/agnostic/gen12_dg1/media_interfaces/media_interfaces_g12_dg1.cpp
  media_driver/agnostic/gen12_dg1/media_interfaces/media_interfaces_g12_dg1.h
  media_driver/agnostic/gen12_dg1/media_interfaces/media_srcs.cmake
  media_driver/agnostic/gen12_dg1/media_srcs.cmake
  media_driver/agnostic/gen12_dg1/renderhal/media_srcs.cmake
  media_driver/agnostic/gen12_dg1/renderhal/renderhal_g12_dg1.cpp
  media_driver/agnostic/gen12_dg1/renderhal/renderhal_g12_dg1.h
  media_driver/agnostic/media_srcs.cmake
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
  media_driver/linux/gen12/ddi/media_sysinfo_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Optimize driver latency by reducing resource lock
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Optimize driver latency by reducing reg operations
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com, alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[VP] Clear AvsState Params cache
  media_driver/agnostic/common/vp/hal/vphal_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
Owners: none

[VP] Enable user feature report for linux driver of release version
  media_driver/agnostic/common/vp/hal/vphal_renderer.cpp
  media_driver/agnostic/gen12_tgllp/vp/hal/vphal_renderer_g12_tgllp.cpp
  media_driver/linux/common/vp/ddi/media_libva_vp.c
  media_driver/linux/common/vp/ddi/media_libva_vp_tools.c
  media_driver/linux/common/vp/ddi/media_libva_vp_tools.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/hw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_packet_pipe.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_packet_pipe.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_dumper.h
Owners: none

[VP] fix VP TGL MAVD issue
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
Owners: none

[VP] Use inline function instead of macro
  media_driver/linux/common/vp/ddi/media_libva_vp_tools.c
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/hw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[Encode] Fix resource sync issue in scalabilty cases
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/include/mos_bufmgr_priv.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915/mos_bufmgr_api.c
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/linux/common/os/mos_gpucontext_specific.h
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.h
Owners: none

[Encode] Enable Huc Error Status Report for AVC
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_huc_interface.h
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_avc_g11.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_avc_g11.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Disable phase submission in hal and submit a list of batch buffer together to mos
  media_driver/agnostic/gen11/codec/hal/codechal_decode_hevc_g11.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_decode_vp9_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_scalability_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vp9_g12.cpp
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
Owners: none

[Encode] Move specific CTX creation flag to correct class
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Upstream] DG1 open source stage 2
  CMakeLists.txt
  README.md
  docs/media_features.md
  media_driver/cmake/linux/media_gen_flags_linux.cmake
  media_driver/linux/common/os/i915/include/uapi/media_srcs.cmake
  media_driver/linux/common/os/i915_production/include/README.md
  media_driver/linux/common/os/i915_production/include/i915_drm.h
  media_driver/linux/common/os/i915_production/include/media_srcs.cmake
  media_driver/linux/common/os/i915_production/media_srcs.cmake
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/common/os/media_srcs.cmake
Owners: none

[Upstream] Bump version to 20.3
  CMakeLists.txt
Owners: none

[Encode] Remove MFE related code on AVC VME for Gen12
  media_driver/agnostic/gen12/codec/hal/codechal_encode_avc_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] Fixing VD_CONTROL_STATE scalable mode pipe lock and unlock logic to per tile
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
Owners: none

vaSyncSurface2 driver impl
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[MOS] Apogeios MOS refactor: mos stream state clean up
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/linux/common/cm/hal/cm_hal_os.cpp
  media_driver/linux/common/cm/hal/cm_wrapper_os.cpp
  media_driver/linux/common/codec/ddi/media_ddi_decode_base.cpp
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/codec/ddi/media_libva_encoder.cpp
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/linux/common/vp/ddi/media_libva_vp.c
  media_driver/media_driver_next/agnostic/common/os/mos_context_next.h
  media_driver/media_driver_next/linux/common/os/mos_context_specific_next.cpp
  media_driver/media_driver_next/linux/common/os/mos_context_specific_next.h
Owners: none

Avoid search invalid ref frames/fields when AVC decoding
  media_driver/linux/common/codec/ddi/media_ddi_decode_avc.cpp
Owners: none

media_libva_caps_g11: Add missing Y216 GMM format support for gen11
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Fix VC1 skip frame handling issue for mmc on
  media_driver/linux/gen12/codec/hal/codechal_mmc_decode_vc1_g12_ext.cpp
Owners: none

[Media Common] Added check for set balancer
  media_driver/linux/common/os/i915/mos_bufmgr.c
Owners: none

[Decode] Add common render command packet
  media_driver/agnostic/common/codec/hal/codechal_decoder.h
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/common/codec/kernel/codeckrnheader.h
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/common/renderhal/renderhal.h
  media_driver/agnostic/gen10/codec/kernel/igcodeckrn_g10.h
  media_driver/agnostic/gen11/codec/kernel/igcodeckrn_g11.c
  media_driver/agnostic/gen11_icllp/codec/kernel/igcodeckrn_g11_icllp.c
  media_driver/agnostic/gen11_icllp/codec/kernel/igcodeckrn_g11_icllp.h
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.h
  media_driver/agnostic/gen12/codec/kernel/igcodeckrn_g12.h
  media_driver/agnostic/gen8/codec/kernel/igcodeckrn_g8.h
  media_driver/agnostic/gen9/codec/kernel/igcodeckrn_g9.h
  media_driver/agnostic/gen9_bxt/codec/kernel/igcodeckrn_g9_bxt.c
  media_driver/agnostic/gen9_bxt/codec/kernel/igcodeckrn_g9_bxt.h
  media_driver/agnostic/gen9_kbl/codec/kernel/igcodeckrn_g9_kbl.c
  media_driver/agnostic/gen9_kbl/codec/kernel/igcodeckrn_g9_kbl.h
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/shared/packet/media_srcs.cmake
Owners: none

[Encode] VP9 VDEnc Performance improvements: Enabling pak-only RePAK pass
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
Owners: none

media_libva_caps_g11: Add missing Y216 GMM format support for gen11
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] VP9 VDEnc Performance improvements: Redesign batch buffer for multi-pass scenarios
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.h
Owners: none

[CM][Cmrtlib] Avoids copying nonexistent render name.
  cmrtlib/linux/hardware/cm_device_os.cpp
Owners: none

[CP] Code refine for early exit
  media_driver/linux/common/cp/os/mos_os_cp_interface_specific.h
Owners: none

[Decode] Fix Regression of common render packet
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.cpp
Owners: none

[Decode] Partially revert common render packet
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/common/codec/kernel/codeckrnheader.h
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/gen10/codec/kernel/igcodeckrn_g10.h
  media_driver/agnostic/gen11/codec/kernel/igcodeckrn_g11.c
  media_driver/agnostic/gen11_icllp/codec/kernel/igcodeckrn_g11_icllp.c
  media_driver/agnostic/gen11_icllp/codec/kernel/igcodeckrn_g11_icllp.h
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.cpp
  media_driver/agnostic/gen12/codec/kernel/igcodeckrn_g12.h
  media_driver/agnostic/gen8/codec/kernel/igcodeckrn_g8.h
  media_driver/agnostic/gen9/codec/kernel/igcodeckrn_g9.h
  media_driver/agnostic/gen9_bxt/codec/kernel/igcodeckrn_g9_bxt.c
  media_driver/agnostic/gen9_bxt/codec/kernel/igcodeckrn_g9_bxt.h
  media_driver/agnostic/gen9_kbl/codec/kernel/igcodeckrn_g9_kbl.c
  media_driver/agnostic/gen9_kbl/codec/kernel/igcodeckrn_g9_kbl.h
Owners: none

[Encode] hw semphore for 2 pipes sync
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] fix hevc QVBR BRC caps regression
  media_driver/linux/common/ddi/media_libva_caps.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Enable HEVC LPLA and update LA analysis kernel
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.h
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_hevc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com
