Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common]enable VADisplayAttribSubDevice support
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/ddi/media_libva_util.h
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/include/mos_bufmgr_priv.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/common/os/mos_os_specific.h
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.h
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_mock.c
  media_softlet/linux/common/os/mos_context_specific_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Decode] Switch All g12 platform to jpeg APO"
  media_softlet/agnostic/common/codec/hal/dec/shared/decode_input_bitstream.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
Owners: none

[Encode] Jpeg encode refactoring
  media_softlet/agnostic/common/shared/features/media_feature_manager.h
Owners: none

Revert "[Media Common]enable VADisplayAttribSubDevice support"
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/ddi/media_libva_util.h
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/include/mos_bufmgr_priv.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/common/os/mos_os_specific.h
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.h
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_mock.c
  media_softlet/linux/common/os/mos_context_specific_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix 2pass CSC PROCAMP not work issue
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
Owners: none

initialize the array before use it
  media_driver/agnostic/common/codec/hal/codechal_encode_sfc_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Decode] Expose the reg to disable decode scalability
  media_driver/agnostic/common/codec/hal/codechal_decode_scalability.cpp
  media_driver/agnostic/common/os/mos_os.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_mfx_g11_X.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_scalability_g12.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_mfx_g12_X.h
  media_driver/linux/common/os/mos_os_specific.c
Owners: none

[Decode][Gen12] Provide mem_types when querying surface attributes
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[encode]set hevc enc picture flag to be invalid for invalid reference frame
  media_driver/linux/common/codec/ddi/media_ddi_encode_hevc.cpp
Owners: none

cmrtlib/linux/CMakelists.txt: respect MEDIA_BUILD_FATAL_WARNINGS
  cmrtlib/linux/CMakeLists.txt
Owners: none

[VP] APO FC Code Prepare2: Refine render packet
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_composite.h
  media_softlet/agnostic/common/shared/packet/media_render_cmd_packet.cpp
  media_softlet/agnostic/common/shared/packet/media_render_cmd_packet.h
  media_softlet/agnostic/common/vp/hal/feature_manager/vp_kernelset.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_kernel_config.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_kernel_config.h
  media_softlet/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_cmd_packet.h
  media_softlet/agnostic/common/vp/hal/packet/vp_render_kernel_obj.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_kernel_obj.h
  media_softlet/agnostic/common/vp/hal/platform_interface/vp_platform_interface.cpp
  media_softlet/agnostic/common/vp/hal/platform_interface/vp_platform_interface.h
Owners: none

Add MEDIA_BUILD_HARDENING option
  cmrtlib/linux/CMakeLists.txt
  media_driver/cmake/linux/media_compile_flags_linux.cmake
  media_driver/media_top_cmake.cmake
Owners: none

[Decode] access volation when get status report
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
Owners: none

[Encode] Pass the number of NAL units to codechal
  media_driver/linux/common/codec/ddi/media_ddi_encode_hevc.cpp
Owners: none

reset brc when frame rate changes for VP8e
  media_driver/linux/common/codec/ddi/media_ddi_encode_vp8.cpp
  media_driver/linux/common/codec/ddi/media_ddi_encode_vp8.h
Owners: none

[MOS] Fix the sw latency
  media_driver/linux/common/os/mos_interface.cpp
Owners: none

[Encode] Fix SW BRC after new HUC MHW integration
  media_softlet/agnostic/common/shared/packet/media_packet.h
Owners: none

[Encode]: Fix incorrect MBQP map for HEVC VDENC. Map the QP value for each macro block in one LCU instead of sharing the same value.
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_interface.h
  media_driver/agnostic/gen10/codec/hal/codechal_vdenc_hevc_g10.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_hevc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] MHW AVC Refactor
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_mfx_interface.h
Owners: none

Readme update for building
  README.md
Owners: none

[VP] fix issue about WMP video playback auto closed using HDR
  media_driver/agnostic/common/cm/cm_device_rt_base.cpp
  media_driver/agnostic/common/cm/cm_hal.cpp
  media_driver/agnostic/common/heap_manager/frame_tracker.cpp
  media_driver/agnostic/common/hw/mhw_state_heap.c
  media_driver/linux/common/os/mos_interface.cpp
Owners: none

reset brc when frame rate changes for VP8e
  media_driver/linux/common/codec/ddi/media_ddi_encode_vp8.cpp
  media_driver/linux/common/codec/ddi/media_ddi_encode_vp8.h
Owners: none

[Encode] encode refactor for AV1
  media_common/agnostic/common/codec/media_srcs.cmake
  media_common/agnostic/common/codec/shared/codec_def_common.h
  media_common/agnostic/common/codec/shared/codec_def_common_av1.h
  media_common/agnostic/common/codec/shared/media_srcs.cmake
  media_common/agnostic/common/media_srcs.cmake
  media_driver/agnostic/common/codec/shared/media_srcs.cmake
Owners: none

[Encode] Refactor HEVC VDENC CMD1 const data
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
Owners: none

[VP] Decouple APO & Legacy Preparation
  media_driver/agnostic/common/media_interfaces/media_interfaces_vphal.h
  media_driver/agnostic/common/vp/hal/vphal.cpp
  media_driver/agnostic/common/vp/hal/vphal.h
  media_driver/media_softlet/agnostic/gen12/vp/hal/vp_pipeline_adapter_g12.cpp
  media_softlet/agnostic/common/shared/media_sfc_interface/media_sfc_render.cpp
  media_softlet/agnostic/common/vp/hal/pipeline/media_srcs.cmake
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_adapter.cpp
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_adapter.h
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_adapter_base.cpp
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_adapter_base.h
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
  media_softlet/agnostic/common/vp/hal/platform_interface/vp_platform_interface.h
Owners: none

[Decode] Dump ColMV buffer to different files
  media_driver/agnostic/common/codec/hal/codechal_decode_hevc.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
Owners: none

[Decode] HEVC S2L packet refactor
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/media_srcs.cmake
Owners: none

[Media Common] Fix non-X11 build
  media_softlet/linux/common/ddi/media_libva_interface_next.cpp
Owners: none

Update i915 header file.
  media_driver/linux/common/os/i915/include/uapi/i915_drm.h
Owners: none

[Decode] hardcode L3BankCount for TGL , RKL,ADL
  media_driver/linux/gen12/ddi/media_sysinfo_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Fix memory leak issue of AV1d film grain case
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_postsubpipeline_g12.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_presubpipeline_g12.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_surf_init_g12.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/decode_input_bitstream.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_sfc_histogram_postsubpipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_sub_pipeline.cpp
Owners: none

[VP] correct APO lace outputpipe
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
Owners: none

Revert "[Decode] HEVC S2L packet refactor"
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/media_srcs.cmake
Owners: none

[Media Common] enable BLT copy for some platform.
  media_driver/agnostic/common/hw/mhw_blt.cpp
  media_driver/agnostic/common/hw/mhw_blt.h
  media_softlet/agnostic/common/shared/mediacopy/media_blt_copy.cpp
  media_softlet/agnostic/common/shared/mediacopy/media_blt_copy.h
  media_softlet/agnostic/common/shared/mediacopy/media_copy.cpp
  media_softlet/agnostic/common/shared/mediacopy/media_copy.h
Owners: none

[Decode] Fix AV1d LST failure for Linux
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.cpp
  media_softlet/agnostic/common/codec/hal/dec/av1/features/decode_av1_reference_frames.cpp
  media_softlet/agnostic/common/codec/hal/dec/av1/features/decode_av1_reference_frames.h
Owners: none

[Encode] Refine HevcVdenc MOCS
  media_driver/agnostic/common/hw/mhw_render_generic.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_hwcmd_g12_X.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[Media Common] add media trace log/error framework
  media_driver/agnostic/common/os/mos_os_trace_event.h
  media_driver/agnostic/common/os/mos_util_debug.h
Owners: none

[Media Common] enable linux oca log section
  media_driver/agnostic/common/os/mos_oca_interface.h
  media_driver/agnostic/common/vp/hal/vphal_debug.c
  media_driver/agnostic/common/vp/hal/vphal_debug.h
  media_driver/agnostic/common/vp/hal/vphal_renderer.cpp
  media_driver/agnostic/gen12_tgllp/vp/hal/vphal_renderer_g12_tgllp.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/os/media_srcs.cmake
  media_driver/linux/common/os/mos_oca_interface_specific.h
  media_driver/linux/common/os/mos_oca_specific.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/linux/common/renderhal/hal_oca_interface.cpp
  media_driver/media_softlet/agnostic/gen12/vp/hal/vp_pipeline_adapter_g12.cpp
  media_driver/media_softlet/agnostic/gen12/vp/hal/vp_pipeline_adapter_g12.h
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_adapter.cpp
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_adapter.h
  media_softlet/linux/common/ddi/media_libva_interface_next.cpp
  media_softlet/linux/common/os/mos_gpucontext_specific_next.cpp
  media_softlet/linux/common/os/mos_gpucontext_specific_next.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Bump up version to 21.3.3
  CMakeLists.txt
Owners: none

[Media Common] fix oca kw issue
  media_driver/linux/common/os/mos_oca_specific.cpp
Owners: none

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
