Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] AV1d KW isse fix
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12_base.cpp
Owners: none

[Encode] Add codec specific control for Null HW
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/codec/hal/codechal.h
  media_driver/agnostic/common/codec/hal/codechal_decoder.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.cpp
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/shared/null_hardware.cpp
  media_driver/agnostic/common/shared/null_hardware.h
  media_driver/agnostic/common/vp/hal/vphal.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vp9_g12.cpp
  media_softlet/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_softlet/agnostic/common/shared/pipeline/media_pipeline.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common]Enable Linux Hwinfo
  media_driver/agnostic/common/media_interfaces/media_interfaces_hwinfo_device.h
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/media_interfaces/media_interfaces.cpp
  media_softlet/linux/common/ddi/media_libva_common_next.h
  media_softlet/linux/common/ddi/media_libva_interface_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[CP] Handle non64 align linear surface in VE copy
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_memdecomp.cpp
Owners: none

[VP] fix timeout and memory leak issue
  media_driver/agnostic/common/os/mos_interface.h
Owners: none

[Decode] Refine status report
  media_driver/agnostic/common/codec/hal/codechal_decoder.h
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.h
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.h
  media_softlet/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.h
  media_softlet/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.h
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report_defs.h
Owners: none

[Decode] Enable 2nd level BB OCA dump for AV1d
  media_driver/agnostic/common/hw/mhw_utilities.c
  media_driver/agnostic/common/os/mos_os.h
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
Owners: none

[Decode] Rename HUC packet
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/media_srcs.cmake
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/packet/decode_huc_g12_base.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/packet/decode_huc_g12_base.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/packet/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/media_srcs.cmake
Owners: none

Revert "[Decode] Add film grain output surface into decode status report"
  media_driver/agnostic/common/codec/hal/codechal_decoder.h
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.h
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.h
  media_softlet/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.h
  media_softlet/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.h
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report_defs.h
Owners: none

Revert "[Encode] Add codec specific control for Null HW"
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/codec/hal/codechal.h
  media_driver/agnostic/common/codec/hal/codechal_decoder.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.cpp
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/shared/null_hardware.cpp
  media_driver/agnostic/common/shared/null_hardware.h
  media_driver/agnostic/common/vp/hal/vphal.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vp9_g12.cpp
  media_softlet/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_softlet/agnostic/common/shared/pipeline/media_pipeline.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] fix one kw issue
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/packet/decode_huc_g12_base.cpp
Owners: none

[Encode] Add resolution checks for VEBox params
  media_driver/agnostic/common/codec/hal/codechal_encode_sfc_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Decode] JPEG APO Switch
  media_softlet/agnostic/common/codec/hal/dec/shared/decode_input_bitstream.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
Owners: none

[VP] optimize vpblt cpu timing
  media_driver/agnostic/common/os/mos_os.h
  media_driver/agnostic/common/vp/hal/vphal_common.c
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/hal/vphal_common_tools.h
Owners: none

[VP] Expose VAProcFilter3DLUT in
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Enable OCA for AVC MbEnc kernel G11, G12
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.h
  media_driver/agnostic/gen11/codec/hal/codechal_encode_avc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_avc_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

check the dependencies of libva-x11
  media_driver/cmake/linux/media_compile_flags_linux.cmake
  media_driver/media_top_cmake.cmake
Owners: none

[Media Common] marker res
  media_driver/agnostic/common/hw/mhw_mi_generic.h
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/linux/common/os/mos_interface.cpp
Owners: none

[Decode] Add film grain output resource into status report
  media_driver/agnostic/common/codec/hal/codechal_decoder.h
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.h
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.h
  media_softlet/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.h
  media_softlet/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.h
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report_defs.h
Owners: none

initialize the array before use it
  media_driver/agnostic/common/codec/hal/codechal_encode_sfc_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

Revert "[Decode] JPEG APO Switch"
  media_softlet/agnostic/common/codec/hal/dec/shared/decode_input_bitstream.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
Owners: none

[Encode] Rewrite raw surface color/tile format check
  media_driver/agnostic/common/codec/hal/codechal_encode_csc_ds.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_csc_ds.h
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Reduce MHW interface complexity and improve deissueability
  media_softlet/agnostic/common/hw/mhw_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/hw/mhw_itf.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
Owners: none

[Encode] Remove mhw::Pointer
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_huc_interface.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_interface.h
  media_softlet/agnostic/common/hw/mhw_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_impl.h
Owners: none

[Media Common] Fix MMD Device Init Fail issue
  media_driver/media_interface/media_interfaces_m12_adlp/media_interfaces_g12_adlp.cpp
Owners: none

Revert "[Encode] Rewrite raw surface color/tile format check"
  media_driver/agnostic/common/codec/hal/codechal_encode_csc_ds.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_csc_ds.h
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Improve deissueability for MHW interface
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/hw/mhw_itf.h
Owners: none

[Encode] PFrame enabling porting
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[VP] Fix rgb24 dump exception issue
  media_softlet/agnostic/common/vp/hal/utils/vp_dumper.cpp
Owners: none

[Encode] Refine MHW macros definitions
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_softlet/agnostic/common/hw/mhw_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_hwcmd_process_cmdfields.h
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/hw/mhw_itf.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
  media_softlet/agnostic/common/shared/features/media_feature_manager.h
  media_softlet/agnostic/common/shared/packet/media_packet.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

Revert "[Encode] Refine MHW macros definitions"
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_softlet/agnostic/common/hw/mhw_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_hwcmd_process_cmdfields.h
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/hw/mhw_itf.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
  media_softlet/agnostic/common/shared/features/media_feature_manager.h
  media_softlet/agnostic/common/shared/packet/media_packet.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

Revert "[Decode] Rename HUC packet"
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/media_srcs.cmake
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/media_srcs.cmake
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/packet/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/decode_huc_copy_packet.h
  media_softlet/agnostic/common/codec/hal/dec/shared/packet/media_srcs.cmake
Owners: none

[Encode] Refine MHW macros definitions
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_softlet/agnostic/common/hw/mhw_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_hwcmd_process_cmdfields.h
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/hw/mhw_itf.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
  media_softlet/agnostic/common/shared/features/media_feature_manager.h
  media_softlet/agnostic/common/shared/packet/media_packet.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

Revert "[Encode] Refine MHW macros definitions"
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_softlet/agnostic/common/hw/mhw_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_hwcmd_process_cmdfields.h
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/hw/mhw_itf.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
  media_softlet/agnostic/common/shared/features/media_feature_manager.h
  media_softlet/agnostic/common/shared/packet/media_packet.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] Enable Jpeg MMC for G12
  media_driver/agnostic/common/codec/hal/codechal_encode_jpeg.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_jpeg_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_mmc_encode_jpeg_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_mmc_encode_jpeg_g12.h
  media_driver/agnostic/gen12/codec/hal/media_srcs.cmake
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] Refine macro definitions for MHW CMD parser
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_softlet/agnostic/common/hw/mhw_hwcmd_process_cmdfields.h
  media_softlet/agnostic/common/hw/mhw_itf.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] Refine macro names for MHW interface
  media_softlet/agnostic/common/hw/mhw_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/hw/mhw_itf.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
Owners: none

[CP] add trace event for gpu context create destroy
  media_driver/agnostic/common/os/mos_os_trace_event.h
  media_driver/linux/common/os/mos_context_specific.cpp
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
Owners: none

[VP] Add AYUV format when explictly setting color space
  media_driver/agnostic/common/os/mos_resource_defs.h
  media_driver/agnostic/common/vp/hal/vphal.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_hdr_base.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_sfc_base.cpp
  media_driver/linux/common/vp/ddi/media_libva_vp.c
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
Owners: none

add MediaCopy
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
