Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[Media Common] KW issue fix
  media_driver/agnostic/common/shared/user_setting/media_user_setting_value.h
Owners: none

[VP] render copy implementation
  media_driver/agnostic/common/vp/kernel/vpkrnheader.h
  media_driver/agnostic/gen11_icllp/vp/kernel/igvpkrn_g11_icllp.c
  media_driver/agnostic/gen12_tgllp/vp/kernel/cmfccmlpch/igvpkrn_g12_tgllp_cmfccmlpch.c
  media_driver/agnostic/gen12_tgllp/vp/kernel/cmfcpatch/igvpkrn_g12_tgllp_cmfcpatch.c
  media_driver/agnostic/gen12_tgllp/vp/kernel/igvpkrn_g12_tgllp.c
  media_driver/agnostic/gen12_tgllp/vp/kernel/swsb/igvpkrn_g12_tgllp_swsb.c
  media_driver/agnostic/gen8/vp/kernel/igvpkrn_g8.c
  media_driver/agnostic/gen9_cml/vp/kernel/tgp/igvpkrn_g9_cml_tgp.c
Owners: none

[VP] Use media kernel path to output P010.
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.cpp
Owners: none

[Media Common] Readme update to add GLK and opt feature table
  README.md
  docs/media_features.md
Owners: none

[VP] Adjust the frame height to 8-aligned when 3DLut enabled
  media_driver/agnostic/common/hw/mhw_vebox_generic.h
Owners: none

[VP] Fix HVS Luma consistent check issue
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.h
Owners: none

Revert "[Media Common] KW issue fix"
  media_driver/agnostic/common/shared/user_setting/media_user_setting_value.h
Owners: none

[Encode] Enable arbitrary row slice mode for AVC VDEnc on g12
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
Owners: none

[Encode] Enable HEVC_LA_UPDATE and AVC BRC&PAK perf collection
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Fixed VDEnc pipe initialization
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
Owners: none

[Encode] Add OCA BB for apos encode
  media_softlet/agnostic/common/shared/scalability/media_scalability.h
  media_softlet/agnostic/common/shared/scalability/media_scalability_singlepipe.cpp
  media_softlet/agnostic/common/shared/task/media_cmd_task.cpp
Owners: none

[Media Common] Remove the device context call from common code
  media_driver/agnostic/common/os/mos_os.h
  media_driver/agnostic/common/vp/hal/vphal.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_adapter_base.cpp
Owners: none

[Encode] Enable Jpeg G12 YUV MMC
  media_driver/agnostic/common/codec/hal/codechal_encode_jpeg.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_mmc_encode_jpeg_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Decode] Vp9 prob update huc packet separate to different platforms
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/hucitf/decode_huc_packet_creator_g12.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/hucitf/decode_huc_packet_creator_g12.h
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/hucitf/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/decode_input_bitstream.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/hucItf/decode_huc_packet_creator_base.h
  media_softlet/agnostic/common/codec/hal/dec/shared/hucItf/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/shared/pipeline/decode_sfc_histogram_postsubpipeline.cpp
Owners: none

[VP] set sync flag for compressed FFDN surfaces destroy
  media_driver/agnostic/common/vp/hal/vphal_common.c
  media_driver/agnostic/common/vp/hal/vphal_common.h
Owners: none

[Encode] Codechal dependency move
  media_common/agnostic/common/codec/shared/codec_def_encode.h
  media_common/agnostic/common/codec/shared/media_srcs.cmake
  media_driver/agnostic/common/codec/shared/media_srcs.cmake
Owners: none

[Encode] Encode perf utility tool on release driver
  media_driver/linux/common/os/mos_interface.cpp
Owners: none

[VP] Fix VPP DN not taking effect in New Path
  media_softlet/agnostic/common/shared/packet/media_render_cmd_packet.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.h
Owners: none

[VP] Add apo tcc format support
  media_driver/media_softlet/agnostic/gen12/vp/hal/vp_feature_caps_g12.h
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/vp_feature_caps.h
Owners: none

[Encode] Move codechal settings to APO folders
  media_driver/agnostic/common/codec/hal/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/codechal_setting.cpp
  media_softlet/agnostic/common/codec/hal/codechal_setting.h
  media_softlet/agnostic/common/codec/hal/media_srcs.cmake
Owners: none

[Media Common] fix oca report critical
  media_driver/linux/common/renderhal/hal_oca_interface.cpp
Owners: none

[VP] apo mhw render refactor
  media_driver/agnostic/common/hw/mhw_render.h
  media_driver/agnostic/common/renderhal/media_srcs.cmake
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/common/renderhal/renderhal.h
  media_driver/agnostic/common/renderhal/renderhal_platform_interface.h
  media_driver/agnostic/common/renderhal/renderhal_platform_interface_legacy.cpp
  media_driver/agnostic/common/renderhal/renderhal_platform_interface_legacy.h
  media_softlet/agnostic/common/hw/media_srcs.cmake
  media_softlet/agnostic/common/hw/mhw_render_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_render_impl.h
  media_softlet/agnostic/common/hw/mhw_render_itf.h
  media_softlet/agnostic/common/renderhal/media_srcs.cmake
  media_softlet/agnostic/common/renderhal/renderhal_platform_interface_next.cpp
  media_softlet/agnostic/common/renderhal/renderhal_platform_interface_next.h
Owners: none

[Encode] Update programming for multiple slice cases (fixed) (3)
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_vdenc_g11_X.h
Owners: none

[Vp9 Encode] Add a judgment condition for getting seqParams->TargetUsage
  media_driver/linux/common/codec/ddi/media_ddi_encode_vp9.cpp
Owners: none

[VP] update surface dump name height
  media_softlet/agnostic/common/vp/hal/utils/vp_dumper.cpp
Owners: none

[Encode] Add reg key to disable TCBRC ARB
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[VP] apo mhw render refactor"
  media_driver/agnostic/common/hw/mhw_render.h
  media_driver/agnostic/common/renderhal/media_srcs.cmake
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/common/renderhal/renderhal.h
  media_driver/agnostic/common/renderhal/renderhal_platform_interface.h
  media_driver/agnostic/common/renderhal/renderhal_platform_interface_legacy.cpp
  media_driver/agnostic/common/renderhal/renderhal_platform_interface_legacy.h
  media_softlet/agnostic/common/hw/media_srcs.cmake
  media_softlet/agnostic/common/hw/mhw_render_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_render_impl.h
  media_softlet/agnostic/common/hw/mhw_render_itf.h
  media_softlet/agnostic/common/renderhal/media_srcs.cmake
  media_softlet/agnostic/common/renderhal/renderhal_platform_interface_next.cpp
  media_softlet/agnostic/common/renderhal/renderhal_platform_interface_next.h
Owners: none

[Media Common] Bump up version to 21.4.0
  CMakeLists.txt
Owners: none

[Encode] WA for StreamOutBuffer
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Decode] enable new RGB format support as AV1 sfc output
  media_softlet/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.cpp
  media_softlet/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.h
Owners: none

[Media Common] Fix memory leak issue by MOS_Delete refactor
  media_driver/agnostic/common/os/mos_utilities.h
Owners: none

[Media Common] fix oca bbstart issue
  media_driver/linux/common/renderhal/hal_oca_interface.cpp
Owners: none

[Media Common] Media softlet project
  media_softlet/CMakeLists.txt
  media_softlet/cmake/linux/intel-media.sh.in
  media_softlet/cmake/linux/media_compile_flags_linux.cmake
  media_softlet/cmake/linux/media_feature_flags_linux.cmake
  media_softlet/cmake/linux/media_gen_flags_linux.cmake
  media_softlet/cmake/linux/media_include_paths_linux.cmake
  media_softlet/cmake/media_compile_flags.cmake
  media_softlet/cmake/media_defs.cmake
  media_softlet/cmake/media_feature_flags.cmake
  media_softlet/cmake/media_gen_flags.cmake
  media_softlet/cmake/media_include_paths.cmake
  media_softlet/cmake/media_utils.cmake
  media_softlet/media_top_cmake.cmake
Owners: none

[Encode] Align HuC regions to cache line size
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] Move Codechal to Softlet
  media_driver/agnostic/common/codec/hal/codechal.h
  media_driver/agnostic/common/codec/hal/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/codechal_common.cpp
  media_softlet/agnostic/common/codec/hal/codechal_common.h
  media_softlet/agnostic/common/codec/hal/media_srcs.cmake
Owners: none

[Media Common] Media trace RT log
  media_driver/agnostic/common/os/mos_os_trace_event.h
  media_driver/agnostic/common/os/mos_util_debug.h
  media_driver/agnostic/common/vp/hal/vphal_common.c
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_memdecomp.cpp
  media_driver/agnostic/common/vp/kdll/hal_kerneldll.c
  media_driver/agnostic/gen12/hw/mhw_vebox_g12_X.cpp
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
Owners: none

[Encode] Add description for MediaUserSetting::Group
  media_driver/agnostic/common/shared/user_setting/media_user_setting_configure.h
Owners: none

[Encode] [VP9] Mark overrides of member functions
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_vp9_g11.h
Owners: none

[Encode] Use SPS width/height in src_surface_state
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_mfx_g12_X.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] Enable multislice handling
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com
