Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

Revert "[CP] Enable protected content driver implementation"
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
  media_driver/linux/common/ddi/media_libva_common.cpp
  media_driver/linux/gen10/ddi/media_libva_caps_g10.cpp
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen9/ddi/media_libva_caps_g9.cpp
  media_driver/linux/ult/ult_app/RefCapsTable_BXT.h
  media_driver/linux/ult/ult_app/RefCapsTable_SKL.h
  media_driver/linux/ult/ult_app/driver_loader.cpp
  media_driver/linux/ult/ult_app/driver_loader.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] APG: add MMC platform control
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/mmc/vp_mem_compression.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/mmc/vp_mem_compression.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/vp_platform_interface.h
Owners: none

[VP] Enable Secure Copy in APG Path
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
Owners: none

[Decode] Adding placeholder for APO Mpeg2 decode
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
Owners: none

[Decode] Fix several issues for decode APO.
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_marker.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_marker.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_predication.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_predication.h
Owners: none

[Encode] Report VAConfigAttribEncPackedHeaders for VP9 VDEnc.
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix two vdbox did not work when two vebox were enabled
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
Owners: none

[Encode] Add RGB support for AVC VDEnc
  media_driver/linux/gen11/ddi/media_libva_caps_g11.h
  media_driver/linux/gen12/ddi/media_libva_caps_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

fix memory leak caused by external surface descriptor
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Fix mos_gem_bo_clear_relocs in i915_production/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
Owners: none

[VP] fix FAIL_MAV regression
  media_driver/agnostic/common/vp/hal/vphal_renderer.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_dumper.h
Owners: none

[CP] Enable protected content driver implementation
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
  media_driver/linux/common/ddi/media_libva_common.cpp
  media_driver/linux/gen10/ddi/media_libva_caps_g10.cpp
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen9/ddi/media_libva_caps_g9.cpp
  media_driver/linux/ult/ult_app/RefCapsTable_BXT.h
  media_driver/linux/ult/ult_app/RefCapsTable_SKL.h
  media_driver/linux/ult/ult_app/driver_loader.cpp
  media_driver/linux/ult/ult_app/driver_loader.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode][AVCe] Fixed Bitstream size issue for single slice
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Decode] Fix AV1 large scale tile issue
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
Owners: none

[VP] Put render/vebox heap in local memory only when necessary
  media_driver/agnostic/common/hw/mhw_state_heap.c
  media_driver/agnostic/common/hw/mhw_vebox.cpp
Owners: none

[VP] Refine folder layout for mhw_render
  media_driver/agnostic/g12/g12_base/hw/media_srcs.cmake
  media_driver/agnostic/g12/g12_base/hw/render/media_srcs.cmake
  media_driver/agnostic/g12/g12_base/hw/render/mhw_render_g12_X.cpp
  media_driver/agnostic/g12/g12_base/hw/render/mhw_render_g12_X.h
  media_driver/agnostic/g12/g12_base/hw/render/mhw_render_hwcmd_g12_X.cpp
  media_driver/agnostic/g12/g12_base/hw/render/mhw_render_hwcmd_g12_X.h
  media_driver/agnostic/g12/g12_base/media_srcs.cmake
  media_driver/agnostic/g12/media_srcs.cmake
  media_driver/agnostic/gen12/hw/media_srcs.cmake
  media_driver/agnostic/media_srcs.cmake
Owners: none

Fix mos_gem_bo_clear_relocs in i915_production/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
Owners: none

[Encode] Fix tcbrc caps report issue for HEVC VDEnc
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Add res location in cmd and res offset to OCA
  media_driver/agnostic/common/hw/mhw_utilities.c
  media_driver/agnostic/common/os/mos_oca_interface.h
  media_driver/agnostic/common/renderhal/hal_oca_interface.h
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/linux/common/renderhal/hal_oca_interface.cpp
Owners: none

[Decode] Destory compressed resource with sync flag
  media_driver/agnostic/common/codec/hal/codechal_decoder.cpp
  media_driver/agnostic/common/codec/hal/codechal_decoder.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.cpp
Owners: none

[Media Common] Media Version bump up to 21.1.2
  CMakeLists.txt
Owners: none

vaDeriveImage: Enable WaDisableGmmLibOffsetInDeriveImage for JSL/EHL
  media_driver/linux/gen11/ddi/media_sku_wa_g11.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

vaDeriveImage: Enable WaDisableGmmLibOffsetInDeriveImage for JSL/EHL
  media_driver/linux/gen11/ddi/media_sku_wa_g11.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

enable WaDisableGmmLibOffsetInDeriveImage for EHL/JSL
  media_driver/linux/gen11/ddi/media_sku_wa_g11.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Fix issue about apo caps ult
  CMakeLists.txt
Owners: none

[Media Interface] enable hw info
  media_driver/agnostic/common/media_interfaces/media_interfaces_hwinfo.h
  media_driver/agnostic/common/media_interfaces/media_interfaces_hwinfo_device.h
  media_driver/agnostic/common/media_interfaces/media_srcs.cmake
Owners: none

[VP] refine APG Resource manager
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[Encode] Align some surface states for bottom field case with TGLLP ones
  media_driver/agnostic/gen12/codec/hal/codechal_kernel_intra_dist_mdf_g12.cpp
Owners: none

fix memory leak caused by external surface descriptor
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[MOS] Enable guc based frame split
  media_driver/agnostic/common/os/mos_os.c
  media_driver/agnostic/common/os/mos_os.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/linux/common/os/mos_gpucontext_specific.h
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.h
Owners: none

Revert "[Encode] Fix tcbrc caps report issue for HEVC VDEnc"
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Fix Gmm flags Settings for MMC conditions
  media_driver/linux/common/os/mos_graphicsresource_specific.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/linux/common/os/mos_graphicsresource_specific_next.cpp
Owners: none

[Encode] Fix HEVC resolution checking
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[MOS] Destroy compute gpu context in cmd queue destroy
  media_driver/agnostic/common/cm/cm_queue_rt.cpp
  media_driver/agnostic/common/cm/cm_queue_rt.h
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/agnostic/common/os/mos_os.h
  media_driver/linux/common/os/mos_os_specific.c
Owners: none

[Decode] Fix for HandBrake transcoding perf with mmc
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_avc_g12.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_jpeg_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_jpeg_g12.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_mpeg2_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_mpeg2_g12.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.h
  media_driver/agnostic/gen12/codec/hal/codechal_mmc_g12.cpp
Owners: none

[Encode] Enable SW back annotation support for BRC case
  media_driver/agnostic/gen12/codec/shared/codec_def_common_av1.h
Owners: none

[IGC IssueFix][vISA]: Update the platform info of FC linker in media
  media_driver/agnostic/common/vp/cm_fc_ld/PatchInfo.h
  media_driver/agnostic/common/vp/cm_fc_ld/PatchInfoLinker.cpp
Owners: none

[Encode] CDF table programming for BRC case
  media_driver/agnostic/common/codec/shared/codec_def_common_encode.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_interface.h
Owners: none

Revert "[Encode] Fix issue about apo caps ult"
  CMakeLists.txt
Owners: none

[CP] Enable protected content driver implementation
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
  media_driver/linux/common/ddi/media_libva_common.cpp
  media_driver/linux/gen10/ddi/media_libva_caps_g10.cpp
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen9/ddi/media_libva_caps_g9.cpp
  media_driver/linux/ult/ult_app/RefCapsTable_BXT.h
  media_driver/linux/ult/ult_app/RefCapsTable_SKL.h
  media_driver/linux/ult/ult_app/driver_loader.cpp
  media_driver/linux/ult/ult_app/driver_loader.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com
