Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Mode Inter 64x64 update
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
Owners: none

[Encode] hevc ddi refactor
  media_driver/agnostic/common/shared/user_setting/media_user_setting.cpp
  media_driver/agnostic/common/shared/user_setting/media_user_setting.h
  media_driver/agnostic/common/shared/user_setting/media_user_setting_configure.h
Owners: none

[Encode] Revert hevc ddi refactor and [Media Common] Interface_Version_Fix
  media_driver/agnostic/common/shared/user_setting/media_user_setting.cpp
  media_driver/agnostic/common/shared/user_setting/media_user_setting.h
  media_driver/agnostic/common/shared/user_setting/media_user_setting_configure.h
Owners: none

Revert "[VP] Enable APO by default"
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.h
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[MOS] MOS common header files folder structure refine
  media_common/agnostic/common/hw/media_srcs.cmake
  media_common/agnostic/common/hw/mhw_mi.h
  media_common/agnostic/common/hw/mhw_mmio.h
  media_common/agnostic/common/hw/mhw_render.h
  media_common/agnostic/common/hw/mhw_utilities.h
  media_common/agnostic/common/media_srcs.cmake
  media_common/agnostic/common/os/media_srcs.cmake
  media_common/agnostic/common/os/mos_oca_interface.h
  media_common/agnostic/common/os/mos_os.h
  media_common/agnostic/common/os/mos_os_hw.h
  media_common/agnostic/common/os/mos_os_trace_event.h
  media_common/agnostic/common/os/mos_util_debug.h
  media_common/agnostic/common/os/mos_util_user_feature_keys.h
  media_common/agnostic/common/os/mos_util_user_interface.h
  media_common/agnostic/common/os/mos_utilities.h
  media_common/agnostic/common/shared/media_srcs.cmake
  media_common/agnostic/common/shared/null_hardware.h
  media_common/agnostic/common/shared/user_setting/media_srcs.cmake
  media_common/agnostic/common/shared/user_setting/media_user_setting.h
  media_common/agnostic/common/shared/user_setting/media_user_setting_configure.h
  media_common/agnostic/common/shared/user_setting/media_user_setting_definition.h
  media_common/agnostic/common/shared/user_setting/media_user_setting_value.h
  media_common/linux/common/os/media_skuwa_specific.h
  media_common/linux/common/os/media_srcs.cmake
  media_common/linux/common/os/mos_os_specific.h
  media_common/linux/common/os/mos_os_virtualengine_specific.h
  media_common/linux/common/os/mos_util_debug_specific.h
  media_common/linux/common/os/mos_util_user_feature_keys_specific.h
  media_common/linux/common/os/mos_utilities_specific.h
  media_driver/agnostic/common/hw/media_srcs.cmake
  media_driver/agnostic/common/os/media_srcs.cmake
  media_driver/agnostic/common/shared/media_srcs.cmake
  media_driver/linux/common/os/media_srcs.cmake
  media_softlet/agnostic/common/os/media_srcs.cmake
  media_softlet/agnostic/common/os/mos_graphicsresource_next.h
  media_softlet/agnostic/common/os/mos_interface.h
  media_softlet/linux/common/os/media_srcs.cmake
Owners: none

[Decode] Codec driver refinement
  media_common/agnostic/common/codec/shared/codec_def_common.h
  media_driver/agnostic/common/codec/shared/codec_def_decode.h
Owners: none

[VP] Enable APO by default
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.h
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[Encode] encode mhw mi refactor
  media_common/agnostic/common/hw/mhw_utilities.h
  media_driver/agnostic/common/hw/mhw_utilities.c
  media_driver/agnostic/common/shared/media_perf_profiler.cpp
  media_driver/agnostic/common/shared/media_perf_profiler.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_g12_X.cpp
  media_softlet/agnostic/common/hw/mhw_mi_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_mi_impl.h
  media_softlet/agnostic/common/hw/mhw_mi_itf.h
Owners: none

[Media Common] New platform bringup
  media_softlet/linux/common/os/mos_context_specific_next.cpp
Owners: none

[Encode] Enable av1 CQL feature
  media_common/agnostic/common/codec/shared/codec_def_common_encode.h
Owners: none

[Encode] Fix AVC MBQP regression issue
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[MOS] mos utilities refine
  media_common/agnostic/common/os/mos_utilities.h
  media_common/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/cm/cm_hal_dump.cpp
  media_driver/agnostic/common/heap_manager/memory_block.cpp
  media_driver/agnostic/common/os/mos_os.c
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/shared/media_perf_profiler.cpp
  media_driver/agnostic/common/vp/hal/vphal_debug.c
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_g12.cpp
  media_driver/agnostic/gen8/codec/hal/codechal_fei_avc_g8.cpp
  media_driver/agnostic/gen9/codec/hal/codechal_fei_avc_g9.cpp
  media_driver/linux/common/vp/hal/skuwa_dump_specific.c
  media_driver/linux/ult/ult_app/mos_stub.cpp
  media_softlet/agnostic/common/hw/mhw_hwcmd.h
  media_softlet/agnostic/common/vp/hal/packet/vp_render_kernel_obj.cpp
  media_softlet/agnostic/common/vp/hal/utils/vp_dumper.cpp
  media_softlet/linux/common/vp/hal/skuwa_dumper_specific.c
Owners: none

[VP] lgca kernel
  media_softlet/agnostic/common/shared/packet/media_render_cmd_packet.h
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.h
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_softlet/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_kernel_obj.h
  media_softlet/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[Encode] hevc ddi refactor
  media_common/agnostic/common/shared/user_setting/media_user_setting.h
  media_common/agnostic/common/shared/user_setting/media_user_setting_configure.h
  media_driver/agnostic/common/shared/user_setting/media_user_setting.cpp
Owners: none

[VP] fix DV black output
  media_driver/agnostic/common/hw/mhw_vebox.h
  media_softlet/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
Owners: none

[VP] MOCS cleanup
  media_driver/agnostic/common/hw/mhw_render_generic.h
  media_driver/agnostic/gen12/hw/mhw_sfc_g12_X.cpp
  media_driver/agnostic/gen12/hw/mhw_vebox_g12_X.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_memdecomp_g12.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[VP] Add scaling info related logs
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_fc_filter.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_fc_kernel.cpp
Owners: none

[Decode] Add error detection for AV1 decode film grain parameters
  media_driver/media_softlet/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.cpp
Owners: none

[CP] HuCStreamOutPkt refactor
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/hucitf/huc_streamout_interface_g12.cpp
  media_driver/media_softlet/agnostic/gen12_base/codec/hal/dec/shared/hucitf/media_srcs.cmake
  media_softlet/agnostic/common/codec/hal/dec/shared/hucItf/decode_huc_packet_creator_base.h
Owners: none

[Encode] Handle perf data buffer overflow
  media_driver/agnostic/common/shared/media_perf_profiler.cpp
Owners: none

[VP] Ensure scaling filter existing for all layers
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/policy.h
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_softlet/agnostic/common/vp/hal/features/vp_fc_filter.cpp
  media_softlet/agnostic/common/vp/hal/features/vp_fc_filter.h
  media_softlet/agnostic/common/vp/hal/packet/vp_render_fc_kernel.cpp
Owners: none

[Media Common] Add Attribute to QuerySurfaceAttributes
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Remove the IPC in CreateAssociationNode
  media_common/linux/common/os/mos_os_specific.h
  media_driver/linux/common/os/mos_context_specific.cpp
  media_driver/linux/common/os/mos_context_specific.h
  media_driver/linux/common/os/mos_os_specific.c
  media_softlet/linux/common/os/mos_utilities_specific_next.cpp
Owners: none

[Decode] VP9 Decode Event Trace Log
  media_common/agnostic/common/os/mos_defs.h
  media_common/agnostic/common/os/mos_os_trace_event.h
  media_common/agnostic/common/os/mos_utilities.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_hcp_generic.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.h
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_utilities_specific.cpp
  media_softlet/agnostic/common/os/mos_interface.h
  media_softlet/agnostic/common/os/mos_utilities_next.h
  media_softlet/linux/common/os/mos_utilities_specific_next.cpp
Owners: none

[VP] fix kw issue 20358 20366 20375 20376
  media_softlet/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_fc_kernel.cpp
  media_softlet/agnostic/common/vp/hal/platform_interface/vp_platform_interface.cpp
Owners: none

[Encode] Jpeg MI refactoring
  media_softlet/agnostic/common/hw/mhw_mi_impl.h
Owners: none

Handle odd dimensions for external non-compressible surfaces
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Refactor for AV1 AVP Interface
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
Owners: none

[Encode] Add MMC Skip Mask
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[Media Common] use GPU copy for small resultion on vamap/unmap
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/ddi/media_libva_util.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Interface] New CodecHAL dump type
  media_driver/agnostic/common/shared/media_debug_utils.h
Owners: none

[MOS] Fix the media solo user setting access failure
  media_driver/linux/common/ddi/media_libva.cpp
  media_softlet/linux/common/os/mos_utilities_specific_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[VP] Fix memory leak caused by gpucontext generated in legacy path is not destroyed"
  media_driver/agnostic/common/vp/hal/vphal.cpp
Owners: none

Revert "[Encode] Refactor for AV1 AVP Interface"
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.h
  media_softlet/agnostic/common/media_interfaces/media_interfaces_mhw_next.h
Owners: none

[Upstream] Upstream MHW
  media_driver/agnostic/media_srcs.cmake
  media_driver/media_softlet/agnostic/media_srcs.cmake
Owners: none

[Media Common] Optimization getimage
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix code coverage issue
  media_softlet/agnostic/common/vp/hal/features/vp_di_filter.cpp
Owners: none

[VP] quickly fix Video.BasicVideo failure
  media_softlet/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[MOS] mos utilities refine 2
  media_common/agnostic/common/os/mos_util_user_interface.h
  media_common/agnostic/common/os/mos_utilities.h
  media_driver/agnostic/common/codec/hal/codechal.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.cpp
  media_driver/agnostic/common/hw/mhw_utilities.c
  media_driver/agnostic/common/os/mos_os.c
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/gen12/shared/media_user_settings_mgr_g12.cpp
  media_driver/linux/common/codec/ddi/media_ddi_decode_base.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/os/hwinfo_linux.c
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/linux/common/vp/ddi/media_libva_vp_tools.c
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
  media_driver/linux/gen12/ddi/media_sysinfo_g12.cpp
  media_softlet/agnostic/common/os/mos_utilities_next.h
  media_softlet/agnostic/common/shared/mediacopy/media_copy.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_softlet/linux/common/os/mos_context_specific_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Move deissue interfaces to softlet folders
  media_driver/agnostic/common/codec/hal/media_srcs.cmake
  media_driver/agnostic/common/shared/media_srcs.cmake
  media_driver/linux/common/os/mos_interface.cpp
  media_softlet/agnostic/common/codec/hal/codechal_debug.cpp
  media_softlet/agnostic/common/codec/hal/codechal_debug.h
  media_softlet/agnostic/common/codec/hal/codechal_debug_config_manager.cpp
  media_softlet/agnostic/common/codec/hal/codechal_debug_config_manager.h
  media_softlet/agnostic/common/codec/hal/media_srcs.cmake
  media_softlet/agnostic/common/os/mos_interface.h
  media_softlet/agnostic/common/shared/media_debug_config_manager.cpp
  media_softlet/agnostic/common/shared/media_debug_config_manager.h
  media_softlet/agnostic/common/shared/media_debug_interface.cpp
  media_softlet/agnostic/common/shared/media_debug_interface.h
  media_softlet/agnostic/common/shared/media_debug_utils.h
  media_softlet/agnostic/common/shared/media_srcs.cmake
Owners: none

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
