Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

[Media Common] Fix Gen12 Libva caps
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Align YOffsetForUCb/Cr setting for gmm refactor
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_generic.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.cpp
Owners: none

[VP] Fix for AVS Params reuse issue that prevents recalculating scaling table
  media_driver/agnostic/common/hw/mhw_state_heap.h
  media_driver/agnostic/gen12/hw/mhw_sfc_g12_X.cpp
Owners: none

[Media Common] Explicit tile options
  media_driver/agnostic/common/os/mos_graphicsresource.h
  media_driver/agnostic/common/os/mos_os.h
  media_driver/agnostic/common/os/mos_resource_defs.h
  media_driver/agnostic/common/vp/hal/vphal_common.c
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/media_driver_next/agnostic/common/os/mos_graphicsresource_next.h
Owners: none

[Encode] Fix I Frame hang issue
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox.h
Owners: none

[VP] fix DG1 MAVD issues
  media_driver/media_driver_next/agnostic/common/os/mos_gpucontextmgr_next.cpp
  media_driver/media_driver_next/agnostic/common/os/mos_gpucontextmgr_next.h
Owners: none

[Decode] Enabling APO HEVCd Scalability down sampling.
  media_driver/agnostic/common/hw/mhw_sfc.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_resource_array.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/packet/decode_downsampling_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/packet/decode_downsampling_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/scalability/decode_scalability_option.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.cpp
Owners: none

[CP] Enable HEVC secure decode
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
Owners: none

[Decode] fix one MAVD issue
  media_driver/agnostic/common/media_interfaces/media_interfaces_mhw.h
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
Owners: none

[Decode] Update error checking for srcEndX
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.cpp
Owners: none

[Encode] Additional dumps for AVC VDENC
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Add VPP Deissue ability for compression enabled
  media_driver/media_driver_next/agnostic/common/shared/mmc/media_mem_compression.cpp
  media_driver/media_driver_next/agnostic/common/shared/mmc/media_mem_compression.h
  media_driver/media_driver_next/agnostic/common/vp/hal/mmc/vp_mem_compression.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/mmc/vp_mem_compression.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
Owners: none

[Media Common] add vacopy sync mode
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Align GetSurfaceInfo for codechaldump
  media_driver/agnostic/common/codec/hal/codechal_debug.cpp
Owners: none

Wrong QP report fix
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[CM] Adds pre-defined L3 configurations.
  cmrtlib/agnostic/share/cm_rt.h
  cmrtlib/agnostic/share/cm_rt_g12_dg1.h
  cmrtlib/linux/CMakeLists.txt
Owners: none

[Encode] Loadbalence surface adjustment
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_g12.h
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_mbenc_g12.cpp
Owners: none

[Encode] Add latencyTolerate parameter
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[VP] Correct primary layer output for sfc output
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
Owners: none

[Encode] Merge feature branch changes into comp/media
  media_driver/agnostic/gen11/hw/vdbox/mhw_vdbox_hcp_g11_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.cpp
  media_driver/linux/common/os/mos_os_specific.h
Owners: none

[Media Common] Refactor on Implicit tile handling name
  media_driver/agnostic/common/os/mos_context.h
  media_driver/media_driver_next/agnostic/common/os/mos_context_next.h
Owners: none

[VP] Support GT test in vp pipeline
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
Owners: none

[Media Common] add nullptr check
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[MOS] Add mos deissue interface for function trace
  media_driver/agnostic/common/os/mos_util_debug.h
  media_driver/media_driver_next/agnostic/common/os/mos_util_debug_next.h
Owners: none

[Media Common] Set Tile Flag according to UMD alloc params
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
Owners: none

[MOS] async mode
  media_driver/agnostic/common/codec/hal/codechal_memdecomp.h
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/agnostic/common/os/mos_os.h
  media_driver/agnostic/common/shared/mediamemdecomp.h
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_memdecomp.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.cpp
  media_driver/agnostic/gen12/hw/mhw_vebox_g12_X.cpp
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/agnostic/common/os/mos_cmdbufmgr_next.cpp
  media_driver/media_driver_next/agnostic/common/os/mos_cmdbufmgr_next.h
  media_driver/media_driver_next/agnostic/common/os/mos_commandbuffer_next.cpp
  media_driver/media_driver_next/agnostic/common/os/mos_commandbuffer_next.h
  media_driver/media_driver_next/agnostic/common/os/mos_context_next.h
  media_driver/media_driver_next/agnostic/common/os/mos_gpucontext_next.h
  media_driver/media_driver_next/agnostic/common/os/mos_gpucontextmgr_next.cpp
  media_driver/media_driver_next/linux/common/os/mos_commandbuffer_specific_next.cpp
  media_driver/media_driver_next/linux/common/os/mos_commandbuffer_specific_next.h
Owners: none

[Media Common] correct illegal character in code
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode][Refactor] Move register keys to mos_utilities
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_scalability_g12.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_g12_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_g12_X.h
  media_driver/agnostic/gen12/shared/media_user_settings_mgr_g12.cpp
  media_driver/agnostic/gen12/shared/media_user_settings_mgr_g12.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.cpp
Owners: none

[MOS] gtsysinfo refine
  media_driver/agnostic/common/hw/mhw_vebox_generic.h
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.h
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_memdecomp.cpp
  media_driver/agnostic/gen10/hw/mhw_render_g10_X.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_g12_base.h
  media_driver/linux/common/os/hwinfo_linux.c
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
  media_driver/linux/gen12/ddi/media_sysinfo_g12.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_vebox_copy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix issue in APO iscaling
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_handle.cpp
Owners: none

[Media Common] modify mem policy sequence
  media_driver/agnostic/common/os/mos_utilities.cpp
Owners: none

[Encode] Check for second DS surface passed to MHW
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[Decode] Enhancement for AV1 Large Scale Tile decoding
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_g12_X.cpp
Owners: none

[MOS] Fix the kw issue
  media_driver/media_driver_next/agnostic/common/os/mos_cmdbufmgr_next.cpp
Owners: none

Fix loss of AYUV format in vaQuerySurfaceAttributes.
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Media Common] Set tilemode for Gmm custom parameter"
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/linux/common/os/mos_os_specific.h
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Media Common] Align GetSurfaceInfo for codechaldump"
  media_driver/agnostic/common/codec/hal/codechal_debug.cpp
Owners: none

Revert "[CP] DDI utilties update"
  media_driver/agnostic/common/os/mos_util_debug.h
  media_driver/media_driver_next/agnostic/common/os/mos_util_debug_next.h
Owners: none

[CP] DDI utilties update
  media_driver/agnostic/common/os/mos_util_debug.h
  media_driver/media_driver_next/agnostic/common/os/mos_util_debug_next.h
Owners: none

[Decode] AV1 ULT enhancement
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
Owners: none
