Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Remove LA data buffer from shared structure
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
  media_driver/agnostic/common/codec/shared/codec_def_encode.h
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_hevc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Add media feature loop support in feature manager common code
  media_driver/media_driver_next/agnostic/common/shared/features/media_feature_manager.h
Owners: none

[VP] Fix KW issue
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
Owners: none

Add checking for avoid mismatched size of HEVC slice parameter.
  media_driver/linux/gen11/codec/ddi/media_ddi_decode_hevc_g11.cpp
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_hevc_g12.cpp
Owners: none

[Media Common] Readme update to add AV1 decode support information
  README.md
Owners: none

[Decode] fix one kw issue
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.h
Owners: none

[VP] Temp solution to get reference for ADI
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] readme update to correct format
  README.md
Owners: none

[Media Common] Crashing issue in CmdTask::DumpCmdBuffer
  media_driver/media_driver_next/agnostic/common/shared/task/media_cmd_task.cpp
Owners: none

Add 3-plane surface support in vaExportSurfaceHandle for non-MMC.
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Enable Huc Error Status Report for VP9
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_huc_interface.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] enable umd profiler for release version
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/shared/media_perf_profiler.cpp
  media_driver/agnostic/common/shared/media_perf_profiler.h
  media_driver/media_driver_next/agnostic/common/os/mos_utilities_next.h
  media_driver/media_driver_next/linux/common/os/mos_utilities_specific_next.cpp
Owners: none

[Media Common] add media copy blt engine
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_blt.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_blt.h
  media_driver/media_driver_next/agnostic/m12/m12_0/shared/mediacopy/media_copy_m12_0.cpp
Owners: none

[Encode] Correct SLB size for HEVC VDEnc
  media_driver/agnostic/gen11/codec/hal/codechal_hw_g11_X.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.cpp
Owners: none

[VP] update ChromaSiting default value for Linux ProCamp
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: none

Add NV12 format for HEVCSccMain444 based on the standard.
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Decoder: VP9: GEN9: Disable HPR VP9 mode switch to avoid GPU hang
  media_driver/agnostic/gen9_kbl/hw/vdbox/mhw_vdbox_hcp_g9_kbl.cpp
Owners: none

[CP] Refactor--remove encType in secure decoder class
  media_driver/agnostic/common/codec/hal/codechal_decode_scalability.cpp
  media_driver/agnostic/common/codec/hal/codechal_secure_decode_interface.h
  media_driver/agnostic/common/codec/hal/codechal_setting.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vp9_g12.cpp
Owners: none

Revert "[VP] Temp solution to get reference for ADI".
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[CP] enable secure decode film grain path
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/media_driver_next/agnostic/common/shared/mediacontext/media_context.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacontext/media_context.h
Owners: none

[VP] Fix MSDK composition issue
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
Owners: none

[MOS] Add surface format r8un
  media_driver/agnostic/common/os/mos_os.c
  media_driver/linux/common/os/mos_graphicsresource_specific.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/linux/common/os/mos_graphicsresource_specific_next.cpp
  media_driver/media_driver_next/linux/common/os/mos_os_specific_next.cpp
Owners: none

[VP] Fix VP TGL MAVD issue
  media_driver/agnostic/gen12/vp/hal/vphal_render_vebox_memdecomp_g12.cpp
Owners: none

[vpp] add Format_AYUV to IS_YUV_FORMAT(format)
  media_driver/agnostic/common/os/mos_resource_defs.h
Owners: none

[VP] update ChromaSiting default value for Linux ProCamp
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: none

[Encode] Fix DSS SliceReport issue
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[CP] Refactor--remove encType in secure decoder class"
  media_driver/agnostic/common/codec/hal/codechal_decode_scalability.cpp
  media_driver/agnostic/common/codec/hal/codechal_secure_decode_interface.h
  media_driver/agnostic/common/codec/hal/codechal_setting.h
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vp9_g12.cpp
Owners: none

[VP] Update readme for JSL/EHL sharpening support
  README.md
Owners: none

[Encode] Added switching HME=enable/disable only when reg key is set
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/gen10/codec/hal/codechal_vdenc_avc_g10.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_avc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
  media_driver/agnostic/gen9/codec/hal/codechal_vdenc_avc_g9.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] VP9 VDEnc Performance improvements: Enabling pak-only RePAK and adaptive-RePAK
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.h
Owners: none

[VP] Add X2RGB10 and X2BGR10 in vaQuerySurfaceAttributes
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] New MHW interface
  media_driver/agnostic/common/hw/mhw_utilities.h
  media_driver/media_driver_next/agnostic/common/hw/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/hw/mhw_cmdpar.h
  media_driver/media_driver_next/agnostic/common/hw/mhw_def.h
  media_driver/media_driver_next/agnostic/common/hw/vdbox/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_cmdpar.h
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.cpp
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
Owners: none

Add NV12 format for HEVCSccMain444 based on the standard.
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Convert diry rect in unit of block
  media_driver/linux/common/codec/ddi/media_ddi_encode_hevc.cpp
Owners: none

[Decode] Add film grain support for linux
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.cpp
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.h
Owners: none

[Encode] Derive BPyramid frame level from coding type specified in DDI
  media_driver/agnostic/common/codec/shared/codec_def_encode_hevc.h
  media_driver/linux/common/codec/ddi/media_ddi_encode_hevc.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Add pitch check for vebox DN only case
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.h
  media_driver/agnostic/gen8/vp/hal/vphal_render_vebox_g8_base.cpp
  media_driver/agnostic/gen8/vp/hal/vphal_render_vebox_g8_base.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
Owners: none

Revert "[VP] Add pitch check for vebox DN only case"
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.h
  media_driver/agnostic/gen8/vp/hal/vphal_render_vebox_g8_base.cpp
  media_driver/agnostic/gen8/vp/hal/vphal_render_vebox_g8_base.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
Owners: none

media_libva: make sure the surface is available when calling DdiMedia_SyncSurface
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Add 3-plane surface support in vaExportSurfaceHandle for non-MMC.
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
