Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

Fix AV1 film grain output surface initialization
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.cpp
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.h
Owners: none

[Decode] enable UMD profiler single kernel support for AV1
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_grv_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp2_packet_g12.cpp
Owners: none

correct attribute of HEVC SCC encode surfaces
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] change CMDBuffer allocation from LMEM to SMEM
  media_driver/media_driver_next/linux/common/os/mos_commandbuffer_specific_next.cpp
Owners: none

[Decode] Init aux table by huc copy
  media_driver/agnostic/gen12/codec/hal/codechal_decode_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_jpeg_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_mpeg2_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_mmc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_mmc_g12.h
  media_driver/linux/gen12/ddi/media_sku_wa_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Pass matrix_coefficients of AV1 picture params
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.cpp
Owners: none

Update surface info of m_filmGrainProcParams->m_inputSurface
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
Owners: none

[Encode] Modify BRC params for Flat Gop
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Add reg key to force av1 frame based submission mode
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/pipeline/decode_av1_pipeline.cpp
Owners: none

[Decode] Add multi slice data/params buffers support for AV1
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.cpp
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.h
Owners: none

Pass matrix_coefficients of AV1 picture params
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.cpp
Owners: none

[VP] Add VAAPI version check for interpolation method.
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: none

Revert "[Decode] change CMDBuffer allocation from LMEM to SMEM"
  media_driver/media_driver_next/linux/common/os/mos_commandbuffer_specific_next.cpp
Owners: none

[CM] Set VME surface as read-only
  media_driver/agnostic/common/cm/cm_surface_state.h
Owners: none

[Encode] Release unused buffer and pointer in HEVC codec
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_brc_g12.h
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_mbenc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_sw_scoreboard_mdf_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_sw_scoreboard_mdf_g12.h
  media_driver/agnostic/gen12/codec/hal/codechal_kernel_hme_mdf_g12.cpp
Owners: none

[VP] add XOR kernel
  media_driver/agnostic/common/vp/kernel/vpkrnheader.h
  media_driver/agnostic/gen11_icllp/vp/kernel/igvpkrn_g11_icllp.c
  media_driver/agnostic/gen12_tgllp/vp/kernel/cmfcpatch/igvpkrn_g12_tgllp_cmfcpatch.c
  media_driver/agnostic/gen12_tgllp/vp/kernel/igvpkrn_g12_tgllp.c
  media_driver/agnostic/gen12_tgllp/vp/kernel/swsb/igvpkrn_g12_tgllp_swsb.c
  media_driver/agnostic/gen8/vp/kernel/igvpkrn_g8.c
Owners: none

[Media Common] add media copy
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/os/mos_os_specific.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] xor composite enabling
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/hal/vphal_render_common.h
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
  media_driver/agnostic/common/vp/kdll/hal_kerneldll.c
  media_driver/agnostic/common/vp/kdll/hal_kerneldll.h
  media_driver/agnostic/gen11/vp/kdll/hal_kernelrules_g11.c
  media_driver/agnostic/gen12_tgllp/vp/kdll/hal_kernelrules_g12lp.c
  media_driver/agnostic/gen12_tgllp/vp/kdll/hal_kernelrules_g12lpcmfc.c
  media_driver/agnostic/gen9/vp/kdll/hal_kernelrules_g9.c
Owners: none

[VP] Correct bilinear and avs scaling setting
  media_driver/agnostic/common/hw/mhw_sfc.h
  media_driver/agnostic/common/hw/mhw_sfc_generic.h
  media_driver/agnostic/common/vp/hal/vphal_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
Owners: none

[VP] New sfc hwcmd and interface
  media_driver/agnostic/common/hw/mhw_sfc_generic.h
  media_driver/agnostic/gen10/hw/mhw_sfc_g10_X.cpp
Owners: none

add iHD_drv_video.pc.in and modify CMakeLists.txt
  CMakeLists.txt
  iHD_drv_video.pc.in
Owners: none

[Encode] Added MinMaxQP setting for Gen12 AVC VDEnc
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_vdenc_g12_X.h
Owners: none

[Encode] Add hevc huc memory error termination
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] state heap hwcmd and interface
  media_driver/agnostic/common/hw/mhw_state_heap_generic.h
  media_driver/agnostic/gen10/hw/mhw_state_heap_g10.c
  media_driver/agnostic/gen10/hw/mhw_state_heap_g10.h
  media_driver/agnostic/gen11/hw/mhw_state_heap_g11.c
  media_driver/agnostic/gen11/hw/mhw_state_heap_g11.h
  media_driver/agnostic/gen12/hw/mhw_state_heap_g12.c
  media_driver/agnostic/gen12/hw/mhw_state_heap_g12.h
  media_driver/agnostic/gen8/hw/mhw_state_heap_g8.c
  media_driver/agnostic/gen8/hw/mhw_state_heap_g8.h
  media_driver/agnostic/gen9/hw/mhw_state_heap_g9.c
  media_driver/agnostic/gen9/hw/mhw_state_heap_g9.h
Owners: none

[VP] enable inter frame memninja counter check rebased
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
Owners: none

[Encode] Set LPLA downscale ratio based on DDI value
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_hevc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Upstream] SG1 Open Source
  media_driver/linux/gen12/ddi/media_sysinfo_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Release unused pointer in GEN12 HEVC codec
  media_driver/agnostic/gen12/codec/hal/codechal_encode_wp_mdf_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_kernel_intra_dist_mdf_g12.cpp
Owners: none

[VP] VPP Kernel Set/Obj init
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_kernelset.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_kernelset.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/vp_platform_interface.h
  media_driver/media_driver_next/agnostic/gen12/vp/hal/vp_feature_caps_g12.h
Owners: none

[VP] VP Render Packet base init _V2
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_kernelset.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_kernelset.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_packet_pipe.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_packet_pipe.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/vp_platform_interface.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/vp_platform_interface.h
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_utils.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_grv_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp2_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/vp/hal/vp_vebox_cmd_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/vp/hal/vp_vebox_cmd_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12_tgllp/vp/hal/platform_interface/vp_platform_interface_g12_tgllp.cpp
  media_driver/media_driver_next/agnostic/gen12_tgllp/vp/hal/platform_interface/vp_platform_interface_g12_tgllp.h
Owners: none

[Media Common] Fix Surface Import logic in LibVa
  media_driver/linux/common/ddi/media_libva_util.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] SW&HW Filters: Vebox Update Kernel Soluntion
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/hw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[VP] Vp Render CMD Packet Init
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.h
Owners: none

[CP] add missing end event in some VA buffer map
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Render Packet Functional inplenmention for Common feature support
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_kernelset.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_kernelset.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_grv_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp2_packet_g12.cpp
Owners: none

[VP] Enable predication in APO path
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
Owners: none

[Encode] Remove unneeded constants
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/gen9/codec/hal/codechal_encode_avc_g9.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[VP] Enable STE/TCC/Procamp on APO part 1
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/hw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_handle.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_handle.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_procamp_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_procamp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_ste_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_ste_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_tcc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_tcc_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_common.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
Owners: none

[Decode] Remove unuseful platform indicator code
  media_driver/agnostic/common/codec/hal/codechal_encode_avc.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_jpeg_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] HEVC CodecHal Apply new MHW
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none
