Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Fix SFC histogram issue on APO path
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_sfc_histogram_postsubpipeline.cpp
Owners: none

[VP] Remove sfc2pass surface dump
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
Owners: none

media driver implementation for the LibVA content protection interface
  .github/workflows/ubuntu.yml
  .travis.yml
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/cp/ddi/media_ddi_prot.cpp
  media_driver/linux/common/cp/ddi/media_ddi_prot.h
  media_driver/linux/common/cp/ddi/media_libva_caps_cp_interface.cpp
  media_driver/linux/common/cp/ddi/media_libva_caps_cp_interface.h
  media_driver/linux/common/cp/ddi/media_libva_cp_interface.h
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
  media_driver/linux/common/ddi/media_libva_common.cpp
  media_driver/linux/gen10/ddi/media_libva_caps_g10.cpp
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen9/ddi/media_libva_caps_g9.cpp
  media_driver/linux/ult/ult_app/RefCapsTable_BXT.h
  media_driver/linux/ult/ult_app/RefCapsTable_SKL.h
  media_driver/linux/ult/ult_app/ddi_test_caps.cpp
  media_driver/linux/ult/ult_app/driver_loader.cpp
  media_driver/linux/ult/ult_app/driver_loader.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Interface] Enable unified deissue dump interface
  media_driver/agnostic/common/codec/hal/codechal_debug.cpp
  media_driver/agnostic/common/codec/hal/codechal_debug.h
  media_driver/agnostic/common/codec/hal/codechal_debug_config_manager.cpp
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/shared/media_debug_config_manager.cpp
  media_driver/agnostic/common/shared/media_debug_config_manager.h
  media_driver/agnostic/common/shared/media_debug_interface.cpp
  media_driver/agnostic/common/shared/media_debug_interface.h
  media_driver/agnostic/common/shared/media_debug_utils.h
  media_driver/agnostic/common/shared/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_debug_config_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_debug_config_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_debug_interface.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_debug_interface.h
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_dumper.h
Owners: none

[VP] Common: VPP Policy update and Render CMD packet refine
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/shared/packet/media_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/hw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_kernelset.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_packet_pipe.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_kernel_obj.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
  media_driver/media_driver_next/agnostic/gen12_tgllp/vp/hal/platform_interface/vp_platform_interface_g12_tgllp.cpp
Owners: none

[Encode] Fix R2R BRC media reset issue
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_huc_generic.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_huc_g12_X.cpp
  media_driver/media_driver_next/agnostic/common/shared/scalability/media_scalability.cpp
Owners: none

[VP] Refine feature parameter for scaling csc mirror and rotate
  media_driver/agnostic/gen11/hw/mhw_sfc_g11_X.cpp
  media_driver/agnostic/gen12/hw/mhw_sfc_g12_X.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/shared/media_sfc_interface/media_vdbox_sfc_render.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
Owners: none

[VP] Fix regression issue and add SR model report
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
Owners: none

[Decode] Refine decode reference associated buffer management to avoid potential shared buffer overwritten
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_temporal_buffers.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_temporal_buffers.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_reference_associated_buffer.h
Owners: none

[MOS] Reenable the async mos
  media_driver/media_driver_next/agnostic/common/os/mos_cmdbufmgr_next.cpp
  media_driver/media_driver_next/agnostic/common/os/mos_commandbuffer_next.h
Owners: none

[Decode] Add decode caps for LST
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

ci: update cache before attempting to install packages
  .github/workflows/ubuntu.yml
Owners: none

ci: update cache before attempting to install packages
  .github/workflows/ubuntu.yml
Owners: none

[Media Common] Logs for report Tile mode internally allocated
  media_driver/agnostic/common/os/mos_util_user_feature_keys.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
Owners: none

[CM] Break driver build into parts C/SSE2/SSE4
  media_driver/agnostic/common/cm/cm_mem.cpp
  media_driver/agnostic/common/cm/cm_mem.h
  media_driver/agnostic/common/cm/cm_mem_c_impl.cpp
  media_driver/agnostic/common/cm/cm_mem_c_impl.h
  media_driver/agnostic/common/cm/cm_mem_sse2_impl.cpp
  media_driver/agnostic/common/cm/cm_mem_sse2_impl.h
  media_driver/agnostic/common/cm/media_srcs.cmake
  media_driver/cmake/linux/media_compile_flags_linux.cmake
  media_driver/linux/common/cm/hal/cm_mem_os.cpp
  media_driver/linux/common/cm/hal/cm_mem_os.h
  media_driver/linux/common/cm/hal/cm_mem_os_c_impl.cpp
  media_driver/linux/common/cm/hal/cm_mem_os_c_impl.h
  media_driver/linux/common/cm/hal/cm_mem_os_sse4_impl.cpp
  media_driver/linux/common/cm/hal/cm_mem_os_sse4_impl.h
  media_driver/linux/common/cm/hal/media_srcs.cmake
  media_driver/media_top_cmake.cmake
Owners: none

[VP] Prepare code for SFC 2 pass scaling
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.h
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_caps.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_di_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_di_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_dn_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_dn_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_hdr_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_hdr_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_procamp_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_procamp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_rot_mir_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_rot_mir_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_ste_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_ste_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_tcc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_tcc_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline_common.h
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/vp_platform_interface.h
  media_driver/media_driver_next/agnostic/gen12_tgllp/vp/hal/platform_interface/vp_platform_interface_g12_tgllp.cpp
  media_driver/media_driver_next/agnostic/gen12_tgllp/vp/hal/platform_interface/vp_platform_interface_g12_tgllp.h
Owners: none

[Media Common] Incorrect MOS_GPU_NODE_MAX definition cause failure scheduling to VDBOX2
  media_driver/linux/common/os/mos_os_specific.h
Owners: none

[VP] Enable APO 2 pass scaling by default
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
Owners: none

[CP] Enable Secure Av1 FilmGrain
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_grv_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp2_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_surf_init_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_surf_init_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/media_srcs.cmake
Owners: none

Revert "[CP] Enable Secure Av1 FilmGrain"
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_grv_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp2_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_surf_init_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_surf_init_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/media_srcs.cmake
Owners: none

[Media Common] add mediacopy nullptr check
  media_driver/agnostic/common/media_interfaces/media_interfaces_mcpy.h
  media_driver/media_driver_next/agnostic/common/shared/pipeline/media_pipeline.cpp
  media_driver/media_driver_next/agnostic/m12/m12_0/shared/mediacopy/media_copy_m12_0.cpp
Owners: none

[Encode] HEVC VME comment typo fix
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_brc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_brc_g12.h
Owners: none

[Decode] AV1d driver latency optimization
  media_driver/agnostic/gen12/codec/shared/codec_def_decode_av1.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_tile_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_tile_packet.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
Owners: none

[VP] Add different 2-pass scaling parameter support for upscaling and downscaling
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_caps.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/vp_platform_interface.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/platform_interface/vp_platform_interface.h
  media_driver/media_driver_next/agnostic/gen12_tgllp/vp/hal/platform_interface/vp_platform_interface_g12_tgllp.cpp
  media_driver/media_driver_next/agnostic/gen12_tgllp/vp/hal/platform_interface/vp_platform_interface_g12_tgllp.h
Owners: none

[Decode] Hard code GPU node to MOS_GPU_NODE_VIDEO for multiple pipe decode.
  media_driver/media_driver_next/agnostic/common/shared/mediacontext/media_context.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacontext/media_context.h
Owners: none

[Encode] Add IBC Enable Flag
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox.h
Owners: none

[Decode] Reporting error status for media reset case.
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
Owners: none

[Encode] Add VBVBufferFullness check for HEVC VDEnc BRC
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Add P frame flag
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox.h
Owners: none

[Decode] Correcting bit depth for decode basic feature
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_basic_feature.cpp
Owners: none

Revert "[Decode] AV1d driver latency optimization"
  media_driver/agnostic/gen12/codec/shared/codec_def_decode_av1.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_tile_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_tile_packet.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_picture_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_tile_packet_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
Owners: none

[Encode] Add some fix for encode
  media_driver/media_driver_next/agnostic/common/codec/hal/enc/hevc/features/encode_hevc_header_packer.cpp
Owners: none

[CP] Enable Secure Av1 FilmGrain
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_applynoise_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_grv_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp1_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_filmgrain_gennoise_rp2_packet_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_surf_init_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_surf_init_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/media_srcs.cmake
Owners: none

[Encode] Add BwdRed0 in reflist
  media_driver/media_driver_next/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[Encode] Fix MemNinja log issues
  media_driver/media_driver_next/agnostic/common/os/mos_util_debug_next.cpp
Owners: none

[VP] Enable SkuTable and WaTable dump
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/vp/hal/vphal.cpp
  media_driver/agnostic/common/vp/hal/vphal.h
  media_driver/agnostic/common/vp/hal/vphal_debug.c
  media_driver/agnostic/common/vp/hal/vphal_debug.h
  media_driver/agnostic/common/vp/hal/vphal_renderer.cpp
  media_driver/agnostic/common/vp/hal/vphal_renderer.h
  media_driver/linux/common/os/linux_media_skuwa.h
  media_driver/linux/common/vp/hal/media_srcs.cmake
  media_driver/linux/common/vp/hal/skuwa_dump_specific.c
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_debug_interface.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_debug_interface.h
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_dumper.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_dumper.h
  media_driver/media_driver_next/agnostic/gen12/vp/hal/vp_pipeline_adapter_g12.h
  media_driver/media_driver_next/linux/common/vp/hal/media_srcs.cmake
  media_driver/media_driver_next/linux/common/vp/hal/skuwa_dumper_specific.c
  media_driver/media_driver_next/linux/common/vp/media_srcs.cmake
Owners: none

[Media Interface] utilities refator
  media_driver/agnostic/common/os/mos_util_debug.h
Owners: none

[VP] Prepare code for adding RGB input support in APO path
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_csc_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_sfc_common.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.cpp
  media_driver/media_driver_next/agnostic/m12/m12/vp/hal/packet/vp_render_sfc_m12.h
  media_driver/media_driver_next/agnostic/m12/m12_0/vp/hal/feature_manager/vp_feature_manager_m12_0.cpp
  media_driver/media_driver_next/agnostic/m12/m12_0/vp/hal/feature_manager/vp_feature_manager_m12_0.h
Owners: none

[VP] Enable APO SFC RGB input
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
Owners: none

[CP] Reset variable for secure decode
  media_driver/linux/common/codec/ddi/media_ddi_decode_base.cpp
Owners: none

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
