Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] fix PF issues
  media_driver/agnostic/gen11/hw/mhw_vebox_g11_X.cpp
  media_driver/agnostic/gen11/vp/hal/vphal_render_vebox_g11_base.cpp
  media_driver/agnostic/gen9/hw/mhw_vebox_g9_X.cpp
  media_driver/agnostic/gen9/vp/hal/vphal_render_vebox_g9_base.cpp
Owners: none

[VP] Enable STE/TCC/Procamp on APO part 2
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
Owners: none

[Media Common] fix memleak
  media_driver/linux/common/codec/ddi/media_libva_decoder.cpp
  media_driver/linux/common/codec/ddi/media_libva_encoder.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/vp/ddi/media_libva_vp.c
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Add DN+SR for camera usage
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
Owners: none

[Media Common] Enable Media Copy in Vebox HSB Path
  media_driver/agnostic/common/hw/mhw_vebox.h
  media_driver/agnostic/common/hw/mhw_vebox_generic.h
  media_driver/agnostic/gen12/hw/mhw_vebox_g12_X.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_copy.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_copy.h
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_vebox_copy.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_vebox_copy.h
  media_driver/media_driver_next/agnostic/m12/m12_0/shared/mediacopy/media_copy_m12_0.cpp
  media_driver/media_driver_next/agnostic/m12/m12_0/shared/mediacopy/media_copy_m12_0.h
Owners: none

[VP] Fix KW scan issue
  media_driver/agnostic/common/vp/hal/vphal_render_sfc_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
Owners: none

[CP] cp patch refinement
  media_driver/agnostic/common/hw/mhw_mi_generic.h
  media_driver/linux/common/cp/os/mos_os_cp_interface_specific.h
Owners: none

[Decode] fix memory access overflow issue
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_reference_frames.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
Owners: none

Revert "[VP] Enable STE/TCC/Procamp on APO part 2"
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
Owners: none

[VP] Update resource usage type in legacy render path for caching
  media_driver/agnostic/common/hw/mhw_utilities.c
  media_driver/agnostic/common/hw/mhw_vebox.cpp
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/common/vp/hal/vphal_common.c
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/hal/vphal_render_composite.cpp
Owners: none

[MOS] gpu status buffer
  media_driver/agnostic/common/codec/hal/codechal_decoder.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_mpeg2.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_vp8.cpp
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_hw.cpp
  media_driver/agnostic/common/codec/hal/codechal_memdecomp.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_vp9_base.cpp
  media_driver/agnostic/common/os/mos_gpucontext.h
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/agnostic/common/os/mos_os.h
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_common.c
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.h
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_memdecomp.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_encode_hevc_g11.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_hevc_g11.cpp
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_vp9_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_vp9_g12.cpp
  media_driver/linux/common/os/mos_gpucontext_specific.cpp
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/scalability/decode_scalability_singlepipe.cpp
  media_driver/media_driver_next/agnostic/common/os/mos_gpucontext_next.h
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_vebox_copy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.h
  media_driver/media_driver_next/linux/common/os/mos_gpucontext_specific_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] VP9 Encode Replace Recon Surface to be Variant
  media_driver/linux/common/codec/ddi/media_ddi_encode_vp9.cpp
Owners: none

Revert "[CP] cp patch refinement"
  media_driver/agnostic/common/hw/mhw_mi_generic.h
  media_driver/linux/common/cp/os/mos_os_cp_interface_specific.h
Owners: none

[Media Common] Add RGBP support in vaExportSurfaceHandle
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Don't skip frame with idx 0
  media_driver/agnostic/common/codec/hal/codechal_decoder.cpp
Owners: none

[Decode] Enabling apogioes HEVC scalability decode.
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_resource_array.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/decode_input_bitstream.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/decode_utils.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_basic_feature.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/scalability/decode_scalability_defs.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/scalability/decode_scalability_option.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/scalability/decode_scalability_option.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/scalability/decode_scalability_singlepipe.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/scalability/decode_scalability_singlepipe.h
  media_driver/media_driver_next/agnostic/common/shared/mediacontext/media_context.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacontext/media_context.h
  media_driver/media_driver_next/agnostic/common/shared/pipeline/media_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/shared/pipeline/media_pipeline.h
  media_driver/media_driver_next/agnostic/common/shared/scalability/media_scalability.cpp
  media_driver/media_driver_next/agnostic/common/shared/scalability/media_scalability.h
  media_driver/media_driver_next/agnostic/common/shared/scalability/media_scalability_defs.h
  media_driver/media_driver_next/agnostic/common/shared/scalability/media_scalability_factory.cpp
  media_driver/media_driver_next/agnostic/common/shared/scalability/media_scalability_factory.h
  media_driver/media_driver_next/agnostic/common/shared/scalability/media_scalability_option.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_postsubpipeline_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_filmgrain_presubpipeline_g12.cpp
Owners: none

[VP] Fix APO issues
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.h
Owners: none

[CP] optimize trace event write
  media_driver/linux/common/os/mos_utilities_specific.cpp
  media_driver/media_driver_next/linux/common/os/mos_utilities_specific_next.cpp
Owners: none

[Encode] Add packet level feature manager support
  media_driver/media_driver_next/agnostic/common/shared/features/media_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/shared/features/media_feature_manager.h
  media_driver/media_driver_next/agnostic/common/shared/pipeline/media_pipeline.h
Owners: none

[Media Interface] MAVD Memleak fix
  media_driver/media_driver_next/agnostic/common/os/mos_cmdbufmgr_next.cpp
Owners: none

[Media Common] add media copy log
  media_driver/agnostic/common/os/mos_util_debug.cpp
  media_driver/agnostic/common/os/mos_util_debug.h
  media_driver/agnostic/common/os/mos_util_user_feature_keys.h
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/linux/common/os/mos_util_debug_specific.h
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_blt.h
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_copy.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_copy.h
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_vebox_copy.h
Owners: none

[Media Common] add media copy report key
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_copy.cpp
Owners: none

[Media Common] Added check for resource address for cmd
  media_driver/agnostic/common/hw/mhw_utilities.c
Owners: none

[Encode] Create staging memory and initialize GPU copy for surface dump
  media_driver/agnostic/common/codec/hal/codechal_debug.cpp
Owners: none

[CP] Enable non-HUC HEVC secure decode
  media_driver/agnostic/common/codec/hal/codechal_decode_hevc.cpp
  media_driver/agnostic/common/cp/mhw_cp_interface.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_hcp_generic.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_hcp_interface.cpp
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_hcp_interface.h
Owners: none

Do not advertise support for nonexistent alpha channels in decode/encode
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Add Y212 and Y412 format for decoding
  cmrtlib/linux/share/cm_def_os.h
  cmrtlib/linux/share/cm_rt_def_os.h
  media_driver/linux/common/codec/ddi/media_ddi_decode_vp9.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_common.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/vp/ddi/media_libva_vp.c
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_hevc_g12.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Add Y212 and Y412 format for decoding
  cmrtlib/linux/share/cm_def_os.h
  cmrtlib/linux/share/cm_rt_def_os.h
  media_driver/linux/common/codec/ddi/media_ddi_decode_vp9.cpp
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_common.cpp
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/vp/ddi/media_libva_vp.c
  media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_hevc_g12.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Derive BPyramid frame level from coding type specified in DDI
  media_driver/agnostic/common/codec/shared/codec_def_encode_hevc.h
  media_driver/linux/common/codec/ddi/media_ddi_encode_hevc.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] local memory mode switch
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/shared/memory_policy_manager.cpp
  media_driver/agnostic/common/shared/memory_policy_manager.h
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/os/media_srcs.cmake
  media_driver/linux/common/os/memory_policy_manager_specific.cpp
  media_driver/linux/common/os/mos_graphicsresource_specific.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/linux/common/os/mos_graphicsresource_specific_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "add iHD_drv_video.pc.in and modify CMakeLists.txt"
  CMakeLists.txt
  iHD_drv_video.pc.in
Owners: none

avc_enc: fix uninited m_mmcUserFeatureUpdated
  media_driver/agnostic/common/codec/hal/codechal_encode_avc.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

hevc_enc: fix two uninited variables
  media_driver/agnostic/common/codec/hal/codechal_encode_hevc_base.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Fix issues of vc1 olp and avc sfc for mmc on
  media_driver/agnostic/gen12/codec/hal/codechal_decode_avc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.cpp
Owners: none

[Media Common] enable perf utility for release version
  media_driver/agnostic/common/os/mos_os.h
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Update versions and MD5 of kernels (part 2)
  media_driver/agnostic/gen12/codec/kernel/igcodeckrn_g12_info.csv
Owners: none

[Encode] Update kernels (part 4)
  media_driver/agnostic/gen11/codec/kernel/igcodeckrn_g11.c
  media_driver/agnostic/gen11/codec/kernel/igcodeckrn_g11_info.csv
Owners: none

[Decode] fix AV1 media reset issue
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_temporal_buffers.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_temporal_buffers.h
Owners: none

[Media Common] Query MMC status from gmm in vaExportSurfaceHandle
  media_driver/linux/common/ddi/media_libva.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] add blitter copy caps check
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_copy.cpp
  media_driver/media_driver_next/agnostic/common/shared/mediacopy/media_copy.h
  media_driver/media_driver_next/agnostic/m12/m12_0/shared/mediacopy/media_copy_m12_0.cpp
Owners: none

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
