Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Prepare AVC SW BRC
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Media Common] Fix KW issue
  media_driver/agnostic/common/media_interfaces/media_interfaces_hwinfo.h
  media_driver/agnostic/common/media_interfaces/media_interfaces_hwinfo_device.h
  media_driver/media_interface/media_interfaces_m11_icllp/media_interfaces_g11_icllp.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
Owners: none

[VP] Enable DV in APO
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
Owners: none

[VP] Enable SFC colorfill only when apps calls it explicitly
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/hal/vphal_render_sfc_base.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_sfc_g12_base.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/features/vp_scaling_filter.cpp
Owners: none

[Media Common] add AVC pic param trace event for linux libva
  media_driver/linux/common/codec/ddi/media_ddi_decode_avc.cpp
Owners: none

[Encode] VDENC StreamIn Data buffers optimization
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Media softlet folder
  cmrtlib/CMakeLists.txt
  media_driver/agnostic/gen11/media_srcs.cmake
  media_driver/agnostic/gen12_tgllp/media_srcs.cmake
  media_driver/cmake/media_defs.cmake
  media_driver/linux/media_srcs.cmake
  media_driver/media_top_cmake.cmake
  media_softlet/agnostic/media_srcs.cmake
Owners: none

add new level definition for MPEG2 encode
  media_driver/agnostic/common/codec/hal/codechal_encode_mpeg2.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] Enable LPLA BRC DLL and enable multiple task phase
  media_driver/agnostic/common/codec/hal/BRCIF.h
Owners: none

* [Media Common] implement multiple tile selection interfaces
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/ddi/media_libva_util.h
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/include/mos_bufmgr_priv.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/common/os/mos_os_specific.h
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.h
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_mock.c
  media_driver/media_driver_next/linux/common/os/mos_context_specific_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

Revert "[Decode] implement multiple tile selection interface
  media_driver/linux/common/ddi/media_libva.cpp
  media_driver/linux/common/ddi/media_libva.h
  media_driver/linux/common/ddi/media_libva_caps.cpp
  media_driver/linux/common/ddi/media_libva_caps.h
  media_driver/linux/common/ddi/media_libva_common.h
  media_driver/linux/common/ddi/media_libva_util.cpp
  media_driver/linux/common/ddi/media_libva_util.h
  media_driver/linux/common/os/i915/include/mos_bufmgr.h
  media_driver/linux/common/os/i915/include/mos_bufmgr_priv.h
  media_driver/linux/common/os/i915/mos_bufmgr.c
  media_driver/linux/common/os/i915_production/mos_bufmgr.c
  media_driver/linux/common/os/mos_os_specific.h
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.h
  media_driver/linux/ult/libdrm_mock/mos_bufmgr_mock.c
  media_driver/media_driver_next/linux/common/os/mos_context_specific_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

set the picture flag to be invalid frame if the ref frame is invalid
  media_driver/linux/common/codec/ddi/media_ddi_encode_avc.cpp
Owners: none

[Decode] Apo Jpeg sfc enable
  media_driver/agnostic/common/hw/mhw_sfc.cpp
  media_softlet/agnostic/common/vp/hal/packet/vp_render_sfc_base.cpp
Owners: none

[Encode] Align AVC PPS dump with DDI params
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] Refactor MHW cmd structs
  media_softlet/agnostic/common/hw/media_srcs.cmake
  media_softlet/agnostic/common/hw/mhw_hwcmd.h
Owners: none

[VP] Fix Y410 BOBDI issue
  media_driver/agnostic/common/vp/hal/vphal_render_composite.h
  media_driver/agnostic/gen12/vp/hal/vphal_render_composite_g12.cpp
  media_driver/agnostic/gen12/vp/hal/vphal_render_composite_g12.h
Owners: none

[VP] Hal Perf measurement refine
  media_softlet/agnostic/common/vp/hal/utils/vp_utils.h
Owners: none

[Encode] MHW refactor
  media_softlet/agnostic/common/hw/mhw_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_def.h
  media_softlet/agnostic/common/hw/vdbox/media_srcs.cmake
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_cmdpar.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.cpp
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
Owners: none

[Decode] WA of MFX_WAIT and VD_PIPELINE_FLUSH for long format
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_long_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_long_g12.h
Owners: none

[Decode] Fix CP regression for VC1
  media_driver/agnostic/gen12/codec/hal/codechal_decode_vc1_g12.cpp
Owners: none

[Encode] Add encode SetPrediction/SetMaker support
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.h
  media_driver/agnostic/common/codec/shared/codec_def_encode.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] fix RAW synchronization missing issue
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_g12_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_hcp_g12_X.cpp
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_mfx_g12_X.cpp
Owners: none

[Encode] Reduce some code duplication
  media_softlet/agnostic/common/hw/media_srcs.cmake
  media_softlet/agnostic/common/hw/mhw_hwcmd_process_cmdfields.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[Encode] Add CP tag to output surface the same as for input
  media_driver/agnostic/common/codec/hal/codechal_encode_csc_ds.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_tracked_buffer.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_tracked_buffer.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Fix native or not ROI decision
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Encode] MHW refactor
  media_softlet/agnostic/common/hw/media_srcs.cmake
  media_softlet/agnostic/common/hw/mhw_cmdpar.h
  media_softlet/agnostic/common/hw/mhw_hwcmd.h
  media_softlet/agnostic/common/hw/mhw_hwcmd_process_cmdfields.h
  media_softlet/agnostic/common/hw/mhw_impl.h
  media_softlet/agnostic/common/hw/mhw_itf.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_itf.h
Owners: none

[CP] Enable cp softlet 11
  media_driver/agnostic/common/cp/media_srcs.cmake
  media_driver/agnostic/gen9_skl/hw/vdbox/media_srcs.cmake
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/media_srcs.cmake
Owners: none

Fix typo issue (resouces->resources)
  media_driver/agnostic/common/cm/cm_device_rt_base.cpp
  media_driver/agnostic/common/os/mos_commandbuffer.h
  media_driver/agnostic/common/os/mos_graphicsresource.h
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_denoise.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_denoise.h
  media_driver/agnostic/gen12/hw/mhw_state_heap_hwcmd_g12_X.h
  media_driver/linux/common/os/mos_graphicsresource_specific.h
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
  media_softlet/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
  media_softlet/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.h
  media_softlet/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_resource_auto_lock.h
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_softlet/agnostic/common/os/mos_commandbuffer_next.h
  media_softlet/agnostic/common/os/mos_graphicsresource_next.h
  media_softlet/agnostic/common/os/mos_utilities_next.h
  media_softlet/agnostic/common/shared/bufferMgr/media_allocator.cpp
  media_softlet/agnostic/common/shared/bufferMgr/media_allocator.h
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_allocator.h
  media_softlet/linux/common/os/mos_graphicsresource_specific_next.h
Owners: none

[Media Common] Media softlet folder structure
  media_common/agnostic/common/media_srcs.cmake
  media_common/agnostic/common/os/media_fourcc.h
  media_common/agnostic/common/os/media_srcs.cmake
  media_common/agnostic/common/os/mos_defs.h
  media_common/agnostic/common/os/mos_resource_defs.h
  media_common/agnostic/common/os/mos_utilities_common.h
  media_common/agnostic/media_srcs.cmake
  media_common/linux/common/media_srcs.cmake
  media_common/linux/common/os/media_srcs.cmake
  media_common/linux/common/os/mos_defs_specific.h
  media_common/linux/media_srcs.cmake
  media_driver/agnostic/common/os/media_srcs.cmake
  media_driver/cmake/media_defs.cmake
  media_driver/media_top_cmake.cmake
Owners: none

[Encode] Fix access violation in AVC encode
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[Media Common] Bump up version to 21.2.3
  CMakeLists.txt
Owners: none

[Media Common] Fix the kw issue
  media_driver/linux/common/os/mos_vma.c
Owners: none

In place composition optimization. Only support 2 layers.
  media_driver/agnostic/common/vp/hal/vphal_common.h
  media_driver/agnostic/common/vp/hal/vphal_renderer.cpp
  media_driver/agnostic/common/vp/hal/vphal_renderer.h
Owners: none

[encode]set hevc enc picture flag to be invalid for invalid reference frame
  media_driver/linux/common/codec/ddi/media_ddi_encode_hevc.cpp
Owners: none

[Encode] Implemented MB statistic
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

Fix typo issue (resouces->resources)
  media_driver/agnostic/common/cm/cm_device_rt_base.cpp
  media_driver/agnostic/common/os/mos_commandbuffer.h
  media_driver/agnostic/common/os/mos_graphicsresource.h
  media_driver/agnostic/common/os/mos_interface.h
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_denoise.cpp
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_denoise.h
  media_driver/agnostic/gen12/hw/mhw_state_heap_hwcmd_g12_X.h
  media_driver/linux/common/os/mos_graphicsresource_specific.h
  media_driver/linux/common/os/mos_interface.cpp
  media_driver/linux/common/os/mos_os_specific.c
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/packet/decode_av1_packet_g12.cpp
  media_softlet/agnostic/common/codec/hal/dec/av1/features/decode_av1_basic_feature.cpp
  media_softlet/agnostic/common/codec/hal/dec/av1/packet/decode_av1_picture_packet.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.cpp
  media_softlet/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_allocator.h
  media_softlet/agnostic/common/codec/hal/dec/shared/bufferMgr/decode_resource_auto_lock.h
  media_softlet/agnostic/common/codec/hal/dec/shared/statusreport/decode_status_report.cpp
  media_softlet/agnostic/common/os/mos_commandbuffer_next.h
  media_softlet/agnostic/common/os/mos_graphicsresource_next.h
  media_softlet/agnostic/common/os/mos_utilities_next.h
  media_softlet/agnostic/common/shared/bufferMgr/media_allocator.cpp
  media_softlet/agnostic/common/shared/bufferMgr/media_allocator.h
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_softlet/agnostic/common/vp/hal/bufferMgr/vp_allocator.h
  media_softlet/linux/common/os/mos_graphicsresource_specific_next.h
Owners: none

[Encode] Add jpeg quant table parsing from header
  media_driver/linux/common/codec/ddi/media_ddi_encode_jpeg.cpp
  media_driver/linux/common/codec/ddi/media_ddi_encode_jpeg.h
Owners: none

[Encode] Refine MHW for AV1 COST_STATE
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

[Encode] Enable command parser for AVC VDENC
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

Revert "[Encode] Refine MHW for AV1 COST_STATE"
  media_softlet/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_impl.h
Owners: none

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
