Repository intel/media-driver, changes with the owners that CODEOWNERS names for each.
All owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

CODEOWNERS:

# encoders reviewers
media_driver/agnostic/common/codec/hal/*encoder_base* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_jpeg* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_sfc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/common/codec/hal/*encode_hevc_base* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/common/codec/shared/*common_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/common/codec/shared/*encode_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

media_driver/agnostic/gen*/codec/hal/*encode_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_avc* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_mpeg2* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com
media_driver/agnostic/gen*/codec/hal/*encode_csc_ds* alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/agnostic/gen*/codec/hal/*vdenc_hevc* lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

# just to get timely notifications
media_driver/linux/common/*ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com
media_driver/linux/gen*/ddi/ alexei.leonenko@intel.com denis.volkov@intel.com dmitry.brazhkin@intel.com Ivan.Losev@intel.com Dmitry.Menshov@intel.com lijuan.wang@intel.com thomas.li@intel.com xiaogang.li@intel.com gavin.zhang@intel.com

Revert "[Encode] Refine co-located MV surface handling for AVC VDENC"
  media_driver/agnostic/common/codec/hal/codechal_encode_tracked_buffer.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_tracked_buffer.h
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Decode] Enabling HEVC downsampling decode.
  media_driver/linux/common/codec/ddi/media_ddi_decode_base.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/av1/features/decode_av1_feature_manager.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_basic_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_basic_feature.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_common_feature_defs.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_feature_manager.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/packet/decode_downsampling_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/packet/decode_downsampling_packet.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/packet/decode_marker_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/packet/decode_predication_packet.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/packet/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/pipeline/decode_pipeline_adapter.h
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/scalability/media_srcs.cmake
  media_driver/media_driver_next/agnostic/common/shared/features/media_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/shared/features/media_feature_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/vp_feature_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_feature_manager_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_feature_manager_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/features/decode_av1_filmgrain_feature_g12.h
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.cpp
  media_driver/media_driver_next/agnostic/gen12/codec/hal/dec/av1/pipeline/decode_av1_pipeline_g12.h
Owners: none

[Decode] cmd buffer calculate request space fix
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
Owners: none

[Decode] Enhance robustness for JPEG HW Decode.
  media_driver/linux/common/codec/ddi/media_ddi_decode_jpeg.cpp
Owners: none

[Media Interface] fix some MAVD memleak issue
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.cpp
  media_driver/media_interface/media_interfaces_m12_tgllp/media_interfaces_g12_tgllp.h
Owners: none

[Encode][Refactor] Add Return Message for Features Not Supported
  media_driver/agnostic/gen11/codec/hal/codechal_vdenc_hevc_g11.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] fix some MAVD memleak issues
  media_driver/agnostic/common/renderhal/renderhal.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_hw_g12_X.cpp
Owners: none

[Encode] Further refine co-located MV surface handling for AVC VDENC
  media_driver/agnostic/common/codec/hal/codechal_encode_tracked_buffer.cpp
  media_driver/agnostic/common/codec/hal/codechal_encode_tracked_buffer.h
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.h
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.cpp
  media_driver/agnostic/common/codec/hal/codechal_vdenc_avc.h
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox.h
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_avc_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] Fix vphal dump issue
  media_driver/agnostic/common/vp/hal/vphal_debug.c
  media_driver/media_driver_next/agnostic/common/vp/hal/utils/vp_dumper.cpp
Owners: none

[Decode][Feature] Move internal buffer from feature to packet
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_g12_X.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_interface.h
Owners: none

[Encode][Issuefix] Fix a ULT assert issue
  media_driver/agnostic/common/os/mos_os.h
Owners: none

[Encode][Issuefix] Fix VESFC issues on MediaSolo and a parameter check logic
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_allocator.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
Owners: none

[Decode][Feature] add buf name for resource allocation
  media_driver/agnostic/common/codec/hal/codechal_allocator.cpp
  media_driver/agnostic/common/codec/hal/codechal_allocator.h
  media_driver/agnostic/common/codec/hal/codechal_encode_allocator.cpp
Owners: none

[Decode][Issuefix] fix KW unintialize issue
  media_driver/media_driver_next/agnostic/common/codec/hal/dec/shared/features/decode_downsampling_feature.h
Owners: none

[Decode][Feature] enable OCA HEVC scalability on gen12
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
Owners: none

[Encode][Feature] Support to check whether a media feature is enabled.
  media_driver/media_driver_next/agnostic/common/shared/features/media_feature.h
Owners: none

[Encode][Feature] Add a pointer to new MHW interface in legacy MHW interface
  media_driver/agnostic/common/hw/vdbox/mhw_vdbox_vdenc_interface.h
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_avp_interface.h
Owners: none

[Encode][Feature] Enable TCBRC
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP][Refactor] Refine resource manager and policy with fix for crash
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/bufferMgr/vp_resource_manager.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/hw_filter.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/policy.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter.h
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/feature_manager/sw_filter_pipe.h
  media_driver/media_driver_next/agnostic/common/vp/hal/packet/vp_vebox_cmd_packet.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.cpp
  media_driver/media_driver_next/agnostic/common/vp/hal/pipeline/vp_pipeline.h
Owners: none

Revert "[Decode] cmd buffer calculate request space fix"
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
Owners: none

[VP] Write only one sync tag in Vebox command buffer
  media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp
Owners: none

Revert "Revert "[Decode] cmd buffer calculate request space fix""
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
Owners: none

Revert "[Decode][Feature] enable OCA HEVC scalability on gen12"
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
Owners: none

Revert "Revert "Revert "[Decode] cmd buffer calculate request space fix"""
  media_driver/agnostic/gen12/codec/hal/codechal_decode_hevc_g12.cpp
Owners: none

[Encode][Feature] Limit CQM hint before ACQM enable
  media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode][Feature] Update delta QP used for pyramid
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Media Common] Upgrade media version to 20.4.0
  CMakeLists.txt
Owners: none

[Decode] Add robustness check for superresScaleDenominator in ParsePicParams
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.cpp
Owners: none

[Encode] Add TargetFrameSize to dumps
  media_driver/agnostic/common/codec/hal/codechal_encode_avc_base.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com

[CP] Enable protected surface tracking
  media_driver/linux/common/cp/ddi/media_ddi_prot.cpp
  media_driver/linux/common/cp/ddi/media_ddi_prot.h
Owners: none

Revert "[Decode] Correcting Huc workload command size for M12."
  media_driver/agnostic/gen12/hw/vdbox/mhw_vdbox_huc_g12_X.cpp
Owners: none

[CM] Add CMRT memory object counters for memory growth / leak detection
  media_driver/agnostic/common/cm/cm_device_rt_base.cpp
  media_driver/agnostic/common/cm/cm_device_rt_base.h
  media_driver/agnostic/common/cm/cm_event_rt.cpp
  media_driver/agnostic/common/cm/cm_group_space.cpp
  media_driver/agnostic/common/cm/cm_kernel_rt.cpp
  media_driver/agnostic/common/cm/cm_program.cpp
  media_driver/agnostic/common/cm/cm_task_rt.cpp
  media_driver/agnostic/common/cm/cm_thread_space_rt.cpp
  media_driver/linux/common/cm/hal/cm_device_rt.cpp
Owners: none

[Encode] Fix Recon buffer size
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_g12.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_encode_hevc_g12.h
Owners: none

[Encode] Move CheckRawColorFormat to protected
  media_driver/agnostic/gen12/codec/hal/codechal_encode_csc_ds_g12.h
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[VP] remove jsl/ehl kernel files
  media_driver/agnostic/gen11_jsl_ehl/vp/kdll/hal_kernelrules_g11jsl_ehl.c
  media_driver/agnostic/gen11_jsl_ehl/vp/kdll/media_srcs.cmake
  media_driver/agnostic/gen11_jsl_ehl/vp/kernel/igvpkrn_g11_jsl_ehl.c
  media_driver/agnostic/gen11_jsl_ehl/vp/kernel/igvpkrn_g11_jsl_ehl.h
  media_driver/agnostic/gen11_jsl_ehl/vp/kernel/media_srcs.cmake
  media_driver/agnostic/gen11_jsl_ehl/vp/media_srcs.cmake
Owners: none

[Decode] Report the correct profile for AV1 decode
  media_driver/linux/gen12/codec/ddi/media_ddi_decode_av1_g12.cpp
  media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode][KernelUpdate] Update LA kernel to enable TCBRC and improve quality
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.h
Owners: lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[Encode] Reduce Memory Footprint for Internal Buffers
  media_driver/agnostic/common/codec/hal/codechal_hw.h
Owners: none

[Encode] Mock Adaptor Enabling
  media_driver/agnostic/common/codec/hal/codechal_decoder.cpp
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/common/hw/mhw_mi.h
  media_driver/agnostic/common/os/media_srcs.cmake
  media_driver/agnostic/common/os/mos_os.h
  media_driver/agnostic/common/os/mos_os_mock_adaptor.cpp
  media_driver/agnostic/common/os/mos_os_mock_adaptor.h
  media_driver/agnostic/common/os/mos_os_mock_adaptor_ext.cpp
  media_driver/agnostic/common/os/mos_utilities.cpp
  media_driver/agnostic/common/os/mos_utilities_common.h
  media_driver/agnostic/common/shared/media_srcs.cmake
  media_driver/agnostic/common/shared/null_hardware.cpp
  media_driver/agnostic/common/shared/null_hardware.h
  media_driver/linux/common/codec/ddi/media_ddi_encode_base.cpp
  media_driver/linux/common/os/media_srcs.cmake
  media_driver/linux/common/os/mos_os_mock_adaptor_specific.cpp
  media_driver/linux/common/os/mos_os_mock_adaptor_specific.h
  media_driver/media_driver_next/agnostic/common/shared/mmc/media_mem_compression.cpp
  media_driver/media_driver_next/agnostic/common/shared/packet/media_packet.cpp
  media_driver/media_driver_next/linux/common/os/mos_context_specific_next.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com

[CP] Do lazy allocation for status report resource
  media_driver/agnostic/common/codec/hal/codechal_encoder_base.cpp
  media_driver/agnostic/gen12/codec/hal/codechal_vdenc_hevc_g12.cpp
Owners: alexei.leonenko@intel.com, denis.volkov@intel.com, dmitry.brazhkin@intel.com, Ivan.Losev@intel.com, Dmitry.Menshov@intel.com, lijuan.wang@intel.com, thomas.li@intel.com, xiaogang.li@intel.com, gavin.zhang@intel.com
